[2021-10-20 20:44] ffilz commented on #668
This may be something that needs to wait for V5, perhaps back ported to V4-stable.

[2021-10-20 21:30] rakesh-roshan opened #751 "nfs-ganesha crashes with Segmentation fault"
Ganesha version: 3.5.
Ntirpc : v3.5
VFS: Custom VFS

The error log

[code]

The stacktrace using gdb

[code]

The error is occuring at [mdcache_handle.c#L1166](https://github.com/nfs-ganesha/nfs-ganesha/blob/V3.5/src/FSAL/Stackable_FSALs/FSAL_MDCACHE/mdcache_handle.c#L1166-L1169)

[2021-10-20 22:57] ffilz commented on #751
Daniel any thoughts on this one?

[2021-10-21 00:13] ffilz commented on #557
There is a fix for this in https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/525891

[2021-10-21 00:17] ffilz commented on #698
Done, added links to next and V3-stable (will update to V4-stable once that's available.

[2021-10-21 00:20] ffilz commented on #750
Sorry where is this link that needs to be fixed?

[2021-10-21 03:33] Hearzzhen commented on #723
Yes, this issue still exist. But I modified the code as follows:

In src/FSAL/Stackable_FSALs/FSAL_MDCACHE/mdcache_helpers.c:

`
--- a/src/FSAL/Stackable_FSALs/FSAL_MDCACHE/mdcache_helpers.c
+++ b/src/FSAL/Stackable_FSALs/FSAL_MDCACHE/mdcache_helpers.c
@@ -2289,6 +2289,7 @@ mdc_readdir_chunk_object(const char *name, struct fsal_obj_handle *sub_handle,
                        /* This is the cookie

[2021-10-21 12:59] dang commented on #751
Seems like the sub-handle is gone, but hard to know for sure.  It seems odd that we'd be in CLEANUP in this codepath, but it's not impossible.  Some questions:

How reproducible is this?
Are there logs?
Can you catch this in then debugger?

[2021-10-21 13:53] ffilz commented on #723
Could you submit a patch via gerrithub as described in src/CONTRIBUTING_HOWTO.txt

[2021-10-22 00:14] ffilz commented on #727
I've added some documentation on ACL support to the wiki but it needs a few more bits filled in before I close this.

[2021-10-22 03:25] Hearzzhen commented on #723
OK. I have submitted the patch in following link:
https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/526076
Please review, thanks!

[2021-10-22 08:22] PopiBrossard commented on #748
Shouldn't this be re-qualified as a bug, because FSAL_VFS should work the same as the nfs-kernel-server ?

Do you know if there is a way to avoid this issue with some nfs mount arguments ? I mean, for example, adding "mount -t nfs4 -o noac,...".

[2021-10-22 12:31] DagothDeer opened #752 "Question - Hello, I don't understand how to install "nfs-ganesha" on debian 9 (Stretch)."
Hello, I don't understand how to install "nfs-ganesha" on debian 9 (Stretch).
I download package "nfs-ganesha_3.5-1_amd64" from "https://download.nfs-ganesha.org/3/LATEST/Debian/9/amd64/apt/pool/main/n/nfs-ganesha/", and I tried install it: "dpkg -i nfs-ganesha_3.5-1_amd64". Result on screen.
![1](https://user-images.githubusercontent.com/33806067/138453627-fcc2e56d-4d1e-4e64-8b12-a933a86124c1.png

[2021-10-22 14:26] ffilz commented on #748
Ganesha doesn't guarantee it can always work the same as Kernel NFS. When FSAL_VFS was written, no Kernel filesystem known to us used such a large handle so we just assumed all handles would fit in both NFSv3 and NFSv4 handles so we didn't make accounting for a FSAL_VFS export only being able to work with NFSv4 clients. Since then, there are Kernel file systems that have larger handles so we will

[2021-10-22 14:28] ffilz commented on #723
Thanks, we'll review that and we should be able to get it into rc2 next week.

[2021-10-22 14:58] PopiBrossard commented on #748
I wasn't aware of the amount of work my issue was responsible of. Thanks for the complete answer and the time you spent on this issue.

I don't think I have enough competences in development to help you here, I'm sorry.

Have a nice week-end.

[2021-10-23 14:01] davkar3n commented on #731
Yes, issue is still active

[2021-10-23 19:37] qwazer commented on #750
At https://github.com/nfs-ganesha page

[2021-10-24 04:04] liyinshubyte opened #753 "Why use client hostname as the key of client record ?"
@ffilz Hi, excuse me, recently I found ganesha use [client hostname](https://github.com/nfs-ganesha/nfs-ganesha/blob/next/src/Protocols/NFS/nfs4_op_exchange_id.c#L217) as the key of client record, but in docker, there maybe exist the same client hostname for different pods, so error maybe happens. Could we use other variable as the key of client record ? which can make sure the uniqueness.

[2021-10-25 13:44] christmart commented on #752
To fix these errors and install the needed dependencies use
`apt install -f`
The better way is to not use dpkg but apt. You can call apt with path names for local files:
`apt install ./nfs-ganesha_3.5-1_amd64.deb`
Keep in mind that you need more packages from the download directory depending on your usage.

[2021-10-25 14:11] rakesh-roshan commented on #751
It is intermittent. I have coredump file but no other logs. I have not yet figured out a deterministic way to reproduce it.

[2021-10-25 14:42] ffilz commented on #723
Looks good, that will go into rc2. Thanks for the submission.

[2021-10-25 15:54] ffilz commented on #318
OK, as of 330f79d which is in V2.5.0.4 which is newer than V2,2-dev-22 where 61c2774 was merged, the issue isn't actually the use of op_ctx->client since 330f79d  actually made that not happen anyway. Instead, the issue I think is that client_mgr.c doesn't match IPv4 addresses that are encapsulated in IPv6, which is actually called out in the original problem description.

We have code to match IP

[2021-10-25 15:58] ffilz commented on #318
And it looks like the issue is we actually cause rpc.statd to register the IPv6 encapsulated address. I'm going to hazard a guess that we should instead register the unencapsulated IPv4 address...

[2021-10-25 18:23] DagothDeer commented on #752
Thx for the answer.

[2021-10-25 18:55] kalebskeithley commented on #752
I'll interpret this as "why are the README.txt files missing in the 3.5/* directories."  (They were there in the 3.4/* directories.)

I have added the README.txt files to all the 3.5/* directories.

[2021-10-25 18:55] #752 closed, assigned to kalebskeithley

[2021-10-26 22:15] ffilz commented on #318
OK, after some major work, I think I have this all working now... There are several patches, but this is HEAD of my branch:

https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/526274

It can also be found on github:

https://github.com/ffilz/nfs-ganesha/commits/fix4

I still need to test that things all work for nsm_use_caller_name == true.

[2021-10-26 22:17] ffilz commented on #753
Which client record? I'm not sure how well Ganesha is going to work if the same client name refers to multiple actual clients...

[2021-10-26 22:22] ffilz commented on #574
Maybe I'll have a look at this one and see if it's a simple fix.

[2021-10-27 00:48] liyinshubyte commented on #753
@ffilz Thanks the reply.

The client record saved in `ht_client_record`

The session will be created and deleted infinitely. For example, clientA and clientB use the same hostname. clientA created sessionA1, then clientB created sessionB1 and will delete sessionA1 by [nfs_client_id_expire](https://github.com/nfs-ganesha/nfs-ganesha/blob/next/src/Protocols/NFS/nfs4_op_create_session.c#L444) when cl

[2021-10-27 02:20] ffilz commented on #753
Because it's called out in section 16.33.5. IMPLEMENTATION of RFC 7530:

To understand how to implement SETCLIENTID, make the following
notations. Let:

x be the value of the client.id subfield of the SETCLIENTID4args structure.

v be the value of the client.verifier subfield of the SETCLIENTID4args structure.

c be the value of the client ID field returned in the SETCLIENTID4resok structure.

k r

[2021-10-27 14:16] ffilz commented on #753
See this documentation for the Linux client:

https://www.kernel.org/doc/html/latest/admin-guide/nfs/nfs-client.html#the-nfs4-unique-id-parameter

However that doesn't solve the issue for containers (see the bottom of the section)...

This Red Hat Bugzilla sheds some light on the issue:

https://bugzilla.redhat.com/show_bug.cgi?id=1801326

You might also search the linux-nfs mailing list archives

[2021-10-27 14:16] ffilz commented on #753
Adding wontfix to make it clear there will be no Ganesha code changes for this.

[2021-10-27 16:49] ffilz commented on #574
I'm going to fix the return type issue, If EINTR is really a problem for Ganesha, we really need to audit ALL the system calls for EINTR...

[2021-10-27 16:58] ffilz commented on #574
Fixed the return value in https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/526323

If we want to audit all system calls for EINTR handling, let's open a separate github issue.

[2021-10-27 17:00] ffilz commented on #750
Oh, OK, got it. I think that's supposed to link to an external project page which we really don't have... Fixed it up.

[2021-10-27 17:14] ffilz commented on #694
I'm going to mark this as an enhancement, anyone is free to work on this and submit patches but it is unlikely we will consider it for work.

[2021-10-27 17:15] ffilz commented on #745
Have you taken another look? Are you still having issues with this?

[2021-10-27 17:21] dang commented on #702
Code to improve reuse an release more entries above hwmark was merged in V4-dev.22

[2021-10-27 17:23] ffilz commented on #724
Where is your NFSv4 recovery directory located? It looks like something wonky is going on with accessing that.

[2021-10-27 17:38] ffilz commented on #377
V4-dev.18 is actually pretty old... I'm just going to close this as try on supported version. Please re-open if it is still an issue with V3.5 or V4-rc1 (or later).

[2021-10-27 17:46] jtlayton commented on #693
Yeah, I think you want that commit, and you'll also need a new enough libcephfs to support it. That should allow the normal mds cap/inode culling mechanisms to work.

On a related note, I wonder too if ganesha ought to attempt to more aggressively release handles that have been unlinked but that aren't open. Basically make it do what mdc_up_try_release does after those calls complete?

[2021-10-27 18:20] sempervictus commented on #745
Still having issues with this, the maybe uninit piece is default from what i can tell in 11.
I can try to add a CFLAG to the build inside my Arch Linux pkgbuild for it, but if GCC doesn't like it and older versions of GCC are going away, it might be handy to have the actual C files contain relevant pragma calls to avoid FP errors

[2021-10-27 18:23] #726 closed, assigned to nobody

[2021-10-27 18:32] ffilz commented on #702
OK, I'm going to mark this as try on supported version, please try on V4-rc1 (or later)

[2021-10-27 18:49] ffilz commented on #687
Bump

[2021-10-27 19:01] ffilz commented on #733
OK, so f_fsid from statfs is the same for / and /exports. I'm not sure why. And / and /exports aren't getting a UUID so that doesn't take precedence. I guess we should check if the device numbers are the same before abandoning duplicate. I don't remember where f_fsdid is supposed to come from and if that is expected to be unique. I have to do a bit more research.

[2021-10-27 19:03] seanfulton commented on #687
I switched everything back to NFSv3 so I did not have to deal with the problem. It is a very strange issue though but I am not sure if it is ganesha related. Has no one else had this issue?

sean

[2021-10-27 19:06] ffilz commented on #693
OK, it sort of sounds like this needs to be checked on V4-rc1 (or later) and a recent libcephfs. I'm going to mark this as needs verification since we believe a fix is in V4.

[2021-10-27 19:07] ffilz commented on #702
Actually going to change this to needs verification

[2021-10-27 20:27] ffilz commented on #733
Could you try setting

NFS_CORE_PARAM {
    fsid_device = true;
}

In your config? That will tell Ganesha to just use the device ID and skip trying blkid and f_fsid. The f_fsid is provided by the individual file systems so might not be unique.

What is actually underlying your root filesystem? It's listed as overlay in the current mounts you shared.

[2021-10-27 20:44] ffilz commented on #735
I just noticed this is very old Ganesha. Please try on V3.5 or V4-rc1.

[2021-10-27 20:45] ffilz commented on #681
Bump so the live issues are on the first page

[2021-10-27 20:46] ffilz commented on #361
Bump to keep live issues on first page.

[2021-10-27 20:47] ffilz commented on #517
Bump to keep live issues on the first page.

[2021-10-27 20:48] ffilz commented on #736
Bump to keep live issues on the first page

[2021-10-27 20:48] ffilz commented on #738
Bump to keep live issues on first page

[2021-10-27 20:49] ffilz commented on #668
Bump to keep live issues on first page.

[2021-10-27 20:49] ffilz commented on #589
Bump to keep live issues on first page

[2021-10-27 21:06] ffilz commented on #731
FSAL_CEPH definitely needs some performance work. I am working on making FSAL_CEPH able to use Ganesha's async read/write capability which may or may not help. PNFS work has also been proposed but not committed. Beyond that, there is no commitment to work on performance. As such, I'm going to mark this an enhancement. If you have expertise and ideas to work on performance, we always welcome new co

[2021-10-27 21:22] ffilz opened #754 "Clean up staticfsinfo and configuration of filesystem capabilities"
There are lots of support flags in the staticfs info that really aren't used and it isn't clear why anyone would ever set anything different. Also most FSALs have a config block where some things can be changed that don't make sense such as link support.

Clean this all up to simplify FSALs and make it easier to see what things are actually configurable or different across FSALs.

[2021-10-27 21:29] ffilz commented on #754
named_attr is one that probably should be removed...

[2021-10-27 21:36] boulos commented on #517
As a timeline question: since the wiki isn't committed in the code
anywhere, how critical is this? (I think the client renewal is higher
priority, for example)

[2021-10-27 21:42] ffilz commented on #727
OK, ACL documentation is updated. I think this is now clear.

[2021-10-27 21:54] ffilz commented on #687
NFSv4 ID Mapping is troublesome, I have had to help folks configure it properly for the 15 years I have been supporting Linux NFS (first Kernel NFS server and now Ganesha). In one sense, it's really simple. In another sense, it's so obscure folks regularly get it wrong. I'm going to write a documentation page that should hopefully help. I will need to investigate all of how NIS and other ID manage

[2021-10-27 21:57] ffilz commented on #517
Considering FSAL_PROXY_V3 is going into V4.0 it would be nice to have some documentation so we can really highlight it as a new feature. Unless the client renewal situation is relatively simple to fix, it may miss V4.0 (though it will be a candidate for back port). V4-rc2 will come out this week and we want to tag V4.0 before end of year, which ultimately means mid-December at the latest (which is

[2021-10-27 22:07] ffilz commented on #745
The -W flags my builds look like they use are:

-Werror -Wall -Wimplicit -Wformat -Wmissing-braces -Wreturn-type -Wunused-variable -Wuninitialized -Wno-pointer-sign -Wno-strict-aliasing

I'm not sure if that's different for you.

Marking all of the warnings you are seeing would be quite an effort.

I'm not up on all the compiler flags, so I don't know if someone made an explicit choice to not use

[2021-10-27 23:08] seanfulton commented on #687
I feel like there should be some kind of documentation. It should be pretty straightforward, tell /etc/idmapd.conf the host name and if hostname returns the same thing, everything should work. But it doesn't seem to be so and I still can't figure out why. Fortunately, nfsv3 worked, but I think nfsv4 handles failures better, so if you can send over any docs, I would appreciate it.

I had something

[2021-10-28 08:09] FATruden commented on #693
Hi,

Yes, but we use workaround like periodic restart all nfs-ganesha instances to release used space.

Yes, i can. But it will take some time.

[2021-10-29 02:07] liyinshubyte opened #755 "Ganesha can not run continually when open asan"
@ffilz @martinetd @dang

Hi, excuse me, when I open asan by set `option(SANITIZE_ADDRESS "Enable AddressSanitizer for sanitized targets." ON)`,
the ganesha cost 100% cpu, and hang, then I perf ganesha and find asan cost 100% cpu. Is it normal  ?
![image](https://user-images.githubusercontent.com/92144382/139361414-13849248-aa9e-4fcf-8c4e-b76f9615ffa4.png)

The ganesha only print the following log

[2021-10-29 06:57] PandaEye2009 commented on #736
Yes, it matches.I submitted a bug on www.tracker.ceph.com

[2021-10-29 14:18] dang commented on #755
This is not normal.  I run with ASAN on in almost every run I do, and it works fine.

[2021-10-29 14:23] ffilz commented on #736
Have you tried getting a core dump with proper debug information? We need that before we can do anything.

Also, can you provide a usable link to the bug on tracker.ceph.com (the link above doesn't even work).

[2021-10-29 14:25] ffilz commented on #755
What version of Ganesha? What FSAL?

[2021-10-29 14:29] ffilz commented on #557
Closing as verified per comment in gerritub.

[2021-10-29 14:29] #557 closed, assigned to ffilz, christmart

[2021-10-29 14:57] liyinshubyte commented on #755
@dang @ffilz Thanks the reply, I use ganesha with version [V4-dev.18](https://github.com/nfs-ganesha/nfs-ganesha/commit/64f0146c0c30a5fa9b7f34324d9238d7fbfc2624), we use the FSAL implemented by ourselves.  So is there other config to open ASAN except `option(SANITIZE_ADDRESS "Enable AddressSanitizer for sanitized targets." ON)`, or am I need to make some settings in my own FSAL ?

[2021-10-29 16:28] davkar3n commented on #731
Hi @ffilz ,

i was investigating the NFS server performance.

when writing 4k files 10.000 and more its having such a issue.

But cephfs is has better performance comparing with NFS the same files.

i can give you example of project i was trying to copy over NFS.

i use nextcloud server and unzipped then copied over NFS

[2021-11-01 01:39] PandaEye2009 commented on #736
Yes, there is a proper .core file, and I think it is libcephfs's bug.
Sorry for the link above, the link is https://tracker.ceph.com/issues/52508
Thanks for your attention.

[2021-11-01 12:01] betainc opened #756 "The NFS client cannot access the mounted directory for a long time"
testing scenarios：
Three ganesha server nodes: Node1, Node2, Node3. The whole system achieves HA through CTDB, each node has three virtual IPs to provide external access services.
A client is mounted on Node1.
The storage backend is ceph. Grace_Period = 10; Lease_Lifetime = 10;  RecoveryBackend = rados_kv;
The ganesha version is 3.3, the nfs-utils version of client is 2.3.3-31, the ceph version is

[2021-11-01 13:50] dang commented on #755
SANITIZE_ADDRESS is all that's necessary at build time.  FSALs need to have ASAN enabled in their CMakeLists.txt like this:

add_sanitizers(fsalmem)

(That example is from src/FSAL/FSAL_MEM/CmakeLists.txt)

[2021-11-01 14:00] dang commented on #756
Things like this have usually been network issues in my experience.  There are lots of potential network problems with IP failover.

First, and most common, is the ARP table on the NFS client.  This is the mapping between the IP address and the physical, network layer address, called the MAC that assigned to the network card on the server.  All computers keep such a mapping, and there's a protocol

[2021-11-01 14:11] ffilz commented on #736
OK, can we close this issue then?

[2021-11-01 14:54] liyinshubyte commented on #755
@dang Thanks the reply, I think it's related to `pthread_create` load order in dynamic library. My phenomenon just like this question [How to combine AddressSanitizer with dynamically linked Pthreads library](https://stackoverflow.com/questions/57544599/how-to-combine-addresssanitizer-with-dynamically-linked-pthreads-library).

My fsal library is libfsalnas.so, and libfsalnas.so will load nasclien

[2021-11-01 16:18] ffilz commented on #755
Hmm, how does ASAN deal with threads that aren't created with its pthread_create but might run ASAN enabled code?

[2021-11-01 18:59] ffilz commented on #687
I got a start on this here: https://github.com/nfs-ganesha/nfs-ganesha/wiki/Setup

I'm sure it could use more work...

[2021-11-01 20:31] ffilz commented on #517
Documentation has been added here: https://github.com/nfs-ganesha/nfs-ganesha/wiki/PROXY_V3-and-PROXY_V4

[2021-11-01 20:44] ffilz commented on #589
There is some documentation linked from the Ceph project however we might still want a bit more words in the FSAL Support Wiki page.

[2021-11-02 03:51] ajarr opened #757 "conf_url_rados: verifying reload of ganesha's exports triggered by Ceph's object watch-notify mechanism"
By setting watch_url in RADOS_URLS config block, we can have nfs-ganesha watch a Ceph RADOS object. When an application (e.g., ceph's mgr/nfs module) wants ganesha to dynamically reload its exports, it notifies the watched RADOS object and makes nfs-ganesha send itself a SIGHUP.  The watch callback handler, 'rados_url_watchcb', sends ack back to the notifier before sending SIGHUP to reload ganesha

[2021-11-02 13:49] ffilz commented on #757
What would the mechanism for sending back errors be? Could blocking issues on the librados side be solved by dispatching a separate thread to perform the reread_config() and send the errors back?

The reread_config() process now uses a mutex to serialize so that would need to be considered.

What opportunities for deadlock are possible?

[2021-11-02 15:56] Liam-program commented on #756
I have encountered the same problem.
The old client occasionally fails to recover, but the new client can continue to connect to Ganehsa normally.
I wonder if there are some bugs in the client code or Ganesha‘s failover process, that prevented the old client from switching over. Because if ARP is a problem, it should be a problem every time, but the reality is not.

[2021-11-02 16:14] happycouak opened #758 "NFS clients failover take ~ 300sec"
Context: 2 nodes in active/passive failover (keepalived) running ganesha, exporting a single cephfs namespace (following [1] [2]).

When the active node is powered off, clients IO takes ~300sec to resumes.

Network does not seems an issue as keepalived send GARP, arp table update on NFS clients are almost instant.

Lease_Lifetime and Grace_Period as been reducted to 5 sec, without effect.

I am tr

[2021-11-02 16:40] ffilz commented on #756
ARP could still be the problem if something is blocking gratuitous ARP, The new client sends it's own ARP to find the address. If the switch is passing that on but not the gratuitous ARP, then new clients could get the correct MAC address while old clients don't until they time out the TCP session and issue a new ARP.

The best diagnostic here is tcpdump traces from the client, and also possibly f

[2021-11-02 16:52] jtlayton commented on #758
The 300s timeout suggests that the ceph MDS is eventually timing out the old ceph client.

For an active/passive setup, you can probably fix this by setting the "nodeid" field in the RADOS_KV block on both machines to be the same. When the new server takes over, it'll ask the MDS to release the state held by the old client, and that will allow reclaim to proceed properly.

See: https://github.com/

[2021-11-02 17:14] happycouak commented on #758
I will give it at try, but this means only one ganesha server can run at a time, which is not the actual setup: ganesha is running on both active and passive node, the failover only concerns the VIP that use the NFS clients to access the service (this is why I wonder if this setup is correct).

[2021-11-02 17:16] ajarr commented on #757
From #cephfs IRC channel on OFTC...

jlayton:  See rados_notify2() and rados_notify_ack() plus all of the stuff that decodes the responses (which you'll now want to do). so I guess the program that sends these notifications will need to call those and decode the responses.

[2021-11-02 17:17] jtlayton commented on #758
That's not an active/passive setup then. You have an active/active setup where (you hope) that only one is actively serving clients at the time. The setup you're describing is not supported.

To be clear, the startup of the daemon is what triggers the grace period to start and allow the clients to reclaim. Without that, your deployment won't work correctly.

[2021-11-02 17:39] happycouak commented on #758
Make sens, thanks for the confirmation that only failover a VIP between 2 running instances of ganesha wont works.

So I tested with a *real* failover (only one running instance of ganesha at a time), with the same nodeid on both node and the result is the same, failover take exactly 300s.

[2021-11-02 17:48] jtlayton commented on #758
You'll probably need to do a bit of detective work then. It's possible that your ganesha build doesn't support the reclaim_reset facility properly. You may want to crank up the debugging level to NIV_DEBUG and see whether this message shows up:

```LogDebug(COMPONENT_FSAL, "Issuing reclaim reset for %s", uuid);```

When you say it takes 300s, how are you measuring it?

As a side note, these two th

[2021-11-02 21:50] manuelchichi commented on #733
Hi ffilz,

after setting fsid_device to true the export was created successfully, Thank you!

[2021-11-02 22:16] happycouak commented on #758
Nice catch, below the log that show up on the node that handles the fail-over:
[code]

The fail-over delay is measured in a very primitive way: date diff between the fail-over and when the network bandwidth rise back on the test client, where 2 dd read and write random data.

Thanks for the hint on Lease_Lifetime and Grace_Period, I set them back to default, without noticable effect on the fail-ov

[2021-11-02 22:46] ffilz commented on #758
Did this resolve your issue?

[2021-11-02 22:47] ffilz commented on #733
Great. Hmm, I think I need to document this fsid stuff some, so I'm going to keep this open for now as a prompt for that purpose.

[2021-11-02 23:01] happycouak commented on #758
No unfortunately it does not.

[2021-11-03 00:19] ffilz commented on #733
Take a look at this wiki page: https://github.com/nfs-ganesha/nfs-ganesha/wiki/File-Systems

Also, looking through all of this while writing that, I think we could potentially actually automatically look to st_dev if f_fsid collides. Or we could pass a hint if the export specifies fsid_type = device. I'll think about that more and I may change this to an enhancement or even a bug.

[2021-11-03 10:35] betainc commented on #756
@dang @ffilz
Thank you for your replies and suggestions.

Sorry for an error in the test steps described last time. In fact, the IP mounted by the client was originally on Node2. After Node3 disabled the network card, this IP was switched to Node1, and Node1 also received the client's request later. The original virtual IPs of the two normal nodes are also switched.

Next, I plan to reproduce this

[2021-11-03 14:40] jtlayton commented on #758
-2 == -ENOENT, which is what the MDS sends back if it doesn't find a session with the same uuid as the current one. That suggests that your old server was using a different nodeid or export id number.

Can you attach the ganesha.conf from both hosts?

[2021-11-03 17:21] ffilz commented on #756
Sounds good.

[2021-11-03 17:31] happycouak commented on #758
FYI ganesha has been upgraded to 3.5 from https://launchpad.net/~nfs-ganesha since.

Below the configuration which is the same on all 3 nodes:

[code]

Even if the "nodeid" is set to be the same, there are FSAL logs that seams to indicate that the hostname is stil in use:
Logs on node1:

[code]

Log on a second node after a failover:

[code]

Hope it helps

[2021-11-03 17:45] jtlayton commented on #758
Ok, that's the issue. The "issuing reclaim reset" message gives us the uuid for the mount session and it's different in the two cases (ganesha-node-5-0064 vs. ganesha-node-4-0064 on the second node). Those need to be the same.

You said you're running V3.5, but that doesn't have this patch: https://github.com/nfs-ganesha/nfs-ganesha/commit/a126b80767024127e79e9c3241ea93c706779752

You'll need that

[2021-11-03 17:52] Andresnotch opened #759 "Is FUSE not supported in the latest versions of ganesha?"
I noticed there is no longer a folder for FUSE in the newer versions of nfs-ganesha. Does this mean it is not supported anymore? Or maybe there is a better way to use FUSE with ganesha that I missed. What I am trying to do is to create my own implementation of a file system using FUSE, and exporting it with ganesha. Another option I'm looking at is using VFS, but my principal concern is that I don

[2021-11-03 18:13] ffilz commented on #758
We have just released V4-rc2. At this point, we do not plan to release a V3.6, V4.0 will be ready just about as soon as we could get a V3.6 out. V4-rc2 should be stable enough for non-production use to verify the solution.

[2021-11-03 18:15] ffilz commented on #759
FSAL_FUSE was never that great a solution. If you are developing a new file system in user space, the best option is actually a custom FSAL for that file system which avoids going through multiple semantic translations by going through FUSE or even a kernel file system driver accessed with FSAL_VFS.

[2021-11-03 21:18] Andresnotch commented on #759
Sounds great! Thank you for helping me. Just to be sure, there is no longer support for FUSE, and I should look how to create a FSAL of my own or write a VFS to solve this problem. Did I get that correctly?

I might be abusing of your kindness, but do you know where should I start looking to take any of the paths you pointed out?

[2021-11-03 21:27] happycouak commented on #758
To go further, do I need to compile the V4-rc2 or a PPA will land soon ?

[2021-11-03 22:52] ffilz commented on #759
I'm not sure how it works but it's possible you might be able to FUSE mount your file system and export it with FSAL_VFS. I was looking at something else and noted that quite some time ago I had found the FSAL_VFS handle size for FUSE which implies it works with name_to_handle_at and open_by_handle_at, the operations critical for FSAL_VFS to work with a file system.

That said, it would almost cer

[2021-11-03 22:53] ffilz commented on #758
You would need to compile it yourself for the time being. We might package up an rc soon though, we have sometimes packaged release candidates.

[2021-11-03 22:54] ffilz commented on #758
Adding needs verification since either the specified patch needs to be back ported to V3.5 and tested or V4-rc2 (or later) needs to be built and tested.

[2021-11-04 07:38] happycouak commented on #758
I am facing a compilation error where libcephfs is not found (branch 'next' / tag: V4-rc2 ):

[code]
Note that CMakeOutput.log and CMakeError.log files are empty.
However  libcephfs2 and libcephfs-dev are installed (Ubuntu 21.04):

[code]
Maybe libcephfs2-dev is missing ? The last thing I compiled were a kernel 2.4, so any guidance will be greatly appreciated !

[2021-11-04 11:44] jtlayton commented on #758
The other thing you could do is use the rados_cluster backend instead of rados_ng. You'd need to use ganesha-rados-grace and add the nodeid to the db, but a single-node rados_cluster "cluster" should function pretty much like rados_ng.

[2021-11-04 15:33] happycouak commented on #758
Thanks Jeff, the rados_cluster recovery backend works pretty well.
From the client point of view, the failover takes now ~25 sec and is mainly about the re-convergence of the corosyn/pacemaker cluster, thats great.

My understanding is not clear about there difference between these 2 recovery backend, what are the underneath  and pros/cons ?

[2021-11-04 16:15] jtlayton commented on #758
In a nutshell: rados_cluster is more of a scale-out solution than something built for redundancy, and allows for an active/active. rados_ng is an active/passive solution that predates rados_cluster. In your case, you're just running a cluster that has only one active node, so it'll end up doing a little more processing than is necessary, but should effectively work the same way.

@ffilz : Maybe fo

[2021-11-04 18:41] ffilz commented on #758
@jlayton If that makes sense, should we deprecate it for 4.0 so we can remove the code in 5.0?

[2021-11-06 15:46] seanfulton commented on #687
Here is something interesting: on the ganesha server node, I have mounted the (gluster) fs via nfs locally...
I have /etc/idmapd.conf set properly. Hostname includes the domain name.
If I do an ls -l on the mounted partition (which is on the server itself), the root folders are mapped to nobody.
So it's not a mis-match between the client and server, it's happening even when the client and server a

[2021-11-08 21:25] ffilz commented on #687
Could you verify the setting of Ganesha's numeric ID parameters and the clients  /sys/module/nfs/parameters/nfs4_disable_idmapping parameter? That may be the cause.

Otherwise, it might be worth looking at tcpdump traces to see how owners are  going over the wire.

[2021-11-08 21:27] ffilz commented on #603
Unless there is some response on this, I will close this issue when V4.0 is released. We may be tagging V4.0 in the next week or two.

[2021-11-08 21:29] ffilz commented on #737
We are in the final stages of V4.0 release candidate. It would be nice to address this in the next week or two, otherwise it will be held for potential inclusion in V4.1 or later depending on when we are able to come to a resolution.

Unfortunately currently there is nothing for us to go on, we need at a minimum a stack back trace with proper debug information so we can determine where the error o

[2021-11-08 21:32] seanfulton commented on #687
Well, well, well! I am running this in OpenVZ, and in the OpenVZ container, I do not have /sys/module/nfs/parameters!

The underlying host node has it, but I can't see that from within the container.

Let me query the OpenVZ folks.
sean

[2021-11-08 21:40] ffilz commented on #687
Oh, what is in the container? Ganesha? Client? One or both of those might not have access to some part of the ID Mapping stuff....

[2021-11-08 21:59] seanfulton commented on #687
In this case, I am running the Ganesha server in the container, and mounting the export via NFS on the same machine --it is in front of a Gluster cluster so I mounted the volume with NFS so I could work with it. What got me is that idmapping doesn't work when  the client and server are in the same container. But this might be it. Let me connect with the OpenVZ folks and see if this is something I

[2021-11-08 23:46] ffilz commented on #687
Ganesha doesn't see the setting in /sys, but that controls the client behavior. What you are describing is most likely the client (if the files show up as owned by nobody on the back end, then Ganesha's config is more likely the culprit). A tcpdump trace of a file creation and a stat or ls -l from the client and a chown from the client would show all the places where ID's get sent back and forth a

[2021-11-08 23:51] seanfulton commented on #687
If I have ganesha server and the NFS client on the same machine, and that folder /sys/module/nfs/parameters is missing, then it would create this problem right?

What I mean is, I exported /pub on chi-nfs01-cl01 via nfs, then on chi-nfs01-cl01 I mounted /pub via nfs4. ls -l /pub shows the files owned by root as owned by nobody. Now, if I am on an NFS client, say, web01, and I chown the root-owned

[2021-11-09 00:23] ffilz commented on #687
When you chown the files from the client, it caches the owner metadata, so until it's metadata cache expires it should show the correct values. After some time, even it should see the wrong values.

I'm not sure what the behavior of the client if the /sys config is not available, presumably it reverts to whatever the default is, which may not be what you're expecting...  Hmm, looking at the code,

[2021-11-09 09:23] Keeper-of-the-Keys commented on #518
This would be a very cool feature to have, we're using nfs-ganesha to access a lustre system and are also playing around with gluster and for both having linux acls available/enforced on clients that can't connect using native clients for whatever reason would be awesome.

[2021-11-09 14:46] seanfulton opened #760 "Bind_addr not working in 3.5.2 (and I think 3.3.1)"
I am trying to set up ganesha/gluster/keepalived/haproxy like this:
https://www.loadbalancer.org/blog/highly-available-shared-nfs-server/

I actually had it working except it kept failing and now I know why:

Two servers, chi-nfs01-cl01, chi-nfs02-cl01, and floating IP of chi-nfs-cl01.

If ganesha launches BEFORE chi-nfs-cl01 is assigned to the host, it works. Ganesha binds to the only valid IP wh

[2021-11-09 14:55] ffilz commented on #518
I'll re-open this as an enhancement.

FSAL_GLUSTER does have ACL support.

Perhaps someone could step up to hook FSAL_VFS to the POSIX ACL handling.

[2021-11-09 14:57] ffilz commented on #760
Yep Bind_Addr is the one place we don't have proper IPv6 support...

I guess it's time to fix that...

[2021-11-09 15:14] seanfulton commented on #760
Is there a way to turn it off? I have it off on the server

[2021-11-09 16:06] seanfulton commented on #687
Here are some questions:
NFS mount is port 2049, but the IDMAPD is a separate daemon. Is that controlled by nfs-ganesha or rcpbind? Do I need any other nfs server packages to run nfs-ganesha server?

The reason I ask is that I have this set up using haproxy to forward requests for 2049 to two different nfs-ganesha/gluster servers. The following ports are not proxied:

        MNT_Port = 20048;

[2021-11-09 19:03] ffilz commented on #687
Ganesha doesn't use idmapd (that is only used by the kernel) since it can call libidmap directly. There is no RPC binding involved in idmapping.

As to doing HA, look to how Gluster or Ceph are set up. For Gluster, you really should look at FSAL_GLUSTER, it may support your needs better.

[2021-11-09 19:59] ffilz commented on #760
There isn't a way to turn off IPv6.

Also, looking, Bind_Addr does support IPv6 and encapsulates an IPv4 address into IPv6.

I'm not quite sure how you're configuring and I'm not familiar with haproxy

[2021-11-09 20:01] seanfulton commented on #760
I'm not trying to use ipv6. I am using ipv4 and what is happening is that ganesha is correctly binding to the IP I specify for ipv4, but trying to bind on all ips at tcp6. Since the shared IP is already bound, it won't load

[2021-11-09 20:44] Andresnotch commented on #759
This advice has been gold for me. The situation I'm facing is that I do have several functions that allow me to access my FS, and another teammate is building this library so I am able to use those functions outside of the program. I think your second suggestion might be just what I was looking for, and the other FSAL's will surely help me out in figuring out the implementation. So thank you again

[2021-11-09 21:28] ffilz commented on #760
Can you try V4-rc2? I see https://github.com/nfs-ganesha/nfs-ganesha/issues/689 may resolve the issue with the TCP binding.

I've got a patch that adds some INFO log messages indicating what is being bound.

I just did a netstat -ap | egrep 'Proto|ganesha' on rc2+ and it looks like it's properly bound.

[2021-11-09 21:52] ffilz commented on #759
We can leave this issue open if you like to land further questions as you work through building a FSAL, or you can open new issues, or we can close this and re-open as necessary.

[2021-11-10 04:05] PandaEye2009 commented on #736
Yes, please.

[2021-11-10 15:08] ffilz commented on #736
Note that anyone can close an issue.

[2021-11-10 15:08] #736 closed, assigned to nobody

[2021-11-12 13:47] Keeper-of-the-Keys commented on #518
Cool thanks!

[2021-11-12 15:27] ffilz commented on #518
Note that this being listed as an enhancement is no guarantee anyone will work on it. If it's something you want to work on, we always welcome new contributors. I don't think this will actually be all the hard, mostly just wiring up FSAL_VFS to existing code (and a conversation about what to do with the ACL test code that's in FSAL_VFS - one option is to move that to FSAL_MEM).

[2021-11-15 09:09] lpstudy opened #761 "Does the nfs client can do auto failover to another good nfs-ganesha server if one ganesha server is down."
We have multiple ganesha servers as our nfs proxies for one backend storage cluster. When executing mount command, the nfs client builds the connection with one ganesha server. We want to know how we can let the nfs client connects to another working nfs ganesha server automatically when current connected nfs ganesha server is down.

Currently we are using a load-balance service for automatically

[2021-11-15 11:42] betainc commented on #756
@dang @ffilz
After two weeks of testing, did not find this problem again.
In addition, I have a question. Regarding the configuration of ganesha, the Grace_Period and Lease_Lifetime are both 10s. Is it too short? Would it be more appropriate to change to 30s, or another time?

[2021-11-15 13:41] apeters1971 commented on #759
I am running GANESHA on top of FUSE and the (only) issue there is, that in your code you only change the effective filesystem ID when you obtain a filehandle. The result is that the create call in FUSE receives the correct uid/gid pair of the NFS client. But subsequent calls which are not bridged by filehandle e.g. unlinkat or utimensat are received as being issued by uid/gid=0, which breaks in my

[2021-11-15 14:25] dang commented on #761
NFS doesn't have auto-failover on the client side in the protocol.  Instead, the server fails over, and the clients re-connect to the new server.  It was designed originally (40+ years ago) with the idea that server failure would be rare, and could have a relatively high latency recovery operation.  If you want load balancing, then you cannot escape the setup you have.  However, if all you want is

[2021-11-15 14:31] dang commented on #756
The lease lifetime is related to the maximum latency that you may expect in your setup.  That is, what is the longest that a client or server can ever take to respond to the other, including potential network issues (such as links failing, and routing updating to a new connection).

Grace period is the maximum amount of time it takes for a replacement server to come up and re-sync with *all* it's

[2021-11-15 15:26] ffilz commented on #761
All the NFS active/active HA solutions I know details of (including uses of Ganesha's GPFS and Gluster FSALs) use VIP failover as Daniel mentioned. A load balancer in front of an NFS server has problems if a given client can be re-allocated to a different server without a failure event, in which case neither the client nor the server understand that the client has moved, and any state (open files,

[2021-11-17 02:37] lpstudy commented on #761
Hi, thanks for your reply.
I am wondering if we can let the nfs client automatically switch to another ganesha server if current server failed.
We use the mount commands like this
```mount -t nfs4 -o vers=1 ip1;ip2;ip3:/ /mnt/nas```
Here the ip1;ip2;ip3 are the ganesha address list.

Question 1:
We wish we have the setup of ```client -> {ip1, ip2, ip3}```
The nfs client will randomly select one ga

[2021-11-17 14:09] dang commented on #761
I do not believe this is possible with NFS.  The issue is that some state is stored on the server, and some state is stored on the client, and those states have to be in sync.  This means that, if the client has a file locked on a server, for example, and that server goes down, it needs to restore that state with the new server.  But this requires all the servers in the cluster to enter Grace, and

[2021-11-17 14:50] ffilz commented on #761
For question1, the closest is that NFSv4 does have an fslocations attribute that allows the server to tell the client other servers that host the same file systems. I know there was some looking at this for fail over but actually migrating state (opens and locks etc.) is tricky and I'm not sure anyone ever came up with a workable solution.

For question2, one issue is that the client will close id

[2021-11-18 02:59] agin719 commented on #718
I have the same problem in nfs-ganesha 3.3-stable, how to fix this problem?

[2021-11-18 05:37] lpstudy commented on #761
I am wonderring how the state can be recovered by using vip mode.  That is in the case that ```client --(vip)---> load balancer -> {ip1, ip2, ip3}.```
First the client is connected to ip1 and both the client and ip1 have the state (eg. lock state). And then at some point, ip1 is corrupted, and the client is reconnected to ip2. How the client can recover the lost lock state in ip1?  If the client c

[2021-11-18 08:10] lpstudy commented on #761
Do we need to persist the nfs state in ganesha? I always think that we need to persist the nfs state, but now I am not sure. I have done some experiments with the vip setup.
``` client -----> (vip) load balancer -> {ip1, ip2}.```

nfs client is first connected to `ip1`, and I opened a file `f1` and kept appending data into `f1`. At some point, I stop the ganesha ip1 server and load balancer knows

[2021-11-18 16:33] dang commented on #761
That's not a clean transition, it's a failure.  The server failed, the client tore down it's connection, and created a new one.  All outstanding changes were (potentially) lost, corrupting data in flight.  In order for it to be a clean transition, the servers on the cluster need to be put into grace when the VIP fails over.

[2021-11-18 20:39] ffilz commented on #761
OK, some thoughts...

So NFS state consists of:

byte range locks (NFS v3 and NFSv4.0+)

opens "share reservations", these may have access mode and deny mode (NFSv4.0+ only for this context - NFSv3 does have share reservations by way of NLM however they are not recoverable state)

delegations (NFSv4.0+ only)

layouts (NFSv4.1+)

Any state beyond an open with no deny mode establishes a contract wit

[2021-11-19 01:20] #755 closed, assigned to nobody

[2021-11-19 01:33] liyinshubyte opened #762 "Why ganesha call unlock when shutdown ?"
when I shutdown ganesha, I find ganesha will call unlock by the following stack, which maybe caused data corruption.
[code]

For example, client1 has a byte range lock on ganesha, which lock file1 from byte 100 to byte 200, when I shutdown ganesha, ganesha will unlock the byte range lock. Then restart ganesha, client2 acquire the byte range lock, i.e. lock file1 from byte 100 to byte 200, even tho

[2021-11-19 02:49] liyinshubyte opened #763 "Can we use a thread pool for each mounted volume ?"
we use ganesha to mount volume in our filesystem. Ganesha use a thread pool for requests of all mounted volumes, such as volume1, volume2, volume3. If volume1 has some problem, and the request hang on the volume1, then ganesha will exhaust all the threads on volume1. Then ganesha has no threads to visit volume2 and volume3. So can we allocate a thread pool for each volume ?

[2021-11-19 05:28] liyinshubyte opened #764 "Are any operations besides READ and WRITE suitiable for async? (READDIR)?"
@ffilz
   Hi, I find the following work allow Ganesha to make async FSAL calls. But it seems this feature only was used in FSAL_MEM, and no other FSAL used it. Is there any concern not to use this feature?
![image](https://user-images.githubusercontent.com/92144382/142570185-a3cf4ba8-f836-4663-b254-f0a53e147254.png)

[2021-11-19 15:22] dang commented on #761
The problem with this is that it assumes you wrote the client.  If you're using a pre-existing client (such as the Linux kernel client), then it does what it does, and likely takes full advantage of these abilities when it can.  So you have to assume that at least some of these features are in use.

[2021-11-19 15:24] dang commented on #762
A clean shutdown cleans up after itself.  If you want to fail over, you should just hard kill ganesha, so it doesn't clean up.  We talked at one point about adding an unclean shutdown, but no one ever did it.

[2021-11-19 15:35] ffilz commented on #762
With the in-tree FSALs, there really isn't a way to preserve byte range locks on shutdown without some extra work. There HAS been work done for FSAL_CEPH so the CephFS back end will not release locks if Ganesha crashes (and maybe on intentional shutdown - not absolutely clear what was done there), but it took back end work. For FSAL_VFS and FSAL_GPFS, locks are associated with open file descriptor

[2021-11-19 17:49] ffilz commented on #761
Well, a Linux client won't ask for deny modes, and it will only use byte range locks when the application uses them (and you can assure it doesn't by mounting -o nolock), leaving delegations really the only issue. And if you're not using deny modes or byte range locks, you shouldn't be sharing files between clients in a way that delegations could introduce any more opportunities for data corruptio

[2021-11-19 17:52] ffilz commented on #763
No because the worker thread is assigned when an RPC request is started to be processed. The RPC layer doesn't know what file systems are involved. PLUS a request CAN span file systems. And really, the thread is assigned before the RPC layer has even read a request from the socket.

[2021-11-19 17:53] ffilz commented on #763
One solution for this if you have your own FSAL is to make it async...

[2021-11-19 19:42] phpfs opened #765 "SELinux: Failed to resolve roletype statement at /var/lib/selinux/targeted/tmp/modules/200/ganesha/cil:2"
Dear ganesha team,

when trying to install (or later on use) the SELinux module of nfs-ganesha from the CentOS SIG repository, I receive the following error:
[code]

This already occurs as part of installation:
[code]

To reproduce, use either the latest CentOS 8 or Alma Linux 8.5 Docker container from DockerHub.
Then, execute the following commands:
[code]

Ideally, I'd want to be able to work wi

[2021-11-22 00:48] #763 closed, assigned to nobody

[2021-11-22 00:56] liyinshubyte commented on #762
@dang @ffilz Thanks the explanation. Got it.

[2021-11-22 00:56] #762 closed, assigned to nobody

[2021-11-22 00:56] liyinshubyte commented on #763
@ffilz Thanks the explanation. Got it.

[2021-11-22 07:52] liyinshubyte commented on #764
Besides, ganesha only implemented the async of OP_READ and OP_WRITE, if you agree, I can implement the async of the other OP.

[2021-11-22 13:23] dang commented on #764
Which other ops likely to block for significant amounts of time?  In other words, is it worth doing async for other ops?  We only did read and write because they were the ones most likely to need it.  (note, I have nothing against it in principle, but it complicates the code, and makes debugging more complicated, so I'd like to believe it will be useful before implementing it)

[2021-11-22 13:36] mattbenjamin commented on #764
I think readdir is pretty likely to benefit from async.

Matt

On Mon, Nov 22, 2021 at 8:23 AM Daniel Gryniewicz ***@***.***>
wrote:

--

Matt Benjamin
Red Hat, Inc.
315 West Huron Street, Suite 140A
Ann Arbor, Michigan 48103

http://www.redhat.com/en/technologies/storage

tel.  734-821-5101
fax.  734-769-8938
cel.  734-216-5309

[2021-11-22 14:49] ffilz commented on #764
Yes, READDIR would be a good candidate. GETATTR might also be a good candidate. Hmm, OPEN also (since it could block while a delegation is recalled). But as Daniel mentions, there is complexity added, and if in most cases the operations complete quickly, there is the possibility of extra thread context switches (if the operations don't have a way of going inline if quick).

[2021-11-22 15:10] dang commented on #764
I would hope that 1k entries in a readdir doesn't take long enough for async to be useful.  If it does, I think we have bigger issues.

[2021-11-22 19:22] ffilz commented on #764
Yea, in general READDIR should be quick, but I could see scenarios where reading the first chunk is somewhat slow, especially if the readdir is done to some different node.

I guess in general my thought is lets get some real data on how async helps READ/WRITE and then also get real data on latency issues with other operations and explore if those latency issues would actually benefit from async b

[2021-11-22 21:42] kalebskeithley commented on #765
I've never seen that error before now, and when I tried it just now on my up to date c8/c8s systems the install worked without error. Even with --verbose.

If you know of some way to dump selinux data to see what that roletype statement is that would be a good start.

[2021-11-23 03:35] lpstudy commented on #764
In some cases, there may be more than 20,000 files in one directory. Listing all the files in this dir may cost several seconds. GetAttr may need to contact the metaserver and data server both to get the actual stat of the file, which may be costly.

[2021-11-23 14:20] mattbenjamin commented on #764
Exactly.  I think that sort of higher latency for large directories is
going to be common in several distributed file system designs.

Matt

On Mon, Nov 22, 2021 at 10:36 PM lipeng ***@***.***> wrote:

--

Matt Benjamin
Red Hat, Inc.
315 West Huron Street, Suite 140A
Ann Arbor, Michigan 48103

http://www.redhat.com/en/technologies/storage

tel.  734-821-5101
fax.  734-769-8938
cel.  734-216-5309

[2021-11-23 14:20] dang commented on #764
Readdir in ganesha doesn't read the entire directory in one go, it reads in chunks of size Dir_Chunk (default 128) with readahead if the FSAL supports it.  Most FSALs that do readahead do ~1000 dirents per read.  Ganesha works fine on directories with millions of entries.

[2021-11-23 14:38] mattbenjamin commented on #764
That doesn't  or shouldn't conflict with moving latency onto async, I don't
believe.

Matt

On Tue, Nov 23, 2021 at 9:20 AM Daniel Gryniewicz ***@***.***>
wrote:

--

Matt Benjamin
Red Hat, Inc.
315 West Huron Street, Suite 140A
Ann Arbor, Michigan 48103

http://www.redhat.com/en/technologies/storage

tel.  734-821-5101
fax.  734-769-8938
cel.  734-216-5309

[2021-11-23 14:56] ffilz commented on #764
Note also that readdir is already halfway to async since all the content is returned via a callback.

Probable changes to make fully async:

* return eof in callback instead of from readdir call
* any FSAL that actually wanted to do async readdir would have to either use a fridge thread to do the work, or would have to be fully async in the underlying file system
* most of the work to handle async

[2021-12-01 23:42] rafikc30 commented on #724
We are using shared storage hosted by a gluster.

[2021-12-01 23:50] ffilz commented on #724
So which FSAL are you using? FSAL_GLUSTER or FSAL_VFS?

[2021-12-02 07:06] rafikc30 commented on #724
@ffilz We use Gluster FSAL. And for the HA we use ctdb along with the shared storage backed by gluster(an exclusive shared storage) volume mounted via fuse.

[2021-12-02 21:46] ffilz commented on #724
I'm at a loss. Red Hat's HA solution for Gluster is based on Pacemaker (and all the bits should be in the upstream repo).

Do you have a recovery directory for each node or virtual IP? I haven't paid attention to exactly how that is accomplished, but the recovery directory code is not prepared to handle multiple nodes worth of data.

[2021-12-03 19:49] ffilz opened #766 "Improve management of open fd"
Currently open fd management is across all FSALs, and the threshold is based on the ulimit max of fds. Many FSALs do not use a file descriptor per open file. Also, for those that do, fds may also be consumed by byte range locks and NFSv4 opens. It would be advantageous to track the actual number of fds open and put pressure to close anonymous/global open fd in that case. We could even close fd use

[2021-12-06 10:49] rafikc30 commented on #724
@ffilz We don't have a VIP for each node, We only have one VIP across the cluster. That will be moved when one node is unavailable. Do you think this ctdb + Ganesha config cause problems in terms of memory leak? If you suspect it, I can maybe test it with the physical IP without HA, do you think that is worth trying?

[2021-12-06 15:07] ffilz commented on #724
OK, so active/passive setup?

Yes, it would be good to verify everything without HA first, then use the VIP but without failover. Also make sure after failover the directory is accessible from the new node.

[2021-12-07 06:34] syspro4 opened #767 "Very slow "ls -l" performance while using NFS-Ganesha mount"
Hi,

I have observed very slow 'ls -l' performance while using nfs-ganesha (NFSv4.2) mount point. Following are the test details:

1. Configured 1 brick gluster volume (to make things simple).
2. Created very simple nfs-ganesh.conf file with just EXPORT{FSAL->GLUSTER} block.
3. Mounted NFS export on a host with NFSv4.2
     $ mount -t nfs4 -o minorversion=2,rsize=1048576,wsize=1048576 192.168.2.11

[2021-12-07 08:51] chenxianpao opened #768 "can't open inode when using CEPHFS as the backend"
there are many logs like "mds.0.cache  failed to open ino 0x100049c6d46 err -116/0"            116 | Stale NFS file handle

nfs-ganesha-ceph-2.8.2-3.el7.x86_64
ceph version 14.2.13

[2021-12-07 21:32] rafikc30 commented on #724
Ok, I will do the testing without HA.  The tests that I have reproduced the memory leak do not have any tests to do the failover. It was just that I was using VIP, but there wasn't any IP failover during the testing.

[2021-12-08 00:40] ffilz commented on #768
That's an old version of Ganesha (and I'm not up on Ceph versions to know how old that is). Could you try on V3.5 which is the latest stable version or preferably V4-rc5 which is the latest version which is within weeks of being the new stable release.

Also more information about what your workload is and which log those messages are from would help.

[2021-12-08 02:13] chenxianpao commented on #768
I use ganesha in my production environment, so I can not update the version. Ceph 14 version is released in Mar/19/2019, and the minor version 13 is released in Nov/2/2020, I think it's not too old.

I deploy nfs-ganesha in the one of the ceph node, and have nearly 30 nfs clients with nfs4.1 protocol. Clients will frequently delete and create files. My cluster has been running for eight months. Re

[2021-12-08 14:36] dang commented on #767
The default sizes for the hw_marks are large enough to hold the entire directory, to that isn't a problem.   Readdir with gluster should be fast, and was last time I checked it.  My guess is that USE_GLUSTER_XREADDIR_PLUS was not set when Ganesha was built.  Maybe something changed in Gluster w.r.t. the readdirplus API?

[2021-12-08 15:21] ffilz commented on #768
V2.8.2 isn't even the latest version of the V2.8 stream. Any problem in Ganesha would require a new version to pick up the fix (unless you back ported the fix yourself). We are a small team and our ability to support old versions of Ganesha is limited.

Note also that ESTALE has for a long time been not JUST an NFS error, it's not uncommon for it to be used in clustered file systems, in fact, a qu

[2021-12-08 18:30] syspro4 commented on #767
Thanks dang for your reply.

I confirmed with gdb that the USE_GLUSTER_XREADDIRPLUS flag is set and it is calling glfs_xreaddirplus_r().
Also according to above numbers we can see that gluster readdir is fast compared to NFS.

[2021-12-08 19:11] dang commented on #767
I'm not sure what's wrong, then.  I haven't tested gluster personally in a long time (maybe gluster 5?) so I'm not sure what's changed.  It used to return a large buffer of dirents with their stat results in a single call, which was optimal for Ganesha.  If that changed in any way, then it would be slow again.

The overwhelming amount of time Ganesha spends in readdir is round trips to the cluster

[2021-12-08 19:33] syspro4 commented on #767
Thanks for your reply.
I can explore more on the round trips part if you can share some more details about it.
Thanks!

[2021-12-10 17:29] ffilz commented on #759
Sorry for not getting back sooner...

We do some operations in FSAL_VFS as root because we have to. Other operations we don't setfsuid/gid because that's an extra step and we don't need the permission checking.

Why does doing operations as root break things?

I get that there may be a caching benefit of using a kernel FUSE mount. All of the in tree library filesystems we use have their own cachin

[2021-12-10 18:59] syspro4 commented on #767
Hi,
Can you please share any thoughts on improving 'ls  -l' performance?
Thanks!

[2021-12-12 20:48] ppascher opened #769 "krb5i/krb5p - NFS share not responsive when file transfer done"
I am recently switched from TrueNAS Core to TrueNAS Scale which in turn comes with nfs-ganesha v3.4. I created some NFS shares (NFSv4 with Kerberos) but run into issues when uploading files.
The issue is that when copying files to the NFS share it becomes unresponsive and the transfer never finishes. I can see the file has the same size on the share as the source with the correct user and group bu

[2021-12-13 14:19] dang commented on #767
What I've done in the past is enable lttng and look at timestamps on the traces to see where time is being spent.  That should point us to where the issue is.

[2021-12-13 19:09] ffilz commented on #769
Is the Ganesha process still running? A full tcpdump capture of the issue might help in narrowing things down.

[2021-12-13 20:32] ppascher commented on #769
The process is still running. I just tried using sec=krb5 instead of krb5p and everything appears to be working fine. krb5i also appears to work fine. With this information I found issue #384 which sounds like it is the same issue.
I will try to get the FULL_DEBUG log requested there. I will also try to get you the tcpdump but that was huge and a quick look over it with wireshark I did not see any

[2021-12-13 21:21] ffilz commented on #769
OK, I think what will be more useful is some debug:

LOG {
    RPC_Debug_Flags = 0x40;
    COMPONENTS {
        TIRPC=DEBUG;
        DISPATCH=FULL_DEBUG;
    }
}

We may need to add additional RPC_Debug_Flags, but the initial set will just ramp up debug on the RPCSEC GSS stuff which is where I suspect the problem is. I have a foreboding that the issue is something I was never quite comfortable wit

[2021-12-14 11:17] koen-struyve-q commented on #565
I have been able to revisit the problem due to recent reproducibility, where the above patch resolved the issue.

This patch does not seem to be present in the "next" branch. Has this solution been superseded by a different patch?

(My apologies for the delay in my answer.)

[2021-12-14 11:38] ppascher commented on #285
I ran into the same issue.

The NFS_KRB5 section of my ganesha conf: (created by TrueNAS Scale RC22.02-RC.1-2):
[code]
My keytab looks like this:
[code]
First I had to add double quotes to the Principal name or I would get a config parse error on startup.
Maybe needs to be fixed in https://github.com/nfs-ganesha/nfs-ganesha/wiki/RPCSEC_GSS

After fixing that I tried setting PrinicpalName to severa

[2021-12-14 13:04] dang commented on #565
It was never committed, because it was never confirmed to fix the issue, and I couldn't reproduce locally.  Submitted here:
https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/529440

[2021-12-14 13:32] koen-struyve-q commented on #565
What I have been able to observe on the affected system is that it occurs about 1 to 2 times each day, and that the segfault is situated at:

https://github.com/nfs-ganesha/nfs-ganesha/blob/next/src/FSAL/Stackable_FSALs/FSAL_MDCACHE/mdcache_helpers.c#L2774

With the patch, we now are on the fifth day without crashes.

[2021-12-14 23:43] ffilz commented on #285
Hmm, it's possible the PrincipleName has to be "nfs@truenas01.ipa.mydomain.com" that seems to be the format the function call the principle name is used in is expecting.

[2021-12-14 23:56] ffilz commented on #565
I will be merging this patch this week. @koen-struyve-q  if you could add a review comment and a verify +1 to the gerrithub patch that would be nice, but not required. Do you want me to hold this issue open for verification once V4.0 is released or shall I close it when I release V4.0?

[2021-12-15 08:23] koen-struyve-q commented on #565
Added a review comment. We will probably not move to 4.0 immediately, so feel free to close.

[2021-12-15 08:38] ppascher commented on #285
That is one of the variants I tried ("nfs/hostname") but got the -1765328203 | KRB5_KT_NOTFOUND | Key table entry not found error.
Looking at RPCAL/gss_credcache.c it maybe the realm and hostname (+ @REALM part) are added automatically (gsh_gethostname and krb5_get_default_realm) and that is why it works with just the service name "nfs"?

[2021-12-15 15:48] Mr-Chengcheng opened #770 "ganehsa"

[2021-12-15 15:49] #770 closed, assigned to nobody

[2021-12-15 15:53] Mr-Chengcheng opened #771 "ganesha large queue accumulation"
hi, i use nfs-ganesha 2.5 + glusterfs 3.12 There is often a large number of queue accumulation，Using the pstack tool, a large number of getattr requests were found：
![image](https://user-images.githubusercontent.com/54385902/146219088-3ed8760e-a9fb-420b-b703-e491c421e120.png)
![image](https://user-images.githubusercontent.com/54385902/146219266-49eaeb39-d261-4b6a-b139-17f933f2cfbf.png)
Have you ev

[2021-12-15 18:04] ffilz commented on #771
Under what workload? Note that V2.5 is quite old and long not supported by the Ganesha community (last update was 4 years ago). Current supported release is V3.5 with V4.0 coming out real soon (V4-rc6 was just posted last week).

[2021-12-15 20:29] syspro4 commented on #767
I will enable lttng & get that info.

[2021-12-16 11:17] Mr-Chengcheng commented on #771
i have used some clients mount， and do a lot of write and mkdir operations,  Can you provide some ideas to avoid this ？ Thank you very much。

[2021-12-16 11:17] Mr-Chengcheng commented on #771
@ffilz @dang

[2021-12-16 15:43] ffilz commented on #769
Looks like this is the issue discussed somewhat over a year ago:

https://lists.nfs-ganesha.org/archives/list/devel@lists.nfs-ganesha.org/thread/JSADKLKF3GKNCKPFV5NYEJ3ML3YU7UN7/

[2021-12-16 16:02] ffilz commented on #769
About a year and a half ago, I did some performance testing of Kerberos with iozone. I found krb5i to be consistently pretty close to AUTH_SYS in performance with no hangs. krb5p tended to be around 2/3, sometimes about 1/3, and very occasionally about 5%. The above discussion wonders if gss_iov is the cause of the issue, but the performance testing with iozone showed improvement for krb5i going f

[2021-12-17 03:39] XiJinyu opened #772 "rpmbuild failed for nfs-ganesha-4-rc6"
Hi @dang , when I complied NFS-Ganesha rpm, I found that it always failed. As follows:

[code]

I found that this problem occurred after "[CMAKE - stop using deperecated python detection](https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/498039/)". What are the rpmbuild compliation method after stoping use deperecated python detection?

[code]

[code]

[2021-12-17 07:46] chenxianpao commented on #768
Thanks for your help.  I'll observe this error for a period of time, and if I find something, I'll share with you again.

[2021-12-17 12:16] anodos325 opened #773 "v4.0rc6 - crash when spinning up dbus thread on NFSv3 export without Pseudo defined"
[code]
[0001-Protect-from-null-dereference-in-export_to_dbus.patch.txt](https://github.com/nfs-ganesha/nfs-ganesha/files/7734981/0001-Protect-from-null-dereference-in-export_to_dbus.patch.txt)

[2021-12-17 14:53] dang commented on #772
It works for me with cmake 3.16.4 and python 3.7.6.  However, your rpmbuild is trying to use python 2 for some reason.  Which version of python was detected when you used cmake?  My guess is that it detected python3, and then rpmbuild tried to use python 2 (for some reason) and that is the problem.

Can you try running "make rpm" in your initial build directory?

[2021-12-17 14:57] ffilz commented on #773
Could you submit this patch via gerrithub? I will merge this today, so if you aren't able to submit it, I will.

Thanks

Frank

[2021-12-20 08:57] XiJinyu commented on #772
Unfortunately, this problem still exists on my machine. According to your suggestion, I made the following attempts:
First, I upgraded cmake and python(cmake 3.16.4 and python3.7.6). The following methods can be used to compile successfully,but but the nfs-ganesha-utils package is missing.
[code]
[code]
Then I added DUSE_ADMIN_TOOLS options:
[code]
The following problems occurred after compilation

[2021-12-20 10:14] turtle-bazon commented on #575
I have same issue with privileged container on Debian 11. nfs-kernel-server in that container works

[2021-12-20 12:42] kalebskeithley commented on #772
RHEL7/Centos7 have Python2, not Python3; and QT4, not QT5.  In theory you might be able to get Python3 from EPEL or the RHEL or CentOS Software Collections Library (SCL) or Code Ready Builder (CRB) repos and use that.  To build ganesha-3.x for el7  have to patch some of the files for QT4, and the .spec I use is (very) slightly different than what's in the tree. I haven't even tried to ganesha-4 on

[2021-12-20 15:08] ffilz commented on #575
Which issue?

This issue has been closed and has too many different things going on in it. Please open a new issue or look at the open issues to see if there's a relevant issue already open.

[2021-12-20 15:10] ffilz commented on #773
Sorry, this got lost in the shuffle. I will patch today and it will go in the final V4.0 merge.

[2021-12-20 15:37] ffilz commented on #773
Patch now submitted via Gerrithub

https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/529775

[2021-12-20 15:55] anodos325 commented on #773
Hi Frank, it looks like I had a bad case of the Fridays when I submitted that patch. Looking more at the surrounding context, I think that the patch is incorrect.

[2021-12-20 16:00] anodos325 commented on #773
Specifically, tmp->pseudopath should be set to NULL so that export_to_dbus() will set `path` to the fullpath.

[code]

[2021-12-20 16:08] anodos325 commented on #773
Or perhaps replace `path == NULL` with
[code]

[2021-12-20 17:51] ffilz commented on #773
Ah, OK, I'll have a closer look and properly fix the issue.

[2021-12-20 18:05] ffilz commented on #773
OK, I made some more changes to the patch. Please see the updated patch in Gerrit, which I guess I didn't reference here...

https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/529775

[2021-12-20 20:53] #647 closed, assigned to ffilz

[2021-12-20 20:53] #741 closed, assigned to nobody

[2021-12-20 20:53] #740 closed, assigned to nobody

[2021-12-20 20:53] #732 closed, assigned to nobody

[2021-12-20 20:53] #703 closed, assigned to nobody

[2021-12-20 20:54] #709 closed, assigned to nobody

[2021-12-20 20:54] #543 closed, assigned to nobody

[2021-12-20 20:54] #192 closed

[2021-12-20 20:55] #517 closed, assigned to boulos

[2021-12-20 20:55] #693 closed, assigned to nobody

[2021-12-20 20:55] #727 closed, assigned to ffilz

[2021-12-20 20:55] #702 closed, assigned to nobody

[2021-12-20 20:55] #750 closed, assigned to nobody

[2021-12-20 20:56] #574 closed, assigned to boulos

[2021-12-20 20:56] #318 closed

[2021-12-20 20:56] #723 closed, assigned to nobody

[2021-12-20 20:56] #744 closed, assigned to nobody

[2021-12-20 20:56] #698 closed, assigned to dang, kalebskeithley, ffilz

[2021-12-20 20:56] #712 closed, assigned to nobody

[2021-12-20 20:57] #718 closed, assigned to nobody

[2021-12-20 20:57] #760 closed, assigned to nobody

[2021-12-20 20:57] #758 closed, assigned to nobody

[2021-12-20 20:57] #733 closed, assigned to ffilz

[2021-12-20 20:57] #687 closed, assigned to ffilz

[2021-12-20 21:00] ffilz commented on #686
Closing since there has been no response in more than 30 days.

[2021-12-20 21:00] #686 closed, assigned to kalebskeithley

[2021-12-20 21:00] ffilz commented on #735
Closing since there has been no response in more than 30 days.

[2021-12-20 21:00] #735 closed, assigned to nobody

[2021-12-20 21:01] ffilz commented on #745
Is this still an issue?

[2021-12-20 21:03] ffilz commented on #756
Is this still an open question?

[2021-12-20 23:43] sempervictus commented on #745
Negative, seems to be resolved - jenkins shows the last few builds succeeded. Thank you.

[2021-12-20 23:43] #745 closed, assigned to nobody

[2021-12-22 18:52] ffilz commented on #761
Can we close this or do you still have open questions?

[2021-12-22 18:52] ffilz commented on #764
I'm going to flag this as an enhancement request at this point.

[2021-12-22 18:54] ffilz commented on #759
Are there still open questions here or can we close this?

[2021-12-22 18:56] ffilz commented on #285
I'm going to tag this as documentation needed. I will try and figure out what the function call expects, but since Ganesha is just passing the string to the function call, I don't think there's anything Ganesha can do to support different formats.

[2021-12-22 18:57] ffilz commented on #589
Another bump

[2021-12-22 18:58] ffilz commented on #603
Since V4.0 is out and no response for more than 30 days, I'm going to close this now.

Changing tag to try on supported version (technically V3.x is no longer supported with V4.0 out).

[2021-12-22 18:58] #603 closed, assigned to nobody

[2021-12-22 19:00] ffilz commented on #737
Since we have had no response in over 30 days and we have nothing to go on, I will close this. Please re-open if you can respond with more information.

[2021-12-22 19:00] #737 closed, assigned to nobody

[2021-12-22 19:01] ffilz commented on #361
I'm going to bump this up, perhaps we can dig more into delegations and get a fix in V4.1

[2021-12-22 19:03] ffilz commented on #738
With no response on this in over 30 days and no one actively participating in the community who really understands ganesha_mgr, I am going to close this.

[2021-12-22 19:03] #738 closed, assigned to nobody

[2021-12-22 19:04] ffilz commented on #751
With no way to reproduce this in over 30 days, I'm going to close this. Please re-open if you have more details that we can use.

Also, since we have now released V4.0, V3.x is technically unsupported now so a reproduction on V4.0 or later would be appreciated. Marking as try on supported version to reflect this.

[2021-12-22 19:04] #751 closed, assigned to nobody

[2021-12-22 19:14] ffilz commented on #681
I'm not sure where to go on this one. There is almost assuredly performance work that could be done but we don't have the resources. I will leave this open for now, but it will likely get closed sometime in the new year if no progress is made.

[2021-12-22 19:16] ffilz commented on #668
Bumping this. Perhaps some effort can be made in the new year.

[2021-12-22 19:17] ffilz commented on #765
With more than 30 days without a response and V4.0 out, I am going to close this. If more information can be provided, please re-open.

[2021-12-22 19:17] #765 closed, assigned to nobody

[2021-12-22 19:17] ffilz commented on #765
Also, with V4.0 out, V3.x is technically no longer supported so marking this as try on latest version.

[2021-12-22 19:19] ffilz commented on #769
Bumping this so we don't lose it. We may be able to put some resources on this in the new year.

[2021-12-22 19:24] ffilz commented on #724
Bumping to keep this ahead of inactive issues. Also adding need info.

[2021-12-22 19:27] ffilz commented on #767
Bump to keep this ahead of inactive issues.

[2021-12-22 19:44] kalebskeithley commented on #772
try these two patches on el7:
https://git.centos.org/rpms/nfs-ganesha/blob/c7-sig-storage-nfs-ganesha-4/f/SOURCES/0001.python.patch
https://git.centos.org/rpms/nfs-ganesha/blob/c7-sig-storage-nfs-ganesha-4/f/SOURCES/0002-src-CMakeLists.txt.patch

or on el8 and el9:
https://git.centos.org/rpms/nfs-ganesha/blob/c9s-sig-storage-nfs-ganesha-4/f/SOURCES/0002-CMakeLists.txt.patch

[2021-12-23 00:21] liyinshubyte commented on #764
@ffilz Thanks, I'm available to implement async readdir.

[2021-12-23 00:28] liyinshubyte opened #774 "Does ganesha want to change to c++ project ?"
Do we want to change ganesha to c++ project ? Maybe it's easy to use STL, gflags, glog and so on. Just an open question.

[2021-12-23 06:48] liyinshubyte opened #775 "How to achieve load balance of ganesha?"
Currently we use ganesha by the following model, and we want to adjust the connected ganesha of client dynamicly, according to ganesha's workload.

For example, client1 and client2 connected to ganesha1, and client3 and client4 connected to ganesha2. Workload of client1 is 300MB/s, and workload of client2, client3, client4 is 100MB/s. So workload of ganesha1 is 400MB/s, and workload of ganesha2 is

[2021-12-29 22:32] syspro4 commented on #767
Hi,

I am able to capture the lttng data for 'ls -l | wc -l' command.
From the lttng traces I do not see any abnormal behavior which takes long time BUT I see that nfs-ganesha processes the readdir contents sequentially. I also used Trace Compass Tool to visually check if there are any anomalies but I do not see any thing.

The read_dirents() call (mdcache_populate_dir_chunk->read_dirents) process

[2022-01-04 10:14] hit1943 opened #777 "is mutli exports sharing one ceph client a good idea"
hi，everyone
in my project，i use nfs-ganesha as nas gateway in front of cephfs.
as we know, "For each NFS-Ganesha export, FSAL_CEPH uses a libcephfs client to mount the CephFS path that NFS-Ganesha exports".
i found if i create 100 exports，it will increase 100 ceph clients - than more than 500 threads will be created by libcephfs client, another thing is that i should create 100 ceph users for the

[2022-01-04 10:58] jtlayton commented on #777
On Tue, 2022-01-04 at 02:14 -0800, Kevin Chen wrote:

Sure, sharing clients between exports would be a great thing to do. It's
just not trivial to implement, unfortunately.

You can't share the same client between different named ceph
filesystems, at least not with libcephfs structured as it is today. You
probably could make it share clients between different exports from the
same named cephfs tho

[2022-01-04 11:47] hit1943 commented on #777
thanks for your advice, @jtlayton ，i will try share clients between different exports if they use the same ceph user and same named cephfs

[2022-01-04 12:07] hit1943 commented on #775
This is a difficult thing, because the nfs protocol connection between client and server is long connection. you can’t do load balancing based on bandwidth when you establish a connection.

[2022-01-04 14:45] dang commented on #775
If you know ahead of time what bandwidth will be used by a client, then you can do it, but otherwise you can't really, for the reason stated above.  NFS works poorly with load balancing, because it uses long-lived, stateful connections between clients and servers. As the bandwidth used by a give client changes, there's no good way to move clients around between servers to balance the bandwidth.

[2022-01-04 17:21] ffilz commented on #767
Yea, there is always a callback for each entry.

One question is how many entries is Ganesha returning to the client in each response? We have another issue where a client is requesting a huge response and Ganesha is obliging, returning thousands of entries in one response, causing a lot of latency.

[2022-01-04 17:25] ffilz commented on #764
I've assigned this to you. Feel free to ask questions here or on our IRC channel (#ganesha on Libera.chat)

[2022-01-04 17:28] mattbenjamin commented on #764
cool!

[2022-01-04 20:01] syspro4 commented on #767
NFS client is sending 32k size buffer and Ganesha is filling up entire 32k. In this 32k, it is returning 137 entries.

Regarding the callback, can we reduce the callback for each entry and process all entires in single callback?

[2022-01-05 13:42] dang commented on #767
137 entries shouldn't cause a problem, that's small enough.  Processing multiple entries in a callaback shouldn't make a difference.  function call latency isn't that high, and 137 is a tiny number for function call latency to even show up as a factor.  Something else must be dominating the time.

[2022-01-05 18:56] ffilz commented on #774
What would be the benefit? There would be a lot of code change to gain any real benefit.

[2022-01-05 19:30] mattbenjamin commented on #774
modern c++ is great, but nfs-ganesha is mature enough and complete enough that I don't think we'd get any benefit, personally

[2022-01-05 23:49] liyinshubyte commented on #774
@ffilz @mattbenjamin Thanks, I see.

[2022-01-05 23:49] #774 closed, assigned to nobody

[2022-01-06 02:14] liyinshubyte commented on #775
@hit1943 @dang Thanks the reply. Got it.

[2022-01-06 02:14] #775 closed, assigned to nobody

[2022-01-06 14:22] dspisla opened #778 "Gluster+NFS-ganesha: Share not accessible/mountable after adding additional bricks to volume"
**Setup:**
We use gluster5.11 and nfs-ganesha2.7.6 on a SLES15SP2 2-node system.
We have a replica-2 gluster volume with 1 replica pair. We access it via nfs-ganesha libgfapi module.

**Observable impact:**
After adding an additional replica2 pair to the gluster volume I observed the following:
On the linux client, which mounted the share, the share is not accessible and not mountable.
After resta

[2022-01-06 16:15] dang commented on #778
This sounds like a GFAPI bug.  I would expect the client to either stay connected or reconnect in these circumstances.  @kalebskeithley thoughts?

[2022-01-07 15:04] dspisla commented on #778
I tried to reproduce the issue on a test system. I did the following:

    Mount Share on a Linux Client via NFS v4
    Add brick pair to the related repo
    Check accessibilty of Share and also try Re-mount

The issue occured in only 1 of 7 tries. The health warnings from nfs-ganesha and the following error

[2022-01-04 09:17:07.122986] E [rpc-clnt.c:346:saved_frames_unwind] (--> /usr/lib64/libg

[2022-01-11 09:11] liyinshubyte opened #779 "Fix crash of ganesha because out-of-bounds access"
When we run ganesha, it crashes because of out-of-bounds access.

The reason is when segment_len = NAME_MAX; the last character of path may not be '\0'.

![image](https://user-images.githubusercontent.com/92144382/148913997-16a4bbfc-10ba-45dc-80f2-7ca382e9c66c.png)

The fix as follows:

https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/530853

@ffilz Could you help review it.

[2022-01-11 14:56] ffilz commented on #779
Yep, good catch, comments on your fix.

[2022-01-18 09:20] dspisla commented on #778
I did more tests (5 times) with NFS v3 mounts but the issue didn't occur.
Seems to be hard to reproduce

[2022-01-18 15:06] #773 closed, assigned to nobody

[2022-01-24 07:56] #779 closed, assigned to nobody

[2022-01-24 08:13] liyinshubyte opened #780 "Why not overwrite attr in mdcache_new_entry ?"
@ffilz
Hi, when I set Dir_Chunk = 0, and nfs-client call readdir, I found nfs-client can not get the newest attr such as uid, gid, though fsal return the newest attr. The reason is `mdcache_new_entry` did not use `attrs_in` to overwrite attr of entry which found by `mdcache_find_keyed`.

The stack is:
nfs4_op_readdir -> fsal_readdir -> mdcache_readdir_uncached -> {our fsal}_readdir -> mdc_readdir_

[2022-01-25 13:09] liyinshubyte opened #783 "Question about atime and mtime"
When I touch f1, then cp f1 f2, and stat f2, I found the access time(Access: 2027-11-25 15:11:38.000000000 +0800) of f2 incorrect.

I find atime comes from high 32 bit of `createhow->createhow4_u.ch_createboth.cva_verf` in `open4_ex_create_args`, and mtime comes from low 32 bit of `createhow->createhow4_u.ch_createboth.cva_verf`. But `createhow->createhow4_u.ch_createboth.cva_verf` also seems inco

[2022-01-25 15:22] ffilz commented on #783
Issue fixed in V4-rc1 between these two patches:

https://github.com/nfs-ganesha/nfs-ganesha/commit/e896e82751f7312b3c8dc768e513dc6d173ca59e
https://github.com/nfs-ganesha/nfs-ganesha/commit/a2a08c2dc6e8fe86058385631c777cd6507ddb2d

With V4.0 tagged, there is currently no intention of back porting any more fixes to V3-stable. Please upgrade to V4.0.

[2022-01-25 15:24] ffilz commented on #780
Interesting and definitely a bug. Will add this to the "todo" for V4.1.

[2022-01-25 20:02] crispyduck00 opened #784 "Session Trunking"
Is nfs ganesha supporting session trunking? Can not find anything about it. Only that it should be part of nfs 4.1.
I have some issues with ESXi 6.7-7u2.

I had this runnig for some years with FreeBSD as NFS4.1 server and several ESXi 6.5-6.7 hosts.
All with 4x 1G in different VLANs and on different subnets.

I am now trying to switch to Linux and nfs ganesha as NFS server. Can muont the share as

[2022-01-26 00:19] ffilz commented on #398
New issue raised... Maybe this needs to be worked on...

https://github.com/nfs-ganesha/nfs-ganesha/issues/784

[2022-01-26 00:20] ffilz commented on #784
No we don't support it, see https://github.com/nfs-ganesha/nfs-ganesha/issues/398

Closing as a duplicate

[2022-01-26 00:20] #784 closed, assigned to nobody

[2022-01-26 03:37] liyinshubyte commented on #783
@ffilz
The patch needs a SETATTR after OPEN, but when I test, there is not a SETATTR after OPEN in NFS4.1. But In NFS4.2 there is a SETATTR after OPEN.

![image](https://user-images.githubusercontent.com/92144382/151100012-cf8c7bf5-8367-424d-b3a2-fc766f86385e.png)

[2022-01-26 04:21] liyinshubyte commented on #780
@ffilz Can I fix this ? Is it enough to use attrs_in  to overwrite entry's attr ?

[2022-01-26 15:20] ffilz commented on #780
I think so, you need to make sure you have the appropriate lock to change the attr.

[2022-01-26 15:25] ffilz commented on #783
Can you try on Ganesha V4.1? It's possible there's another patch required also but I'm not sure why there would be a difference between NFS v4.1 and v4.2 since this is not in an area where 4.2 changed the spec. The client should be behaving the same way. Are you using the same client for 4.1 and 4.2? If you still see the problem on Ganesha V4.1, please get a tcpdump -s0 -w /tmp/exclusive.tpc trace

[2022-01-27 01:10] liyinshubyte commented on #783
Sure, will test it

[2022-01-27 11:29] betainc opened #785 "I/O ERROR (error 5) occurs when the client open the file"
1 Software version
centos：8.2
nfs-gaensha：3.3
nfs client：nfs-utils-2.3.3-31
ceph：14.2.19
ctdb：4.13.5

2 Cluster information
A three node ceph cluster with nfs-ganesha enabled on each node.
CTDB is used to implement HA, configure virtual IP, and manage nfs.
An NFS client that mounts NFS via virtual IP.
The time between the client and the server is out of sync, with a gap of ten minutes.

RADOS_URLS

[2022-01-27 15:21] jacolex commented on #619
Hello
I'm trying to deploy cephfs nfs on Openstack Xena and still have the same issue.

[...] Command: sudo manila-rootwrap /etc/manila/rootwrap.conf dbus-send --print-reply --system --dest=org.ganesha.nfsd /org/ganesha/nfsd/ExportMgr org.ganesha.nfsd.exportmgr.AddExport string:/etc/ganesha/export.d/share-xxxxxxx.conf string:EXPORT(Export_Id=yyy)

Stderr: 'Error org.freedesktop.DBus.Error.ServiceU

[2022-01-27 23:33] ffilz commented on #785
Jeff Layton has done some Ceph HA work, but instead of moving virtual IP from one node to another, each virtual IP is associated with one containerized Ganesha instance, so HA is accomplished by standing up a new container, possibly on a different node. At least that's how I understand it. I've asked Jeff to weigh in here.

[2022-01-27 23:34] ffilz commented on #619
What version of Ganesha?

[2022-01-27 23:36] ffilz commented on #785
Also, we are technically no longer supporting Ganesha V3.x upstream with the release of Ganesha V4.0. I don't think there are any fixes in V4.0 that aren't in V3.5. You should at least upgrade to V3.5 which definitely has some Ceph fixes if not to V4.0.

[2022-01-28 00:57] jtlayton commented on #785
Does this mean you're running ganesha in parallel on all three nodes? And you're just moving the IP address around to "fail over"?

If so, then the NFS4ERR_EXPIRED makes sense here. You shifted the client to a completely separate server, and it presented a stateid to the server that was unrecognized. You didn't impose a grace period, so there was no reclaim. The rados_kv backend is only built to w

[2022-01-28 06:21] betainc commented on #785
@jtlayton
Thanks for your reply.
Yes, ganesha is running in parallel on all three nodes.

Ceph cluster built with three physical servers, nfs-ganesha and ctdb started on each server.
Multiple servers to export the same data in parallel.

Each nfs-ganesha provides the same file sharing service to clients in parallel.
This deployment is three independent NFS servers that are serving out the same bac

[2022-01-28 06:44] betainc commented on #785
@ffilz
Thanks for your reply.
The version of ganesha is a bit low. I will consider upgrading the version to test it later to see if the new version has this problem.
According to Jeff Layton, there may be a problem with my configuration, and I want to figure out why the I/O Error occurs first.

[2022-01-28 11:02] jtlayton commented on #785
It isn't. You'll have all 3 machines competing to read and write from the same object, without coordinating between them. If you plan to run multiple ganesha heads in parallel, then you probably want rados-cluster.

Also, any reason you're rolling your own NFS setup here and not using the stuff built into ceph's management layer?

See: https://docs.ceph.com/en/latest/mgr/nfs/

[2022-01-28 18:38] dang commented on #619
This is a different issue.  Your openstack didn't install the proper files to enable dbus on Ganesha.  org.ganesha.nfsd.conf needs to be installed in /etc/dbus-1/system.d/.

[2022-01-28 19:15] jacolex commented on #619
So my case is not related. It's related to kolla-ansible.

[2022-01-28 20:15] ffilz opened #786 "Implement Quality of Service (was Add some kind of throttle on requests)"
With async coming forward, the possibility of saturating Ganesha with async requests, particularly read requests, becomes a possible issue. It would be wise to have some kind of throttling.

One possibility is a high water mark of in progress requests which when exceeded, ntirpc stops reading requests from sockets.

In theory the NFS v4.1 slot cache limits the number of in progress requests to the

[2022-01-29 22:09] aebruno opened #787 "Support for more than 16 unix groups when using RPCSEC_GSS krb5 authentication"
We seem to be hitting an issue when enabling `Sectype = krb5,krb5i,krb5p;` and users with more than 16 unix groups. We tried setting `Manage_Gids = TRUE;` but still hitting the issue. We're using NFSv4 with the PROXY_4 backend. It's also worth noting setting `Sectype=sys` has the same behavior and does not appear to work with > 16 groups.

Here's the error we're hitting with FULL_DEBUG enabled:

[

[2022-01-30 00:17] boulos commented on #787
I'd bet the V4 proxy needs a change like I did for the v3 proxy in
https://github.com/nfs-ganesha/nfs-ganesha/commit/a0fa07f19925055344edc6ad4585b33d44d20af9#diff-3ec9d916694aecc0bc6b8108dc93c6056d784188aed723584fe5f0f8f21c18b7.
That way, instead of sending the expanded groups, it'll just pass the
original request and groups to the backend (where you'll need manage_gids
enabled to have that work).

[2022-01-30 03:11] aebruno commented on #787
@boulos Thanks. Just as a quick test, I took a stab at adding this to V4 proxy based on your V3 commit. [See here](https://github.com/ubccr/nfs-ganesha/commit/9efeee479a03557b3c8b0250b35909a32bcc82a3). This appears to fix the error and doesn't crash the mount any more. However, I'm now getting permission denied errors. For example, if a directory is 750 and owned by any group other than the users

[2022-01-30 03:27] boulos commented on #787
(Phone reply, so I'm assuming you got them all).

Can you do capture another round of FULL_DEBUG? If that doesn't work, we'll
probably want to use wireshark to see what comes in and what gets passed
along.

On Sat, Jan 29, 2022 at 19:12 Andrew E. Bruno ***@***.***>
wrote:

[2022-01-30 16:56] aebruno commented on #787
Attached is
[gh-issue-787-16-unix-groups.txt](https://github.com/nfs-ganesha/nfs-ganesha/files/7966413/gh-issue-787-16-unix-groups.txt)
 a snippet of the full debug logs relating to the failed listing of the directory. Full debug is quite chatty so let me know if there's a better way to filter the logs. Happy to provide wireshark as well, just let me know how best to get you that data.

[2022-01-30 20:15] boulos commented on #787
Hmm. Can you do a blind stat of a file you know exists? (in case it's a
problem with readdir)

[2022-01-31 01:36] aebruno commented on #787
No, stat file that I know exists errors with permission denied. same as readdir.

[code]

[code]

[2022-02-01 00:56] ffilz commented on #619
Could you open a new issue then if you still need help with your issue?

[2022-02-01 09:09] jacolex commented on #619
OK, thanks.

[2022-02-08 08:54] WelldoneIT commented on #771
hello @ffilz @dang,  i have upgrate nfs-ganesha to V3.5,but also have this problem. and use "netstat" could found lot queue bcaklog.

[2022-02-08 10:17] DimitriPapadopoulos opened #790 "Useless files?"
Are these files still useful?
* [`src/ReleaseNote`](https://github.com/nfs-ganesha/nfs-ganesha/blob/next/src/ReleaseNote)
* [`src/rpm_changelog`](https://github.com/nfs-ganesha/nfs-ganesha/blob/next/src/ChangeLog)

[2022-02-08 10:35] DimitriPapadopoulos opened #791 "Update checkpatch.pl"
Update to the latest version from Linux kernel source tree:
* [`scripts/checkpatch.pl`](https://github.com/torvalds/linux/blob/master/scripts/checkpatch.pl)
* [`scripts/spelling.txt`](https://github.com/torvalds/linux/blob/master/scripts/spelling.txt)

I would need to bypass commit hooks, because `checkpatch.pl` finds typos in its own `spelling.txt` file:
[code]

Suggestions?

[2022-02-08 16:25] ffilz commented on #791
Go ahead an submit a patch for that. I have an invocation to run checkpatch on the entire code base. Now is a good time to make a change like this before anyone starts using V4.x in production we can make sure to get all this cleanup stuff into V4.1 and push folks to use that in production. Then when we are backporting to v4-stable, we won't wind up with manual merges due to cleanup.

[2022-02-08 16:29] ffilz commented on #790
Hmm, I thought I had got rid of those. There's also src/ChangeLog that hasn't been updated in a long time, I think we can safely get rid of it also. At this point, ancient history is preserved in git (and all those files are preserved in stable branches).

[2022-02-08 16:29] ffilz commented on #790
So go ahead and get rid of those files also.

[2022-02-08 16:37] ffilz commented on #771
I just looked at the V4 release notes, and I don't see anything that might be a fix there, but could you try with V4.0? Also, curious if all the stacks are working on the same obj_handle. If you can dump all the stacks and grep for mdcache_getattrs we can see if it's all the same obj_handle, or several. The two stacks you show are the same obj_handle.

[2022-02-08 16:38] ffilz commented on #771
We technically no longer support V3.5, any fixes would definitely just go into V4.

[2022-02-08 17:58] DimitriPapadopoulos commented on #791
I need to modify the pre-commit hook, instructing `checkpatch.pl` to ignore itself:
[code]
Will try this:
[Want to exclude file from "git diff"](https://stackoverflow.com/questions/10415100/want-to-exclude-file-from-git-diff#39943727)

[2022-02-08 21:00] ffilz commented on #791
I ran the latest kernel checkpatch against the Ganesha source. It's asking for an SPDF license line for every file... Looking into the best way to get all those in... That will be handy since it then makes a one line you can grep for to verify licenses...

[2022-02-09 08:19] WelldoneIT commented on #771
YES，all threads are the same obj_handle.

[2022-02-09 11:41] DimitriPapadopoulos commented on #791
In the short term, it will not be asking for an SPDX licence line with `--ignore SPDX_LICENSE_TAG`.

[2022-02-10 06:29] liyinshubyte commented on #780
@ffilz Hi, I submit the patch, could you help review it ? Thanks a lot.

https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/532938

[2022-02-10 14:16] DimitriPapadopoulos commented on #790
Removed `src/ChangeLog` too.

[2022-02-11 00:16] ffilz commented on #791
I posted a patch series that includes the latest checkpatch.pl, updates the config file, provides fixes for most of the errors and warnings reported, and a major effort to indicate licensing of files.

This is the head patch in the series:

https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/533010

[2022-02-14 08:36] liyinshubyte opened #792 "Question about design doc."
@ffilz Hi, is there any design doc of ganesha ? I want to learn the design of mdcache and lru. Thanks a lot.

[2022-02-16 06:36] liyinshubyte opened #793 "Question about node_k in cih_get_by_key_latch"
@ffilz @dang Hi, I found we use `k_entry.fh_hk.node_k` to find node in `cih_get_by_key_latch`, i.e. `node = cih_fhcache_inline_lookup(&latch->cp->t, &k_entry.fh_hk.node_k);`. But it seems we did not assign any value to k_entry.fh_hk.node_k, and I also print the fileds of node_k, i.e. left, right, parent, the fileds  actually did not has value, other than the initial value. Is it a bug ?

[2022-02-16 15:01] dang commented on #793
In cih_set_latched(), we call avltree_insert(&entry->fh_hk.node_k, &cp->t); which sets node_k.  cih_remove_latched() also calls avltree_remove(), which will clear node_k.

[2022-02-16 22:26] ffilz commented on #792
Unfortunately we didn't do any design documentation... There are bits and pieces where I scratched something out on paper and discarded it. I don't know what other developers have done. We DO try to include some information about functions in the Doxygen comments ahead of the function, and we try to document tricky bits in comments in the code.

That said, you can feel free to use this issue to as

[2022-02-16 22:27] ffilz commented on #793
Does that resolve your question? If so, please close the issue.

[2022-02-17 00:53] liyinshubyte commented on #793
@dang @ffilz sorry, but one question, k_entry is a local variable in cih_get_by_key_latch, and has no chance to set node_k by avltree_insert, so where does the value of k_entry.fh_hk.node_k comes from ?

[2022-02-17 06:57] Vicente-Cheng commented on #793
`cih_get_by_key_latch` try to get entry from cache and avltree.
It is used for checking. You could find that on `mdcache_new_entry`/`mdcache_find_keyed_reason`.

avltree_insert is called by cih_set_latched, you could find on mdcache_new_entry.
That update mdcache lru then insert an entry to avl tree.

If you set up dir_chunk, another avltree_insert would be called on dir entry related function.

@

[2022-02-17 16:38] dang commented on #793
@liyinshubyte You're correct, cih_get_by_key_latch() never sets it, but cih_set_latched() does.  That operates on &entry->fh_hk.node_k

@Vicente-Cheng Your analysis is correct.

[2022-02-17 20:30] ctuffli opened #794 "cmake fails on latest (V4.0.2) with USE_GSS=ON"
Running cmake from git sources (hash `4be14172541579c92a515bd92bed42a88e37b04a`) on an Ubuntu 21.04 systems fails to find `gssapi.h`

[code]
Initially did a `git clone` without the `--recursive` but followed up with an `git submodule update --init`

[2022-02-18 09:35] liyinshubyte commented on #793
@Vicente-Cheng @dang Thanks the answer, got it.

[2022-02-18 09:35] #793 closed, assigned to nobody

[2022-02-21 03:28] Vicente-Cheng commented on #794
hi @ctuffli,
I test with 21.04 on cmake 3.18 and also installed libkrb5-dev (for krb5 and gssapi)

It looks fine to me.
Could you try to reset your build folder and run `cmake` command again?

there is my partial output for gssapi.h
[code]

[2022-02-21 07:31] koraykutanoglu opened #795 "remove delete permission for NFS directory"
There is something I want to do but cannot do. After installing NFS server, I connect it to client server. But I want to set special permissions to this accessed directory. For example, I want all users (including root) on the client machine to be able to create a file in the NFS directory to which they are mounted, but not delete the file. The reason I want this is because I want to take a backup

[2022-02-21 13:36] Haroldll opened #796 "Question about lock destroy?"
Several locks or cond are initialized in ganesha code, but I don't see where to destroy?
So I want to ask where it was destroyed or not needed to be destroyed.
Thanks!

The lock is as follows：
fsal_status_t dirmap_lru_init(struct mdcache_fsal_export *exp)
	rc = pthread_mutex_init(&exp->dirent_map.mtx, NULL);

fsal_status_t mdcache_fsal_create_export()
	PTHREAD_RWLOCK_init(&myself->mdc_exp_lock, &a

[2022-02-21 14:20] dang commented on #794
GSS libraries are frequently not installed on a base system.  On fedora-like systems, they're provided by krb5-devel, so something like that will be necessary on Ubuntu.

[2022-02-21 14:26] dang commented on #796
Those don't appear to be destroyed, it's true.  They probably should be, but I don't think it ultimately makes much of a difference, since the memory is freed right after it would have been destroyed.

[2022-02-21 19:30] ffilz commented on #796
It might be good to destroy these. Linux consumes no hidden resource for pthread objects but other OS might.

[2022-02-21 19:31] ffilz commented on #794
Do we have the right package dependencies?

[2022-02-21 19:34] ffilz commented on #795
I'm not sure, the sticky bit might work here?

The only other option would be FSAL and backe nd that support NFSv4 ACLs, which at this time is pretty much just GPFS.

[2022-02-22 07:17] koraykutanoglu commented on #795
After much research I came to the conclusion that this is not possible. Even if this is possible with ACL, you can set the file size to 0 bytes with tools like echo. In addition, directory permissions are shared instantly on NFS shares. So it is possible to change the directory permissions on the client. Maybe there is a way to prevent this. But I'd rather find an easier alternative than messing a

[2022-02-22 07:17] #795 closed, assigned to nobody

[2022-02-22 13:03] kalebskeithley commented on #794
USE_GSS is enabled/on by default, no need to enable it explicitly. (Although it won't hurt.)  The cmake output confirms that USE_GSS is ON.

I was able to build HEAD of next branchon my 21.04 (hirsute) box.
The (minimum) set of dependendencies that I had to install were:
 + libkrb5-dev
 + pkgconf
 + libdbus-1-dev
 + liburcu-dev
 + bison
 + flex
 + doxygen

There may be others.

The cmake command I

[2022-02-22 20:49] kalebskeithley commented on #794
@dang reminds me that -DUSE_GSS is a tri-state config option and letting it take the default means it'll (silently) disable it if gssapi isn't found. It didn't.

And explicitly setting it will fail cmake if it's not found.  So I tried again, this time explicitly setting -DUSE_GSS.

And it worked that way as well.

[2022-02-23 15:30] Haroldll commented on #796
@dang @ffilz Thanks for your replies, I understand now.

[2022-02-24 00:15] ctuffli commented on #794
@dang I believe the development libraries similar to what you suggested are installed:
[code]
I removed the original build directory, created a new one, and re-ran ccmake. This time everything worked correctly. Thank you all for the pointers and sorry for the noise.

[2022-02-24 00:15] #794 closed, assigned to nobody

[2022-02-24 08:30] Haroldll commented on #796
@ffilz @dang
I have encountered a new confusion, I don't understand how the memory requested in the two functions nfs4_add_clid_entry and nfs4_add_rfh_entry is released?
The memory requested in the nfs4_add_clid_entry function, I saw that the nfs4_cleanup_clid_entries function will clean up. But the function nfs4_cleanup_clid_entries will only be called when grace starts. Do you not need to call i

[2022-02-25 01:00] ffilz commented on #796
Yea, those maybe should be cleaned up too. I'll have a look.

[2022-02-25 12:43] amartel opened #797 "nfs-ganesha 4.0.1 + ceph 16.2.6 + ACL"
I'm very interested with nfs-ganesha v4 and the full support of posix acl in ceph fsal.
I tried v4.0.1 on CentOS 8 (stream) but I still have trouble with ACL support when using CEPH FSAL. As samba provides this functionality, I looked into the samba source code and found additional instruction when setting up a CEPHFS share:

source3/modules/vfs_ceph.c, line 123:
<pre>
	/* libcephfs disables POSIX

[2022-02-25 17:25] ffilz commented on #797
Please submit a patch via gerrithub as documented in src/CONTRIBUTING_HOWTO.txt

[2022-03-01 13:04] Haroldll commented on #765
@ffilz
I had the same problem updating ganesha, on ceontos 8.2.

Updating / installing...
   1:libntirpc-4.0-.3.el8             ################################# [  7%]
   2:nfs-ganesha-selinux-4.0-.3.el8   ################################# [ 14%]
Failed to resolve typeattributeset statement at /var/lib/selinux/targeted/tmp/modules/200/ganesha/cil:61
/usr/sbin/semodule:  Failed!
   3:nfs-ganesha-4

[2022-03-02 11:10] #780 closed, assigned to nobody

[2022-03-02 11:18] liyinshubyte commented on #764
@ffilz Hi, sorry, I have one question, how does async improve the performance of read/write ?
If read/write cost long and block all existed threads, ganesha would  create a new thread to process the new request. In our case, ganesha will increase max to 1000 threads. I think 1000 threads is not so large, so maybe async can not help ?

[2022-03-03 15:26] Keeper-of-the-Keys commented on #797
Is this related to https://github.com/nfs-ganesha/nfs-ganesha/issues/518 ?

[2022-03-05 09:55] liyinshubyte commented on #753
@ffilz Hi, use hostname as key of client record,  can help state recovery when client restart. But if we do not care about state recovery, and care more about docker case. Can we use some unique-id generated by ganesha as the key of client, and also pass this unique-id to client. For example, can we use `clientid4` as the key of client record?

[code]

[2022-03-07 00:57] liyinshubyte opened #799 "Exit immediately when LogFatal"
**What's the problem ?**
When LogFatal, if use exit(2), ganesha can not exit immediately, and will destruct some memory variable, as the following image shows. This will cause core, such as some virtual table pointer become 0x0, and when call the corresponding virtual method, crash happens, and when we gdb core file, we will see some strange phenomenon, get confused, and hard to debug.

![image](h

[2022-03-07 21:03] ffilz commented on #753
Look at this upstream kernel patch and discussion:

https://lore.kernel.org/all/6e05bf321ff50785360e6c339d111db368e7dfda.1644349990.git.bcodding@redhat.com/

I don't know if that is heading towards a resolution for this issue.

[2022-03-07 21:05] ffilz commented on #797
Tangentially. FSAL_CEPH is hooked up for POSIX ACLs but it seems that some bits are missing.

FSAL_VFS is not at all hooked up to POSIX ACLs.

[2022-03-07 21:20] dgengtek opened #800 "Aborting gsh_malloc due to out of memory"
Hi,

service is running in a lab on odroid-hc2 armbian. The SBC has 2GB of ram and during runtime 313Mi total is used while ganesha uses only ~35m RES, 351.9m VIRT. Maybe someone can help me to debug this issue further?

After a short time the server gets killed by systemd with
[code]

Nothing else found in the journal or kernel logs. Running the service on the command line exits with code 134.

[

[2022-03-07 21:29] dgengtek commented on #800
Looked up exit code OPENHANDLE_ALLOCATE_BY_FD 139. Increasing open files (-n) limit seems to help.

[2022-03-08 14:40] dgengtek commented on #800
Nevermind the service still fails with the same last message like in the debug logs `xdr_ioq_uv_create :MEM ALLOC :NULL :Aborting gsh_malloc due to out of memory`.

Any clues?

[2022-03-08 15:26] dang commented on #800
It's possible that the machine is out of memory.  How much memory is available when Ganesha is running?  The kernel is quite bad at choosing what to kill due to lack of memory.

[2022-03-08 15:46] dgengtek commented on #800
This is during runtime when nfs-ganesha is still running. Ganesha uses around ~30Mi after which it get signal killed.
[code]

How much memory is required to run ganesha?

[2022-03-08 17:10] dgengtek commented on #800
I attached the valgrind logs. Maybe I am interpreting the output wrong but it seems like it is an issue with the arm allocator used by samba? Do I have a linking issue?

[code]

[nfs-ganesha-valgrind.txt](https://github.com/nfs-ganesha/nfs-ganesha/files/8208195/nfs-ganesha-valgrind.txt)

[2022-03-08 17:51] ffilz commented on #800
I'm out of practice with valgrind. Can you get full stacks for those apparent leaks?

[2022-03-08 18:55] dgengtek commented on #800
Thank you for your replies. I installed the debug symbols for those errors in the summary.

[code]

[2022-03-08 19:19] ffilz commented on #800
Are those actually Ganesha threads? Thread 13's stack at least shows that it's in Gluster code.

[2022-03-09 14:00] dang commented on #800
How much memory Ganesha needs depends on the workload, but you have 1.3G available, so the box is not actually out of memory.  This means something else is causing the allocation failure.

The error appears to be in code from samba?  (/usr/lib/arm-linux-gnueabihf/samba/libsys-rw.so.0)  I'm not sure how this code is getting loaded?

ARM is not a well-used platform for Ganesha.  It's not impossible

[2022-03-09 19:28] dgengtek commented on #800
It is just a homelab with no workload to mention. Nothing else runs on that device except some monitoring agents, gluster, samba and nfs-ganesha

Ran it with gdb and the valgrind output probably is not relevant to the issue?

[code]

I guess this is not an issue with nfs ganesha but probably with the device? Should I report this on armbians forum since this is not an issue with nfs ganesha?

[2022-03-10 14:33] dang commented on #800
This may be a ganesha issue.  It looks like it's trying to allocate 1.3GB, which likely will fail.  My first thought was that it was a byte-order bug, but sx_fbtbc is byte-swapped properly in svc_vc_recv().   Maybe it's related to byte-swapping and the LAST_FRAG flag?  Or maybe it's a broken client that's sending a huge value?

[2022-03-14 13:58] liyinshubyte opened #801 "Fix client hang when TEST_STATEID return NFS4ERR_STALE_STATEID"
@ffilz @dang Hi, in our cluster, nfs client got stuck when ls dir, then I use tcpdump to capture the packet in client. I find TEST_STATEID return NFS4ERR_STALE_STATEID infinitely, and restart ganesha does not work.
![image](https://user-images.githubusercontent.com/92144382/158185902-8702ce73-1c67-4ebb-9273-45e8078b8e9d.png)

Then I found this [patch](https://linux-nfs.vger.kernel.narkive.com/Rult

[2022-03-14 20:55] ffilz commented on #801
Where did you make the change?

What are the circumstances of this issue arising?

[2022-03-14 23:38] liyinshubyte commented on #801
@ffilz Hi, I make change in nfs4_state_id.c, and in function: nfs4_Check_Stateid. And I do not know how this issue arising, I only see the phenomenon.
[code]

[2022-03-15 09:14] liyinshubyte commented on #801
I also print the epoch and epoch_low, the epoch which comes from client, will not change forever(observe 15minutes), so the client hang forever(observe 3 hours). When I restart ganesha, epoch changes to the pre epoch_low, i.e. epoch changes to 1647313318, but epoch_low change to new value when restart ganesha, so epoch will never equal to epoch_low, when `status = NFS4ERR_STALE_STATEID`.

`Check T

[2022-03-17 00:40] liyinshubyte commented on #799
@ffilz Hi, could you help merge this PR ? Thanks a lot.

[2022-03-23 10:03] liyinshubyte opened #802 "Can NFS Client retry when OP_WRITE return error ?"
In our case, we hope nfs client can retry some times when OP_WRITE return error, can we achieve this ? We try some error code, for example NFS4ERR_IO, but it does not work.

If we retry in our fsal, the ganesha thread can not be released, because the thread is retrying, then ntirpc will create new thread for new request, maybe there are a lot of threads to create.

[2022-03-23 14:14] dang commented on #802
I'm not sure I'm fully understanding the situation, but the error that means "retry" is NFS4ERR_DELAY.  I'm not sure if that's legal on a write or not.  Frank might have a better idea.  He's on vacation and will be back next week.

[2022-03-23 14:18] liyinshubyte commented on #802
@dang Thanks the reply. Yes, I want to know which error code can make the nfs-client retry OP_WRITE.

[2022-03-24 09:25] nakermann1973 commented on #797
Thanks for the patch.  I have tested and it works for me for files in cephfs, but not for directories:

[code]

It also shows the `A::GROUP@:rtcy` acl duplicated.

Any ideas on either of these issues?

----

* NFS-Ganesha Release = V4.0 (based on https://download.nfs-ganesha.org/4/4.0/CentOS/)
* ceph image quay.io/ceph/daemon:v6.0.7-stable-6.0-pacific-centos-stream8
* ceph version: ceph version 16

[2022-03-24 11:12] #783 closed, assigned to nobody

[2022-03-24 11:17] liyinshubyte opened #804 "How to authorize nfs-client ?"
Currently we are using a load-balance service for automatically failover, which exports one vip to the nfs client. Nfs client builds the connection with the load-balance service, which is responsible to transfer the client request to one of backend nfs ganesha servers. For example
[code]

We want to authorize some specified nfs-client can mount our filesystem.  But we can not config nfs-client ip/

[2022-03-24 12:34] dang commented on #804
You can configure ganesha dynamically in two ways.  You can modify the config file, and send Ganesha a SIGHUP, or you can use the DBUS api to configure directly at runtime.

[2022-03-24 12:41] liyinshubyte commented on #804
@dang Thanks the reply, but we may have thousands of clients, and it's hard to operation, maybe we need to add client everyday if have new user. And the config maybe too large.

[2022-03-24 13:16] dang commented on #804
Then you can use the DBUS api, that's what it was designed for.

[2022-03-24 13:38] liyinshubyte commented on #804
@dang I'm thinking whether kerberos can do this, give the keytab to the authorized client.

[2022-03-24 15:56] dang commented on #804
possibly, but I think it would involve modifying ACLs on the filesystem for each new user you create.

That said, I doubt it would be easier or faster to update a kerberos server than it would be to update Ganesha with the new client info.

[2022-03-25 06:39] twoholes opened #805 "mount.nfs4: mount system call failed"
hi:
1、ganesha.conf:
EXPORT
{
	# Export Id (mandatory, each EXPORT must have a unique Export_Id)
	Export_Id = 77;

	# Exported path (mandatory)
	Path = /export/;

	# Pseudo Path (required for NFS v4)
	Pseudo = /1;

	# Required for access (default is None)
	# Could use CLIENT blocks instead
	Access_Type = RW;

	# Exporting FSAL
	FSAL {
		Name = VFS;
	}
}
NFS_CORE_PARAM
{
    mount_path_pseudo = true

[2022-03-25 06:47] twoholes commented on #805
Ganesha Release = V2.8.4

[2022-03-25 06:54] twoholes commented on #805
I open then full debug log mode.
[root@host102424142 ~]# cat /var/log/ganesha.log

25/03/2022 14:53:04 : epoch 623d66c6 : host102424142 : ganesha.nfsd-61118[lk_poll] fridgethr_freeze :RW LOCK :F_DBG :Released mutex 0x1fab820 (&fe->ctx.mtx) at /root/rpmbuild/BUILD/canghai-nfs-1.0.0/src/support/fridgethr.c:451
25/03/2022 14:53:04 : epoch 623d66c6 : host102424142 : ganesha.nfsd-61118[lk_poll] fridget

[2022-03-27 11:17] liyinshubyte opened #806 "Free not only first entry"
Currently lru_reap_impl only check whether first entry of lq->q can be reclaimable. But sometimes, the first entry can not be reclaimed for a long time, then we have to malloc several million new mdcache_entry_t. The size of mdcache_entry_t is 1200 bytes, then the memory of mdcache_entry_t is serveral GB, which should be improved. So we check all the entries of lq_q, whether can be reclaimed, to a

[2022-03-27 11:21] liyinshubyte commented on #805
@twoholes Hi, could you install tshark in client, and use `tshark -Ynfs -t ad` to see nfs-client packet, and cut and paste it here ?

[2022-03-28 09:29] Vicente-Cheng commented on #806
Hi @liyinshubyte,

I thought that lru_get would try to reclaim entry or allocate the new entry.
The reclaim behavior has a trade-off between performance and overhead.

The default LRU lanes are 17. The behavior now is that check 17 items (first entry of lane) from L2/L1. There is check most 17*2  times then we could create a new entry.
If we walk through the entire entry list. The overhead would b

[2022-03-28 09:49] liyinshubyte commented on #806
@Vicente-Cheng Thanks the reply.  Where the entries of L2 are freed.

[2022-03-28 11:17] twoholes commented on #805
take

hi, I use wireshark getting the package like this:
this
![图片](https://user-images.githubusercontent.com/56353176/160386514-b607d826-9692-4ac2-8dc1-43888f474b39.png)

-----------------------------------------------------------------
when I set "Pseudo = /; "，then I can mount OK.

[2022-03-28 11:29] twoholes commented on #805
![图片](https://user-images.githubusercontent.com/56353176/160388635-c2e7cf48-c49b-4804-8ded-4cabfe7f8962.png)

the size and fileId is 0.

[2022-03-28 13:57] liyinshubyte commented on #805
@twoholes seems correct.
`the size and fileId is 0.`

[2022-03-28 15:22] Vicente-Cheng commented on #806
lru_run_lane would move mdcache entries that could be released from L1 to L2.
When the entries are more than hiwater, lru_run would call `mdcache_lru_release_entries` to unref it last reference count.
When the last refcnt is decreased, the mdcache entry would be free.

[2022-03-28 22:59] ffilz commented on #804
Hmm, this is something that may need another way to handle. Since the client list is just a linked list, 1000s of clients may cause quite a slow down. Unfortunately I don't know any other way to handle it.

I'm labeling this as a question/enhancement while we discuss what a possible solution might be.

Hmm, Kerberos might work if you have a realm for the authorized clients. In that case, only an a

[2022-03-28 23:07] ffilz commented on #805
Could you try with Ganesha V4.0.3? V2.8.4 is very old.

[2022-03-28 23:25] ffilz commented on #802
Yes, NFS4ERR_DELAY is a valid result for OP_WRITE.

Can you share any more details on what is going on that you want the client to retry? Retry of OP_WRITE is a bit expensive since the client will need to send the data again.

You could implement async I/O to retry and not block a thread.

[2022-03-29 02:11] twoholes commented on #805
OK, I will try it.
thank you very much.

[2022-03-29 09:32] liyinshubyte commented on #806
@Vicente-Cheng Thanks the reply. I find only when [currentopen >= lru_state.fds_lowat](https://github.com/nfs-ganesha/nfs-ganesha/blob/next/src/FSAL/Stackable_FSALs/FSAL_MDCACHE/mdcache_lru.c#L1371), ganesha will release  mdcache entries from L1 to L2. But in our ganesha, currentopen always be zero, so release from L1 to L2 will never happen.

Then I check why `currentopen` always be zero, `curren

[2022-03-29 16:05] ffilz commented on #806
Are you only using NFSv4? If so, only COMMIT operations result in open_fd_count being incremented.

As a workaround, you could set FD_LOWAT_PERCENT to zero so that entries are always being demoted to L2.

[2022-03-29 16:06] ffilz commented on #806
Added Matt and Daniel to the conversation.

[2022-03-30 00:41] liyinshubyte commented on #806
@ffilz Yes, I'm using NFSv4.1, then I know why open_fd_count always be zero, do we need to fix this ?

[2022-03-30 06:56] megarzzy opened #807 "how to use DRC ? could you give me some instruction?"
https://github.com/nfs-ganesha/nfs-ganesha/wiki/Cluster-DRC
init_cmal/add_drc_entry(xid, entry)/retrieve_drc_entries(ip_address)/shutdown_cmal()
i can not find any symbols about "cmal" ,need I  to implement the four interface in which place?

[2022-03-31 08:29] liyinshubyte opened #808 "Question about pNFS"
Currently, we use ganesha in the following model, but the bandwidth of LoadBalance limit the throughput of cluster. For example, if the cluster throughput is 40GB, then the bandwidth of LoadBalance also should be more than 40GB, LoadBalance need a lot of machine to achieve this.
![image](https://user-images.githubusercontent.com/92144382/161010590-fb146187-001e-4154-9ed2-4abbb52c4a36.png)

So we w

[2022-03-31 08:38] liyinshubyte commented on #802
Yes, this is good idea. Thanks a lot. @ffilz

[2022-03-31 08:39] #792 closed, assigned to nobody

[2022-03-31 08:48] liyinshubyte commented on #804
@ffilz Hi, thanks a lot for the reply. For example, we kinit to generate a ticket for "myuser", then mount ganesha. Can ganesha get "myuser" from request ? If yes, then we can check whether "myuser" has authority.

[2022-04-01 17:56] ffilz commented on #808
Ganesha can act as a DS, but I'm not sure what the state of pNFS is for Ganesha. FSAL_GPFS implements MDS and DS as an example.

[2022-04-01 17:57] ffilz commented on #807
This proposal was never implemented.

[2022-04-01 18:00] ffilz commented on #804
So I think the way this would work with current code is that any client that could not get a valid Kerberos ticket would be forced to use non-Kerberos AUTH which would then be blocked from accessing any exports. You would have to play with Kerberos setup and see how it all works. Sadly, I don't do enough Kerberos to even be able to reliably set it up...

[2022-04-02 07:08] twoholes opened #809 "Program received signal SIGABRT, Aborted"
I have got a COREDUMP：
---------------------------------------------------------
Program received signal SIGABRT, Aborted.
[Switching to Thread 0x7fffe99ab700 (LWP 15734)]
0x00007ffff62281d7 in raise () from /lib64/libc.so.6
Missing separate debuginfos, use: debuginfo-install bzip2-libs-1.0.6-13.el7.x86_64 elfutils-libelf-0.166-2.el7.x86_64 elfutils-libs-0.166-2.el7.x86_64 expat-2.1.0-8.el7.x86_64

[2022-04-02 07:15] #809 closed, assigned to nobody

[2022-04-04 10:31] bjorn-fischer opened #810 "Crash in RPCAL/nfs_dupreq.c since 9316124"
The new code for handling duplicate calls (Dec 8th, 9316124) triggers some nasty crashes on our Ganesha setup. The daemon often terminates and gets restarted on ```PTHREAD_MUTEX_lock(&dv->mtx)``` returning **EINVAL**:
[code]

When turning on **FULL_DEBUG** for **DUPREQ**, the log looks like this:
[code]

This issue did not occur prior to 9316124.

Cheers,
Björn

[2022-04-04 13:58] skmprabhu1 opened #811 "Issue with Nested Psudo device"
Suppose if we add add export1 with Psuedo path /sampleFS/FS1/ and then add export2 with Psuedo path  /sampleFS/FS1/testmnt , then ganesha is throwing invalid error and not starting.

# systemctl status nfs-ganesha
● nfs-ganesha.service - NFS-Ganesha file server
   Loaded: loaded (/usr/lib/systemd/system/nfs-ganesha.service; disabled; vendor preset: disabled)
  Drop-In: /usr/lib/systemd/system/nfs-

[2022-04-04 15:56] assafyg opened #812 "READDIR returns SERVERFAULT when MDCACHE is disabled"
Using Ganesha version V4.0.3
Configuration is having PROXY_V3 FSAL mounted on an NFSv3 server while NFSv4.1 client is mounted on Ganesha export.

When having the following MDCache config:
`
MDCACHE {
        Dir_Chunk = 0;
}
`
and the directory has more than a certain amount of files (~170), the Ganesha responds with NFS4ERR_SERVERFAULT.
For filling the directory I did:
`for i in {1 .. 170}; do to

[2022-04-04 22:07] ffilz commented on #812
I'm not quite sure what's going on, unfortunately our support for PROXY is limited, I have never even tried to run PROXY.

If you are up for some debug, we might be able to get to the bottom of it.

I will also assign to Solomon Boulos who was working on PROXY, maybe he can take a look also.

[2022-04-04 22:12] ffilz commented on #811
What version of Ganesha are you using?

Also, are you using dbus to add an export to a running Ganesha, or configuring nested exports in your config file? What FSAL are you using? What is the configuration of the two exports?

[2022-04-04 22:15] ffilz commented on #810
Can you share more details of the crash? Are you using the latest build?

[2022-04-05 11:10] bjorn-fischer commented on #810
[code]

For now I have no idea how to trigger the problem. I'm running Ganesha with **FULL_DEBUG** for **THREAD** now and hopefully I'll have some more useful information soon. Yet, ```Error 22``` on ```pthread_mutex_lock()``` is really weird since **PTHREAD_PRIO_PROTECT** does not seem to be used in Ganesha.

[2022-04-05 11:20] assafyg commented on #812
Indeed I could not reproduce this problem when using the VFS FSAL so I'll try to find out what is the difference between those two.
Yet, my final goal is to eliminate cases where there are changes to a directory that is done not through the local Ganesha node  and are missed by later NFSv4 READDIR call (this I could reproduce using the VFS FSAL).
Is there another way to prevent such case beside se

[2022-04-05 14:28] skmprabhu1 commented on #811
Hi Frank,

Ganesha version is 3.5

Also, are you using dbus to add an export to a running Ganesha, or configuring nested exports in your config file? What FSAL are you using? What is the configuration of the two exports?
This is a GPFS environment. we have management command to add new export, the command invoke dbus interface to add new export into ganesha configuration configuration file.

[root

[2022-04-05 17:53] ffilz commented on #811
Ah, OK, so you are trying to put c1 and c2 under c in the pseudofs but they are beside c in the GPFS file system?

In order to do this, the directories /ibm/fs2/c/c1 and /ibm/fs2/c/c2 must exist to be used as mount points. Ganesha will ONLY create directories while building the pseudofs for FSAL_PSEUDOFS exports. It doesn't want to mess with real file systems.

I THINK FSAL_GPFS has all the mechan

[2022-04-05 17:58] ffilz commented on #812
Anytime there are directory changes happening outside a Ganesha instance, any caching has potential to cause entries to be missed. You can tune the attribute timeout to make the window smaller, and the missing entries should eventually show up once the cache has been invalidated due to age (or other activity). This has been an issue for NFS forever...

If your FSAL has capability of sending some k

[2022-04-06 03:09] twoholes opened #813 "crashed in nfs_dupreq_rele()"
hi, I have got a crashed problem like this:
![图片](https://user-images.githubusercontent.com/56353176/161887729-b486484b-269f-4c9f-a939-f5a90f88244e.png)

My version is 4.0.3.
1、nfs_dupreq_rele() -->  dupreq_entry_put(dv)，  in dupreq_entry_put(dv), dupreq_entry_t will be released if refcnt == 0.
2、but after dupreq_entry_put be used, in line:1442 when we step into PTHREAD_MUTEX_lock(&dv->mtx), in st

[2022-04-06 14:15] ffilz commented on #813
I think that may be a dupe of 810. I think this also provides enough clues to find the problem, thanks for the report and details.

[2022-04-06 14:18] ffilz commented on #810
A few more details in issue 813. I think with that I may have enough clues to solve the issue.

The problem is a PTHREAD_MUTEX_lock after the DRC has been freed by dupreq_entry_put. I'm guessing this is a dupe request while another request is in progress (what https://github.com/nfs-ganesha/nfs-ganesha/commit/9316124dd47ee69d630e3529246ee62cdb75d77e was trying to resolve). I need to look at the lo

[2022-04-06 14:20] bjorn-fischer commented on #810
Ok, with **FULL_DEBUG** for **DUPREQ** and **THREAD** I got a rather large log file, but still no idea what's going wrong:

https://docs.cebitec.uni-bielefeld.de/s/KD9JXRtJ3qWiaNg

Within about 12h I got 15 crashes:

[code]

[2022-04-06 22:42] ffilz commented on #813
Try this patch https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/535979

[2022-04-06 22:42] ffilz commented on #810
Try this patch https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/535979

[2022-04-07 02:05] twoholes commented on #813
thanks a lot for this patch.

[2022-04-07 02:08] ffilz commented on #813
Does that resolve the issue?

[2022-04-07 02:24] twoholes commented on #813
yeah .
hi, Is there any module for file cache, just like mdcache module.

[2022-04-07 08:13] bjorn-fischer commented on #810
Great, that was fast. Our ganesha is patched and running again. The next 12h will tell whether it fixes the problem.

Thanks.

[2022-04-07 15:57] ffilz commented on #813
Great, then we can probably close this issue (and leave the other issue open until the patch is absolutely verified and merged).

Separate questions are best asked in new issues, however, the quick answer here is: No. people have contemplated a data cache module but no one has implemented one at this time.

[2022-04-07 15:57] #813 closed, assigned to nobody

[2022-04-07 16:34] dang commented on #808
Expanding a bit: Ganesha is designed to operate as an MDS, a DS, or both, for pNFS.  When the feature was originally implemented, Ganesha was embedded into the data server (a variant on a Ceph OSD) to provide DS-only services directly from the same process as RADOS services.  This worked extremely well, with low latency and high throughput.

However, pNFS support is needed for the FSAL that is bei

[2022-04-08 02:40] liyinshubyte commented on #808
@dang Thanks the reply. Why the Ceph support was broken, if pNFS works well in Ceph.

[2022-04-08 02:46] twoholes commented on #813
I'm waitting in hope for the data module.
Thanks a lot for your answer.

[2022-04-08 07:04] bjorn-fischer commented on #810
Yep, the patch seems to solve the problem. No issues so far.

[2022-04-08 10:00] PopiBrossard opened #814 "Is it possible to add Link_support option to FSAL_CEPH ?"
Dear maintainer,

I'm seeing some FSAL have the option `Link_Support` (and `Symlink_Support`). I think this option is interesting and could benefit the FSAL_CEPH. As the recommendations (https://docs.ceph.com/en/latest/cephfs/app-best-practices/#hard-links) says, hardlink are supported but users should avoid to use it.

It would be great if this option was settable in the FSAL_CEPH. If an administ

[2022-04-08 14:04] dang commented on #808
pNFS never worked in Ceph.  Ceph uses CRUSH to determine OSD/DS location, and CRUSH is not compatible with any published pNFS protocol.  What we did before was make a variation of Ceph that used a different protocol for determining OSD/DS location, and a preview to publishing a new pNFS protocol that could handle programatic layouts.  This work was never completed, as the company doing it ended.

[2022-04-08 15:07] ffilz commented on #810
Oops, there was an unmerged patch: https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/534561 I will take that instead...

Sorry I didn't merge that earlier...

[2022-04-12 03:40] liyinshubyte commented on #801
@ffilz  @dang Hi, How do you think of this ? Do I need to submit a patch ?

[2022-04-12 03:51] #799 closed, assigned to nobody

[2022-04-12 06:30] liyinshubyte commented on #804
@ffilz  But If we use kerberos, we can not auth multi user from the same client. If use kerberos, in client, we must start rpc-gssd.service, rpc-gssd.service need the keytab, such as 1.keytab. Once rpc-gssd.service started, all the user in client must use the same keytab, i.e. 1.keytab.  So we can not auth user1 by user1.keytab.

[2022-04-12 21:12] ffilz commented on #801
That is the only place NFS4ERR_STALE_STATEID is set, so changing that is not correct.

I'm not sure why your client isn't properly responding to NFS4ERR_STALE_STATEID. From RFC7530 section 9.6.2. Server Failure and Recovery:

[code]
What client are you using? The client should respond by establishing a new client id with the server and then start reclaiming state.

[2022-04-12 21:13] ffilz commented on #804
Multiple users should be able to acquire Kerberos credentials and there can be multiple users in the keytab.

[2022-04-13 01:29] liyinshubyte commented on #804
@ffilz Hi,  can we use different keytab files in the same client ? Each user have their own keytab file. But if start rpc-gssd.service, we must use only one keytab file.

[2022-04-13 01:32] liyinshubyte commented on #806
@ffilz @Vicente-Cheng @dang Just a friendly ping.

[2022-04-13 03:57] liyinshubyte commented on #801
@ffilz our client is https://cdn.kernel.org/pub/linux/kernel/v5.x/ChangeLog-5.4.143

[2022-04-13 13:00] Vicente-Cheng commented on #806
Hi @liyinshubyte,

Sorry for the late reply, I am not digging too much for `open_fd_count`.
If you found some bugs on here, you could just propose a patch for it?
That would make the maintainer (like frank, dang) know how you fix that.

For, the reclaim issue, I submit some patches to observe the reclaim ration (means reclaimed/total reclaim tries).
Also, add the parameter to make lru_get prefer t

[2022-04-13 15:11] Haroldll opened #815 "Question: How to run multiple ganesha processes on one node?"
My file storage backend is ceph, using libcephfs.
Recently, when I used vdbench to test ganesha performance, I found that the more ganesha, the better the performance.
For example, three NFS clients mount an export directory through three ganesha nodes, the performance of this scenario is not as good as five NFS clients and ganesha.

So I figured that increasing the number of ganeshas can increase

[2022-04-13 18:25] ffilz commented on #815
These days, I think the easiest way might be containers. I'm not familiar with all that you need to do to run Ganesha in a container though.

Another way to run multiple instances is to use NFSv4.0+ only and bind each process to a different IP address and don't use rpcbind.

This suggests the cephfs client is a limiting factor...

[2022-04-13 18:29] ffilz commented on #806
I think we do need to look at NFSv4 only operation and consider what to do.

I think we really want to get the mdcache entries that have state (NFSv4 OPEN in particular) out of the LRU. They aren't reclaimable no matter where they are. Then what would remain is entries that are being referenced for metadata purposes only (READDIR, LOOKUP, GETATTR etc.) and NFSv3 if in use.

[2022-04-13 18:31] ffilz commented on #801
Hmm, you might want to get a tcpdump trace of the issue and talk to Linux client people. I'm pretty certain Ganesha is doing the right thing (and I'm pretty sure this is at least somewhat tested by pynfs). The client is supposed to go into state reclaim if it gets NFS4ERR_STALE_STATEID or NFS4ERR_STALE_CLIENTID. Those errors are HOW NFSv4+ clients detect server reboot and the need to reclaim.

[2022-04-13 18:35] ffilz commented on #804
A keytab can have multiple users credentials in it. Unfortunately my knowledge of Kerberos administration is somewhat limited, but I think you can have a keytab with all your users in it, and then share that among all your clients.

[2022-04-17 14:36] Haroldll commented on #815
Thanks for your reply，I will try your suggestion.

[2022-04-17 14:36] #815 closed, assigned to nobody

[2022-04-22 01:58] liyinshubyte commented on #808
@dang Thanks the reply. I have another question, sorry for that. In our case, such as there are 4 DataServer(each embed one ganesha), and when write 1MB file, we will split the 1MB file to 4 parts, and each DataServer write 0.25MB. For this case,  if we use pNFS, nfs-client should send 1MB to ganesha1(embedded into the data server), then ganesha1 split 1MB to 4 parts, and send 3 parts to the other

[2022-04-22 02:06] mattbenjamin commented on #808
hi @liyinshubyte ;  what you describe in your second diagram is closer to what cohortfs did with ceph pnfs:  we returned a layout to the client that allowed the client to operate directly against all the data servers.  At a high level, that's the general approach most pNFS implementations have taken--they differ in other ways, of course.

[2022-04-22 02:10] liyinshubyte commented on #808
@mattbenjamin Thanks the reply, do you mean current released pNFS in linux support the second diagram ?

[2022-04-22 02:23] liyinshubyte commented on #808
@mattbenjamin  Besides, can we define how to split 1MB by ourselves ? For example,
[0, 64KB)-> ganesha1
[64KB, 128KB) -> ganesha2
[128KB, 192KB) -> ganesha3
[192KB, 256KB) -> ganesha4
[256KB, 320KB) -> ganesha1
[320KB, 384KB) -> ganesha2
...

[2022-04-22 02:32] mattbenjamin commented on #808
@liyinshubyte in the first instance, you need to decide what set of rules your implementation will follow.  cohortfs experimented with at least 2 different *layouts*.  First, we experimented with the nfsv4.1 files layout defined in (then) rfc5661.  Our collaborators Panasas were using the Object layout.  Some time later, Tom Haynes and other folks proposed the "Flex files" layout.  If I were start

[2022-04-22 02:38] mattbenjamin commented on #808
(As @dang explained earlier, our most advanced prototypes were based on our own programmable layout.  That kind of approach would require you to put custom logic in to NFSv4 clients--which obviously could be challenging to productize.)

[2022-04-22 03:01] liyinshubyte commented on #808
@mattbenjamin Thanks the reply, in the following case, do we need to put custom logic in to NFSv4 clients ?
[0, 64KB)-> ganesha1
[64KB, 128KB) -> ganesha2
[128KB, 192KB) -> ganesha3
[192KB, 256KB) -> ganesha4
[256KB, 320KB) -> ganesha1
[320KB, 384KB) -> ganesha2

[2022-04-22 13:53] dang commented on #808
No, what you want to do should be easily doable in the FlexFiles layout defined in RFC 8435.

[2022-04-23 01:17] liyinshubyte commented on #808
@dang Thanks the reply. I have another question. We will deploy ganesha in Cloud, then nfs-client and ganesha locate on different VPC(Virtual Private Cloud). Different VPC is network isolation, we need to depend on vpc1(nfs-client) -> LoadBalance -> vpc2(ganesha) to connect nfs-client and ganesha. If we use pNFS, maybe we still need LoadBalance to connect nfs-client and ganesha. So, can we skip Lo

[2022-04-23 02:32] mattbenjamin commented on #808
The idea of going direct to the OSDs was to remove hops/proxying. It relied on the ability of Ceph or a similar scale-out storage at sub-file granularity to provide improved bw or latency to clients.  I see that you're doing something discretely different, and you'll need to model it carefully.  If you're seeking to terminate more clients than your storage servers are provisioned to handle, it see

[2022-04-24 00:57] #804 closed, assigned to nobody

[2022-04-24 01:08] liyinshubyte commented on #806
@ffilz @dang @Vicente-Cheng Hi, I submit a change at: https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/536998, we can continue to discuss the fix.

[2022-04-25 14:34] dang commented on #808
For pNFS to work, the NFS client needs network access to the Data Servers (DSs) in addition to the MetaData Server (MDS).  In normal NFS, a single Ganesha would act as both the MDS and the DS.  In pNFS, there's a single Ganesha that operates as MDS, and multiple Ganeshas that live on or very close to the storage that operate as DSs.  The client needs access to all of these.  You could, if you want

[2022-04-25 15:39] mattbenjamin commented on #808
While this is true, a given DS, I believe, could be load-balanced.  (Clarifying;  in the cohortfs or panfs models, there was no reason to do that, but these folks are using pnfs for different reasons that we were.)

Matt

[2022-05-04 07:18] liyinshubyte opened #816 "Does ganesha plan to support state persistence ?"
Currently, when ganesha restart, the lock state on ganesha is lost, so does ganesha plan to support state persistence ?

[2022-05-04 15:35] ffilz commented on #816
That would be pretty intensive use of persistent storage to record every lock and unlock. The state would also have to be reconstituted in a way that nothing depended on pointers. Every single NFS v4.1 operation would result in at least one extra storage operation (to record the sequence number update), and really two because you would also need to persist the slot cache. And there might be additi

[2022-05-04 17:41] jobcespedes opened #817 "QUESTION: nfs stats without dbus compilation"
HI,

Is there a way to get nfs server stats if compiled without dbus (-DUSE_DBUS=OFF)?

[2022-05-04 18:30] dang commented on #817
Nope.  DBUS is the only API that Ganesha supports.

[2022-05-04 18:34] #817 closed, assigned to nobody

[2022-05-05 02:17] Gaurav-Gangalwar commented on #680
@dang @ffilz we are also facing same issue, its same signature, fd is 1024 and epoll_ctl failed
We faced it couple of time and signature is same, select has limitation for fd > 1023, but epoll should work, it happens only when we try to connect to statd.

08/04/2022 20:37:52Z : ntnx-172-19-9-184-a-fsvm 30627[::ffff:172.19.28.214] [io_20] rpc :TIRPC :EVENT :svc_rqst_hook_events: 0x7ff56d472000 fd 1

[2022-05-05 12:11] Gaurav-Gangalwar commented on #680
@dang @ffilz I was able to reproduce this issue, adding details for any future reference.
The issue is related to __rpcb_findaddr_timed getport query from Ganesha to rpcbind to get statd address and port.
If GETPORT timed out, could be due to rpcbind not responding, then we try with dummy fd which is 1024, its not valid fd, we just use it for svc_raw_ncreate, so epoll_ctl is expected to fail with

[2022-05-09 09:50] liyinshubyte commented on #816
@ffilz Thanks the reply, we plan to support state persistence. Is there any discussion before ? so that we can consider more.

[2022-05-09 15:18] ffilz commented on #816
There really hasn't been much discussion other than raising the topic, and brief conversations about what is necessary to accomplish state persistence. Are you doing this for both NFSv3 and NFSv4.x?

To persist state you will need:

For NFSv3 - you will need to re-work how rpc.statd works so that it maintains the active clients as active after reboot as opposed to putting them in recovery, and you

[2022-05-10 00:03] liyinshubyte commented on #816
@ffilz Thanks the reply, we will first work on NFSv4.1+, and first support lock persistence.

[2022-05-10 18:23] ffilz commented on #816
It seems like there may be more interest in persistent state and maybe my stance yesterday was a bit strong.

Persistent state IS going to require significant code changes and increase in complexity. Ideally, we would have at least an in-tree FSAL, preferably one we can run, that can support persistent state (It COULD just be a FSAL_VFS hack that stores the state in an SQL-Lite database or somethi

[2022-05-12 00:33] liyinshubyte commented on #816
@ffilz Thanks the reply. If we first support lock persistence, is it much easier ?

[2022-05-12 14:40] ffilz commented on #816
Not really, at least if you are doing NFSv4.,x since an NFSv4.x lock is dependent on an open stateid and both are dependent on a clientid (which for NFSv4.1 also means persistent sessions). Otherwise the NFSv4.x client would have no way of leveraging the persisted lock.

Now there might be an intermediate stage where a cluster maintains enough knowledge of the locks that when a failure occurs, the

[2022-05-17 23:42] martin-schwenke commented on #680
We're seeing the same thing.  Trying to get an strace of rpcbind to see if it is blocking.  Will update if we find anything useful.

[2022-05-18 10:39] martin-schwenke commented on #680
Nothing blocking in the rpcbind strace.  We just suddenly see no more incoming connections from localhost but rpcbind still accepts and processes connections from NFS clients.  We're gathering more data (tcpdump on localhost:111).  That should tell us whether NFS Ganesha is still trying to send requests or has got stuck somewhere.

[2022-05-19 10:03] r-deshmukh opened #818 "Problem in creating export through dbus"
It is observed that when we create export using dbus with export id 1 then we are not able to add another export. The command which tried to add export returning with following error :
 "check_export_duplicate :EXPORT :DEBUG :Export 1 already exists"

Looks like following code added this error message:
-----------------------------------------------------------------------
commit 7c44cb498a5c75941

[2022-05-19 16:20] ffilz commented on #818
Are you assigning each export a unique export_id? The code in the patch is very simple and just checks each export that is being created by dbus to assure that the export_id is not already registered. What is your original export config? What is the command you have used to add exports? Are you able to add even one export with dbus?

[2022-05-20 10:51] r-deshmukh commented on #818
Actually this is bit strange problem.
When I add an export with export id 1 then I am not able to add another export with say export id 2 or 3.
But when I skip adding export with export id 1 then there is no problem for adding another export with say export id 2 or 3.

I am using dbus command to create export and using VFS FSAL

Command used is as :
# Add export with export id 1
$> dbus-send --pri

[2022-05-23 13:50] mwang911 opened #819 "mem leak in using acl_get_qualifier"
acl_get_qualifier will call malloc to get memory...

function find_entry and function posix_acl_2_fsal_acl use the acl_get_qualifier without freeing the memory...

not sure about other versions of libacl, but acl-2.2.53 calls the malloc in acl_get_qualifier...

why nfs-ganesha does not have the real self mem management pool...  it is also fine to directly use the talloc in samba ....

[2022-05-23 15:34] kalebskeithley commented on #819
Not sure what you mean by "... have the real self mem management pool."

[2022-05-23 16:13] jtlayton commented on #819
Huh? acl_get_qualifier(3) says _nothing_ about needing to free the memory that it returns. I don't see any sort of acl_free_qualifier function in the header, for instance. @mwang911 : Can you clarify why you believe this to be the case?

[2022-05-23 16:35] jtlayton commented on #819
Oops, I stand corrected...you have to free the memory with acl_free(). So this sounds like it's a real bug.

[2022-05-23 16:45] jtlayton commented on #819
You haven't articulated why we'd need one. Note too that ganesha is heavily threaded, but talloc is not thread-safe on its own.

[2022-05-23 21:14] ffilz commented on #818
I don't use dbus to manage exports, so I'm not sure if this is unique to dbus. I even tried adding that check to the update export that is used for regular config read and it didn't cause a problem (it would fail the update though...). Could you enable export debug:

LOG {
    COMPONENTS {
         EXPORT=FULL_DEBUG;
    }
}

And try a failing case. Maybe from that I can determine where things are

[2022-05-23 21:32] ffilz commented on #819
OK, here's the fix

https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/538577

[2022-05-24 03:17] mwang911 commented on #819
yep... multi threads is a problem for talloc ...

I like the way of mem management in talloc, it is very easy to show the real mem usage in process.
While in ganesha, I am not sure where the mem is used in...  I have to handle mem leak with the help of  jemalloc or others...

Another thing... I see little madvise or munmap in strace the ganesha process  when this leak exists...

I was thinking may

[2022-05-24 04:18] martin-schwenke commented on #818
I think I've got this.   I haven't tested the fix, but it seems obvious.  The word "DEFAULTS" seems to be the give-away...  :wink:

The above commit adds the call of `u.blk.check()` after `do_block_init()`, which seems to set the defaults.  The default value for `Export_id` is `1`, so any time this code gets called when `Export_id` `1` already exists, it will fail.

Shouldn't `u.blk.check()` be ca

[2022-05-24 23:43] mschwenke-ddn commented on #680
We are still unable to recreate this.

Looking back further in the logs to the beginning of the issue, we see a stream of:
[code]
This seems to indicate an initial problem connecting to `rpc.statd`, which occurs quite a while before the problem connecting to `rpcbind`.  We discussed this with Malahal, who pointed us at this old patch:

https://github.com/ganltc/nfs-ganesha/commit/42c128e3e5b13b418

[2022-05-25 00:40] mschwenke-ddn commented on #680
Referring to https://github.com/ganltc/nfs-ganesha/commit/42c128e3e5b13b418d397beac310aaab4e4dd5db, ignoring the "when rpc.statd service gets restarted" case (CTDB might do this if rpcinfo checks time out, or rpc.statd could die and systemd might be set up to restart it), could the problem be as simple as `nsm_count--` and `nsm_count++` not being atomic, so that reference count gets messed up?

[2022-05-25 01:04] mschwenke-ddn commented on #680
No, that would have been too obvious.  The decrement and increment are protected by `nsm_mutex`.

[2022-05-25 05:06] Vortexdude commented on #670
If I want to access the nfs by root as well non-root users what options need to specify in the nfs-ganesha conf file
I use nfs-ganesha over the glusterfs

I mount the nfs in the pod and its says permission denied to create a file or modified it.

![image](https://user-images.githubusercontent.com/25547102/170183989-c92014a3-899c-413d-ae01-ade975c9f3c9.png)

[2022-05-25 07:00] martin-schwenke commented on #818
Tested this fix.  Seems to work.  No longer get spurious errors about duplicates.  Duplicates are still correctly detected.

[2022-05-29 09:00] alexzhc opened #820 "Building NFS-Ganesha on Alpine Linux"
hi, dev team.

I'm trying to build nfs-genesha into a minimal alpine Linux container. `cmake` is successful but `make` seems to get syntax error. Please help.

docker build error:
[code]

Here is my dockerfile
[code]

[2022-05-30 09:10] twoholes opened #821 "A question of rgw when mdcache has missed the FH."
Hi, I have got a question for rgw.
When mdcache miss the FH,  we need use func(create_handle()) to get the meta data.
But in rgw(ceph), fh and object info is cached in LRU(like mdcache), when rgw entry size get to hiwat, rgw will drop the fh<->object.
In that case, we can't transform fh to object, so stale handle will be meeted in NFS client?

[2022-05-30 13:39] ciambellino opened #822 "wrong file size on writing...."
Hi all,
thsi my EXPORT:

    EXPORT
    {
            Export_Id = 222;
            Path = '/home';
            Pseudo = /home;
            Protocols = 3,4;
            Access_Type = RW;
            Disable_ACL = true;
            Squash = no_root_squash;
            Sectype = sys;

            FSAL {
                    Name = GLUSTER;
                    hostname="localhost";

[2022-05-31 16:33] dang commented on #820
Two issues. First, the sys/cdefs.h.  I've never seen that warning, and we need cdefs.h, so that has to be figured out.
Second, you're pthread implementation is missing ADAPTIVE_NP.  As far as I can tell,  it's a standard part of pthread.  My guess is that you're not using glibc.  Ganesha has never been tested with a libc other than glibc, so it would likely need a lot of work.

[2022-05-31 16:40] dang commented on #821
It looks like the FH cache in librgw isn't an LRU, but a tree that keeps every entry.

[2022-05-31 16:51] boulos commented on #820
Yeah, Alpine is (defaults to?) musl for libc.

[2022-06-01 12:53] dang commented on #820
Okay, then this is likely to require a porting effort to get Ganesha to work.  We're fairly heavily invested in glibc at this point, although we do run on FreeBSD, so that might help.

[2022-06-01 15:16] ffilz commented on #821
Matt - do you have some thoughts on this?

I don't think this is in Ganesha code, but I'm a bit confused...

[2022-06-01 15:18] ffilz commented on #822
What version of Ganesha? Is the file being modified at all outside NFS? Or are you just trying to download a file that has been unchanged?

[2022-06-01 15:22] mattbenjamin commented on #821
I'm not sure what's being said.  librgw iirc does keep every entry that nfs-ganesha thinks is an active handle, in the general case;  it can keep or discard handles that have been released;  we use invalidates only advisorily;  we rely on nfs-ganesha to manage the budget of handles

[2022-06-01 19:52] ciambellino commented on #822
This is my version: `nfs-ganesha-4.0-1.el8s.x86_64`
The file was download from Rocky linux site, this is not the only file i tried to download.
I use a simple wget to download a file, the same issue if i get a file form scp.

If i mount the same volume with gluster client i don't have this issue, only on ganesha share on the same volume.
This is the Gluster version: `glusterfs-8.6-2.el8s.x86_64`

[2022-06-01 22:58] ffilz commented on #822
Oh, so you are downloading the file using wget or scp onto an NFS mount?

Do you see any errors in the Ganesha log?

I'd be curious if you could set up a FSAL_VFS export and try the same thing.

We may need some debug or traces, which are always a challenge with something this big...

[2022-06-03 08:31] ciambellino commented on #822
yes, from client where NFS is mounted

if i setup VFS, the file was downloaded correctly

I attached  the entire log debug level from start server to file download

[ganesha.log.gz](https://github.com/nfs-ganesha/nfs-ganesha/files/8830861/ganesha.log.gz)

thanks a lot
Federico

[2022-06-07 17:30] skmprabhu1 opened #823 "Issue with config parameter initialization"
Both MDCache and cacheinode uses same structure to read the config file variable. The problem is that the both blocks calling do_block_init(),  hence config value reset to default value and set only config parameter available in that block. We can't use both block at the same time. We need to support both blocks.

[2022-06-07 17:38] skmprabhu1 opened #824 "ganesha crashed @lock_entry_dec_ref()"
ganesha crashed with below stack trace.

Thread 1 (Thread 0x7f18357f3700 (LWP 3235373)):
#0  0x00007f18748c99bf in raise () from /lib64/libpthread.so.0
#1  0x00000000004427b8 in crash_handler (signo=11, info=0x7f18357f0bb0, ctx=0x7f18357f0a80)
    at /usr/src/debug/gpfs.nfs-ganesha-2.7.5-ibm067.04.295048.el8.x86_64/MainNFSD/nfs_init.c:239
#2  <signal handler called>
#3  lock_entry_dec_ref (lock_en

[2022-06-07 18:01] dang commented on #823
Post 4.1, we can remove cacheinode.

[2022-06-07 18:30] dang commented on #824
This appears to be a use-after-free.  These can be hard to track down, but if you can reproduce, then you can build with ASAN enabled, which should help alot.  ASAN can tell you the codepath where the memory was freed, which should help us track it down.

[2022-06-07 19:03] ffilz commented on #823
Yea, but what do we do for 4.x?

I'm tempted to go ahead and remove cacheinode for 4.1 even though it's technically too late. But we either come up with a somewhat complex "fix" that will just be abandoned in V5.0 or we tell people "it's broke, put your config in MDCACHE...).

[2022-06-08 12:03] jwongz commented on #748
I find the var ‘NFS4_FHSIZE’ eq 128.
How can I fix it if my env support nfs v4  only?

[2022-06-08 13:15] dang commented on #823
If it's not working now (I thought I'd tested it when I put it in?) then it's already removed, and we should remove it for 4.1.

[2022-06-08 16:14] skmprabhu1 commented on #823
In upgrade scenario, We just use old config with new ganesha. I feel we should have support for both blocks for some time.

[2022-06-08 16:48] dang commented on #823
3 years is a long enough time.  If I'd thought of it, I would have removed cacheinode before 4.0.

[2022-06-09 00:15] ffilz commented on #823
OK, let's take advantage that none of the actively involved Ganesha vendors have picked up V4.x yet and allow some things into V4.1 that we would not normally take in a stable update and let's drop the CACHEINODE block.

I can put together a patch for that.

[2022-06-09 14:37] ffilz commented on #748
See my comment from October 19 for some description of the actual issue.

[2022-06-09 17:53] Rid opened #825 "NFS mount breaks on container recreation"
Firstly, thanks for all your hardwork on this project throughout the years!

I'm running nfs-ganesha on kubernetes with a service endpoint forwarding packets to the container. When a node goes offline the container for nfs-ganesha is rescheduled onto another node. The service endpoint maintains the same IP address.

It's mounted as follows:

[code]

[code]

The server is setup as follows:

[code]

[2022-06-09 18:33] ffilz commented on #825
That's a big wall of trace and logs to look at. Can you point to anything in the trace that might lead to the problem?

Any change of pointing to a raw trace file that could be loaded into wireshark for easier viewing, decoding, and filtering?

[2022-06-09 18:45] Rid commented on #825
Here's a wireshark friendly dump: https://easyupload.io/i07uyt

Also attached here as a .txt which should be renamed .pcap for import into wireshark:

[tcpdump.txt](https://github.com/nfs-ganesha/nfs-ganesha/files/8873069/tcpdump.txt)
.

[2022-06-09 18:59] Rid commented on #825
I can't really see anything in the tcpdump which looks like it would cause an issue, in the file https://pastebin.pl/view/raw/4e1ad890 the request seems to end around the following logs:

[code]

Is this anything out of the ordinary?

[2022-06-09 23:27] ffilz commented on #825
So those tcpdumps have a successful NFS v3 MOUNT in them.  I'm not sure why the client then doesn't do anything more.

Perhaps there's something going wrong at the TCP layer?

[2022-06-10 12:27] alvic2000 opened #826 "Memory leak nfs-ganesha"
After 4-7 hours of copy files from local disk to nfs share host catch OOM killer because of
nfs-ganesha use all available memory.
Is it possible to limit memory utilization of nfs-ganesha?

My host
CPU - 8
RAM - 16 GB

My os:
cat /etc/os-release
NAME="CentOS Stream"
VERSION="8"

kernel
4.18.0-383.el8.x86_64

Version
nfs-ganesha-4.0-1.el8s.x86_64

My config after error (at the buttom)

Error:

[990

[2022-06-10 18:18] ffilz commented on #826
Any chance you could run this with valgrind massif?

https://valgrind.org/docs/manual/ms-manual.html

Or some similar tool that could show which call stacks are resulting in all the memory usage.

[2022-06-13 09:26] elehcim commented on #822
@ffilz Hello Frank, by chance any news on this? Thanks!

[2022-06-13 21:52] skmprabhu1 commented on #824
From the ganesha.log, it is clear that we are trying to access already freed memory.

2022-06-13 14:54:36 : epoch 000901d0 : protocol2b : gpfs.ganesha.nfsd-599875[svc_271] nlm4_Unlock :NLM :DEBUG :REQUEST RESULT: NLM4_UNLOCK NLM4_GRANTED
2022-06-13 14:54:38 : epoch 000901d0 : protocol2b : gpfs.ganesha.nfsd-599875[svc_90] nlm4_Lock :NLM :DEBUG :REQUEST PROCESSING: Calling nlm4_Lock svid=45755 off=0

[2022-06-14 07:48] alvic2000 commented on #826
If I start nfs-ganesha like this:
valgrind  --log-file=/tmp/massif-ganesha.out --tool=massif `which ganesha.nfsd` -f /etc/ganesha/ganesha.conf -L /var/log/ganesha/ganesha.log -N NIV_INFO
nfs shares are not appeared and log file not filled.
cat /tmp/massif-ganesha.out
==1451229== Massif, a heap profiler
==1451229== Copyright (C) 2003-2017, and GNU GPL'd, by Nicholas Nethercote
==1451229== Using Val

[2022-06-14 08:15] alvic2000 commented on #826
If I start nfs-ganesha like this:
valgrind --log-file=/tmp/massif-ganesha.out --tool=massif which ganesha.nfsd -f /etc/ganesha/ganesha.conf -L /var/log/ganesha/ganesha.log -N NIV_INFO
nfs shares are not appeared and log file not filled.
cat /tmp/massif-ganesha.out
==1451229== Massif, a heap profiler
==1451229== Copyright (C) 2003-2017, and GNU GPL'd, by Nicholas Nethercote
==1451229== Using Valgri

[2022-06-14 18:28] ffilz commented on #824
I think the problem is that state_complete_grant doesn't hold an obj reference. If so, state_release_grant also needs to take an obj reference.

HOWEVER, I think we have an obj refcount issue. Since a lock entry holds an obj reference, the obj shouldn't be cleaned out before that reference is released by  lock_entry_dec_ref.

[2022-06-14 18:36] ffilz commented on #826
This is how I invoke massif:

valgrind --log-file=/tmp/vg.out --tool=massif /usr/bin/ganesha.nfsd -F -f /etc/ganesha/top21.conf -L /var/log/ganesha -N NIV_INFO

That -F is important. You need to run Ganesha in the foreground with valgrind.

[2022-06-14 19:04] ffilz commented on #824
I've done a bit more looking. I don't see the refcount issue yet. The problem with state_complete_grant not taking an obj reference is that free_cookie can result in all obj references being released, releasing the obj handle before the state_lock is unlocked.

There probably is a mismatched put ref somewhere in the blocked lock/grant handling. I will continue to look, but more eyes might help unl

[2022-06-14 19:05] ffilz commented on #824
The issue COULD instead be a lock entry refcount issue.

[2022-06-15 02:46] alexzhc commented on #820
Is it possible to do a complete static compiling of nfs-ganesha?

[2022-06-15 06:59] alvic2000 commented on #826
Good morning Frank!

After I runing command:
valgrind --log-file=/tmp/vg.out --tool=massif /usr/bin/ganesha.nfsd -F -f /etc/ganesha/ganesha.conf -L /var/log/ganesha/ganesha.log -N NIV_INFO

no logs in file /var/log/ganesha/ganesha.log
no nfs shares:
showmount -e localhost
clnt_create: RPC: Program not registered

Only change is /tmp/vg.out:

cat /tmp/vg.out
==1668969== Massif, a heap profiler
==16

[2022-06-15 13:29] dang commented on #820
Not currently, no.  It looks like it would take some work on the build system.

[2022-06-17 09:05] Rid commented on #825
I thought perhaps it was an issue with the kernel nfs client, I've upgraded to Ubuntu 22.04 and kernel 5.15.0-37-generic, however the issue still persists.

I'll have another look at the network logs.

Any more avenues to investigate would be appreciated.

[2022-06-17 18:10] ffilz commented on #818
A fix for this is in V4.0.6 please verify and close this issue if you find it resolved.

[2022-06-19 12:32] Bog999 opened #827 "Question: Setting Lease_Lifetime = 0 makes v4.1 mount attempts fail"
`V4.0.5` (also tested with lower versions)

I set ` Lease_Lifetime = 0;` and when I try to mount with version 4.1, the mount fails. Is this a bug or is this configuration not supported?

[code]
[code]
[code]

[2022-06-19 12:42] Bog999 opened #828 "fs_recovery_ng tries to delete files from the wrong directory when closing a session"
`V4.0.5`

When a client disconnects with umount, nfs-ganesha tries to delete the recovery data from the wrong path. This seems to be related to `v4_recov_dir_len` which is initialized 0, and not set to the right value when using fs_ng, but is used in `fs_rm_clid`.
[code]

[2022-06-19 19:10] alexzhc commented on #820
Ok, I will stay with debian.

[2022-06-19 19:11] alexzhc commented on #820
Thanks for the help.

[2022-06-19 19:11] #820 closed, assigned to nobody

[2022-06-20 08:42] alvic2000 commented on #826
From command line I can't start nfs-ganesha to work properly, but by modifying systemctl service unit
/usr/lib/systemd/system/nfs-ganesha.service

\# This file is part of nfs-ganesha.
\#
\# There can only be one NFS-server active on a system. When NFS-Ganesha is
\# started, the kernel NFS-server should have been stopped. This is achieved by
\# the 'Conflicts' directive in this unit.
\#
\# The Netw

[2022-06-20 14:43] happycouak opened #829 "nfs_dupreq_rele :RW LOCK :CRIT :Error 22, acquiring mutex 0x7f5ba802aff0 (&dv->mtx) at /build/nfs-ganesha-F6STEl/nfs-ganesha-4.0/src/RPCAL/nfs_dupreq.c:1434"
Hello,

This error spawn every minute or so (depending of the workload) and make the process crashes.

It only happens when NFS clients mount the share using v3, we did not succeed to reproduce it with NFS v4 clients only.

Please find below used configuration and clients mount options (fstab format), both servers and clients are running on Ubuntu focal 20.04.

For some reasons we are now stuck us

[2022-06-20 15:49] happycouak commented on #829
In order to simply the trouble shooting scope I disabled high availability configurations (eg commented out RADOS_KV and RADOS_URLS sections).

The configuration is as follow and the issue is still reproducible.

[code]

[2022-06-20 15:56] boutell opened #830 "Unable to connect to v4 share on ganesha running in container from localhost or docker host"
Ahrgh I'm so close.

I've installed the the `nfs-ganesha` and  `nfs-ganesha-vfs` ubuntu packages into a docker image based off `node-16`, which inherits from `ubuntu`. I'm using ganesha because like many useful base container images this one does not have the nfs kernel driver.

(I'm aware I could use a Docker bind mount, but this is a container for use as a portable dev environment, and filesyste

[2022-06-20 18:14] happycouak commented on #829
Seems similar to https://github.com/nfs-ganesha/nfs-ganesha/issues/810

[2022-06-20 20:19] happycouak commented on #810
Any chances this patch lands in 4.0 release ?

[2022-06-20 20:54] boutell commented on #830
Ah, I simplified to sharing just that ordinary /test folder and looked more closely at the logs after setting up a `LOGS` block, and I found:

[code]

This led me here:

https://github.com/nfs-ganesha/nfs-ganesha/issues/575

So apparently I'm just out of luck and this can't be done. Although, I will ask this person what they did to get around this, if anything:

https://github.com/NicolasT/contain

[2022-06-20 20:54] #830 closed, assigned to nobody

[2022-06-20 23:32] mattbenjamin commented on #830
hi @boutell   just for my information, are you *that* tom boutell?

[2022-06-21 13:09] boutell commented on #830
LOL, yes.

[2022-06-21 18:56] ffilz commented on #827
I think the answer is that we should not allow 0. We really should have some minimum larger than 1 even.  I'm not sure what a good minimum is. Zero really can't be supported because no-lease expiry would not make sense, and 0 means things instantly expire...

[2022-06-21 19:03] Bog999 commented on #827
Thanks!

[2022-06-21 19:05] ffilz commented on #826
Oh dear. Can you trigger a memory report? We could look at it and see if there is any unusual memory use now even though it has not crashed yet.

[2022-06-21 19:15] ffilz commented on #810
This patch is in V4.0.4. In the next few weeks we will tag V4.1 and push packages out, in the meantime, we encourage anyone trying to use Ganesha V4 to use the latest (currently V4.0.6).

[2022-06-21 19:16] ffilz commented on #829
Please confirm if V4.0.4 (or V4.0.6) fixes this issue for you.

Also, the recovery backends are not usable with NFSv3 (NLM recovery database is managed by rpc.statd).

[2022-06-22 17:04] happycouak commented on #829
Sorry to say that but it is a shame that packages/ppa are not builded more frequently, it would be way to much time consuming (at least for me/my knowledge) to build the whole thing from sources.

I will wait for the next packages to be released for v4.1 and let you informed.

[2022-06-23 13:49] happycouak commented on #829
Thanks @kalebskeithley , after upgrading nfs-ganesha packages I am not able to reproduce the error.

[2022-06-27 23:17] martin-schwenke commented on #818
On V4.0.6:
[code]
While on V4.0.5:
[code]
So fixed in V4.0.6.

I'm not the issue reporter, so don't know if I should close.  @r-deshmukh, are you happy to close?  Thanks...

[2022-06-28 04:25] r-deshmukh commented on #818
Ok, let me close this. Thanks!

[2022-06-28 04:25] #818 closed, assigned to nobody

[2022-06-29 11:07] liyinshubyte opened #831 "ganesha crash at data->slot->cached_result is NULL"
I have a ganesha core, the stack is nfs_worker_thread.c: nfs_rpc_process_request-> nfs4_Compound.c : nfs4_Compound -> nfs4_Compound.c: process_one_op -> nfs4_Compound.c: complete_op. Then I found data->slot->cached_result is NULL. But I do not know why this happen.

[2022-06-30 18:27] skmprabhu1 commented on #824
I'm able to recreate the issue with below test
1. create 3 node cluster - 1 nsd node and 2 protocol node.
2. create a folder in gpfs and export to client
3. mount the share in client with below option
    a. 1st mount with CES-IP from PN1
    b. 2nd mount with CES-IP from PN2
    c. 3rd mount with CES-IP from PN1 + nolock option
4. Run below process
    a. proc1_loop on 1st mount -> this will take

[2022-06-30 19:02] skmprabhu1 opened #832 "Thread termination timeout in ganesha"
Considering clock speed of most of current processors, I feel 31 seconds is huge. Can we reduce thread termination timeout to 10-15 seconds or 5 secs?

#define WORK_POOL_TIMEOUT_MS (31 /* seconds (prime) */ * 1000)

pool->timeout_ms = WORK_POOL_TIMEOUT_MS;

                clock_gettime(CLOCK_REALTIME_FAST, &ts);
                timespec_addms(&ts, pool->timeout_ms);

                /* Note: the

[2022-07-01 13:12] dang commented on #832
All this timeout does is determine how long we have to wait with no work before we will reduce the number of threads in the pool.  I don't think 31 seconds is unreasonable for that, but I also don't have a very strong opinion on it.

[2022-07-01 13:58] skmprabhu1 commented on #832
one more question related to thread pool management.

From work_pool_thread()

                if (0 > pool->pqh.qcount++) {
                        /* negative for task(s) */
                        have = TAILQ_FIRST(&pool->pqh.qh);
                        TAILQ_REMOVE(&pool->pqh.qh, have, q);

                        wpt->work = (struct work_pool_entry *)have;
                        continue;

[2022-07-01 14:03] skmprabhu1 commented on #832
Thanks Daniel.
If there is no issue, can we reduce timeout to 10 secs?

[2022-07-04 08:34] liyinshubyte commented on #816
@ffilz Hi, we want to use some tricky method to recovery lock, such as lock1 is on ganesha1, then ganesha1 crash and restart. In grace period, client1 re-send lock request ganesha1 to recovery lock1. The new lock request should succeed because it's a recovery of lock1,  but we can not identify it's a recovery, so the new lock request failed. So I want to use some identifier not clientid, maybe cli

[2022-07-04 09:41] liyinshubyte commented on #816
@jtlayton Hi, I learned your shared slides, thanks a lot for the share, but I have a question. For example there are 3 ganesha: ganesha1, ganesha2 and ganesha3. When ganesha1 restart, does all ganesha need to enter grace period,  including ganesha2 and ganesha3 ? But this will cause the cluster unavailable to provide service, and all clients hang, is there other way to improve this ?

@ffilz  Can

[2022-07-05 17:13] ffilz commented on #824
OK, so fsal_obj_handle_fini() has been called on the object (that will zero out all the fields that are zero above).

I'm pretty sure this is a refcount issue and the obj handle is being released prematurely.

One remote possibility is you need this patch: 3929a31138991cc6690e02ad053089579a684ceb

[2022-07-05 17:16] ffilz commented on #832
A shorter timeout seems like it would be OK. I don't think thread creation is THAT expensive an operation?

[2022-07-05 17:23] ffilz commented on #816
Yes, all nodes in a cluster must synchronize grace period.

You can't do grace period per inode because you have no way of knowing for which inodes recovery is complete on.

What you COULD do is persistently track the inodes that have state on them, and allow access to any that didn't have state on them during grace period. The problem is that any inode of interest in NFSv4 has an OPEN on it. You

[2022-07-06 08:42] benedekmol opened #833 "Random mount hang for clients. (TCP issue?)"
Hello!

EDIT!!!!!
Seems like this is not the issue I am facing. Sorry for the opened issue. My ganesha server just dropped every connection even though my RAM usage isn't that high.

I've been troubleshooting this for 3 weeks now when I have time. I suspected a network error somewhere, but it seems like the high RAM usage is the culprit.
I have a ganesha server which serves Kubernetes pods with NF

[2022-07-06 10:44] liyinshubyte commented on #816
@ffilz Thanks the reply, I have another question, sorry for that.

I use NFSv3 in ganesha, for example ganesha's ip is 1.1.1.1, and in front of ganesha we have a LoadBalance, which has a ip 2.2.2.2, so client use 2.2.2.2 to mount.

Now client use flock to lock file, then I restart ganesha and execute "sm-notify -f". Then the problem occurs, the notify request's src ip is 1.1.1.1, not 2.2.2.2, so r

[2022-07-06 15:29] ffilz commented on #833
We are working on a redesign of the MDCACHE LRU and fd management that might help if memory really is the problem.

If something else is the problem, it would help to understand even if it's not a Ganesha problem so we can help others that have the same problem.

[2022-07-06 15:31] ffilz commented on #816
You would need to send sm-notify from the load balancer node. You might be able to send it from the Ganesha node and make it look like it came from the load balancer.

[2022-07-06 15:38] ffilz commented on #831
What operations are in the compound? Are there any errors in the log?

[2022-07-06 18:53] yogendra-t opened #834 "NLM lock requests after GRACE period failed with NLM_DENIED"
Below is the scenatio where lock is failing.

1. client A connected to ganesha server A
2. Client B connected to ganesha server B
3. client A locked file1 and client B locked file2
4. ganesha server B got rebooted and as a result address of server B moved to server A and server A entered into GRACE period.
5. client A and client B made lock reclaims and unlock both are successful
6. server A now n

[2022-07-06 21:33] ffilz commented on #834
I suggest enabling STATE logging. Can you replicate with this simple a test? Unfortunately I don't have a cluster setup to try and replicate myself.

[2022-07-07 04:22] liyinshubyte commented on #816
@ffilz Thanks the reply, I have another question, sorry for that. How can I make client reclaim lock when create session, even without ganesha restart ? We need this in the following two cases.

1.  When I use NFSv4 in ganesha, there are two ganesha: ganesha1's ip is ip1, and ganesha2's ip is ip2, and in front of two ganesha we have a LoadBalance, which has a ip, i.e. vip. And client use vip to mo

[2022-07-07 07:48] liyinshubyte commented on #816
@ffilz As the NFSv4 proto describes, only windows have access and deny mode. Does it mean we do not need to persist open state when we only use linux client, and only need to persist lock state ?

![image](https://user-images.githubusercontent.com/92144382/177720150-20643760-6348-4918-bba7-2f6f62b7f453.png)

[2022-07-07 12:07] yogendra-t commented on #834
I am able to recreate the issue and below are my observations.
During nlm_process_parameters, in get_nlm_state
1. lock reclaim request is deleing the old nlm state created in intial lock request due to state mismatch of passed in rpc request (nlm4_lockargs state)
2. lock reclaim creates in a new state and refcount will be 1
3. IN nlm4_Lock, since it founds a existing entry it will not create a new

[2022-07-07 14:47] ffilz commented on #816
The recovery data base needs to be shared among all the Ganesha nodes. See the various recovery data bases in src/SAL/recovery. The recovery data base could use the filesystem version if it is located on the shared filesystem.

Client reassignment by load balancer with out a node failure requires additional sophistication. The folks at Google are exploring this. One big issue is that ganesha2 has

[2022-07-07 14:49] ffilz commented on #816
Yes, if you don't need to worry about Windows clients you could in theory ignore the implications of deny modes. I'm not sure the complexity this would introduce to the Ganesha code would be worth it though.

[2022-07-07 15:47] liyinshubyte commented on #816
@ffilz Thanks, will join it. Another question, is there a way to force client reclaim lock when client create new session ? Maybe we can respond some error to notify client to reclaim lock ?

[2022-07-07 17:11] dang commented on #816
That's what Grace is for, to force clients to reclaim locks.

[2022-07-07 20:47] ffilz commented on #816
NFS4ERR_STALE_STATEID and NFS4ERR_STALE_CLIENTID indicate a server reboot and need to reclaim state. The problem is the server has to know the presented stateid or clientid belonged to a previous instance as opposed to being completely invalid or expired.

NFS4ERR_GRACE does NOT prompt a client to reclaim. In fact we rely on that when we go into grace on nodes that didn't crash (otherwise we would

[2022-07-08 01:25] liyinshubyte commented on #816
@ffilz Thanks the suggestion. I find another way to trigger the client to reclaim lock.

When client's connection move from ganesha1 to ganesha2, client will not reclaim lock. The reason is kernel will check server_scope, if server_scope mismatch, client will not reclaim lock, and the server_scope in ganesha is ganesha's hotname, i.e. `char cid_server_owner[MAXNAMLEN+1]`. So if I change `cid_serve

[2022-07-08 13:23] alvic2000 commented on #826
I'm awfully sorry, but I don't understand how to trigger a memory report?
Thank you.

[2022-07-08 14:53] ffilz commented on #816
Sorry I forgot to mention the new NFSV4 { } parameter Server_Scope which is in V4.0 that allows configuring all the nodes with the same server scope. That may be of help.

[2022-07-08 15:01] ffilz commented on #826
I thought there was a signal or something, but apparently not. You need to use gdb to connect to Valgrind:

https://valgrind.org/docs/manual/manual-core-adv.html#manual-core-adv.gdbserver

Then massif has monitor commands that can be issued:

https://valgrind.org/docs/manual/ms-manual.html#ms-manual.monitor-commands

I really need to try this out sometime so I can coach folks on it...

[2022-07-08 15:01] liyinshubyte commented on #816
@ffilz Hi, I'm curious about why we need to drop the locks on ganesha1, because no client can use the old lock on ganesha1, maybe there is no problem if we leave it there ?

[2022-07-08 15:13] dang commented on #816
ganesha1 needs to drop the lock in the backing store, so that ganesha2 can take it.

[2022-07-09 02:44] liyinshubyte commented on #816
@dang Got it, thanks the reply.

[2022-07-11 06:50] alvic2000 commented on #826
Good day, Frank.
In one shell I run this command:
 valgrind --vgdb=yes --vgdb-error=0 --log-file=/tmp/vg.out --tool=massif /usr/bin/ganesha.nfsd -F -f /etc/ganesha/ganesha.conf -L /var/log/ganesha/ganesha.log -N NIV_INFO
 In another shell I run :
 gdb  /usr/bin/ganesha.nfsd
GNU gdb (GDB) Red Hat Enterprise Linux 8.2-19.el8
Copyright (C) 2018 Free Software Foundation, Inc.
License GPLv3+: GNU GPL v

[2022-07-11 06:57] alvic2000 commented on #826
Sorry, but now nfs share not workin:
on server:
ps aux | grep ganesha
root      426970  0.0  0.0  21720 14204 pts/0    S+   09:33   0:00 valgrind --vgdb=yes --vgdb-error=0 --log-file=/tmp/vg.out --tool=massif /usr/bin/ganesha.nfsd -F -f /etc/ganesha/ganesha.conf -L /var/log/ganesha/ganesha.log -N NIV_INFO
root      427055  0.0  0.3 309680 49428 pts/2    Sl+  09:38   0:00 gdb /usr/bin/ganesha.nfsd

[2022-07-11 07:08] alvic2000 commented on #826
cat /var/log/ganesha/ganesha.log
11/07/2022 09:31:50 : epoch 62c7cf0d : v2-nx-gls0010.localdomain : ganesha.nfsd-325253[Admin] do_shutdown :MAIN :EVENT :NFS EXIT: stopping NFS service
11/07/2022 09:31:50 : epoch 62c7cf0d : v2-nx-gls0010.localdomain : ganesha.nfsd-325253[dbus_heartbeat] gsh_dbus_thread :DBUS :EVENT :shutdown
11/07/2022 09:31:50 : epoch 62c7cf0d : v2-nx-gls0010.localdomain : ganesha

[2022-07-11 11:35] liyinshubyte commented on #816
@ffilz hi, currently In grace period, when client send setxattr, removexattr, setattr, rename, remove, open and lock request, ganesha will respond with NFS4ERR_GRACE.

Because posix lock is advisory lock. So for linux, we only need to respond lock request with NFS4ERR_GRACE. And for windows, maybe we only need to respond open and lock with NFS4ERR_GRACE.

So why we need to respond setxattr, remove

[2022-07-11 15:04] ffilz commented on #826
Hmm, I don't see anything in there to indicate why Ganesha was terminated. It looks like it got a SIGTERM. I'm not sure what to look for.

[2022-07-11 15:11] ffilz commented on #816
From RFC 7530 Section 9.6.2. Server Failure and Recovery:

The period of special handling of locking and READs and WRITEs, equal
in duration to the lease period, is referred to as the "grace
period". During the grace period, clients recover locks and the
associated state by reclaim-type locking requests (i.e., LOCK
requests with reclaim set to TRUE and OPEN operations with a claim
type of either C

[2022-07-11 15:13] ffilz commented on #816
So certainly we COULD get more smart about when we can reliably avoid returning NFS4ERR_GRACE. More persistent information would help. Knowing we CAN'T hand out layouts and delegations would help.

[2022-07-12 13:26] dang commented on #826
Yeah, that's a clean shutdown, not a crash or OOM kill.  Something told Ganesha to shut down.

[2022-07-12 14:47] skmprabhu1 commented on #824
I'm able to add more debug statements and collect refcount logs.

======================>>>  Deleted File obj ==> creating fresh
     64 2022-07-12 06:12:39 : epoch 00020047 : c84f2u23-vm7 : gpfs.ganesha.nfsd-14429[svc_5] mdcache_lru_get :INODE :F_DBG :mdcache_lru_get obj_handle 0x7fad        20001dd8 sub_handle 0x7fad20001100 refcnt : 2 **==> Initial refount set to 2 as part of creating new file*

[2022-07-12 19:23] ffilz commented on #824
I think this should fix the issue.

https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/541117

[2022-07-13 10:01] skmprabhu1 commented on #824
Hi Frank,

The fix is not resolving the issue. I still see the crash with above fix. Please let me know if you need any debug logs.

Thanks,
Prabhu

=======================
The issue can be recreated with below test program:

**# cat proc1_loop.c**
===============
#include <stdlib.h>
#include <unistd.h>
#include <fcntl.h>
#include <errno.h>
#include <stdio.h>
#include <pthread.h>

int rfd, wfd;
in

[2022-07-13 14:27] skmprabhu1 commented on #824
I see, in state_add_grant_cookie(), we are referencing  fsal_obj_handle ,but we are not incrementing refcount for success case.  In case of lock_entry,  refcount got incremented in success case.

Should we increment obj refcount in the below function ?

state_status_t state_add_grant_cookie(struct fsal_obj_handle *obj,
                                      void *cookie, int cookie_size,

[2022-07-13 18:43] skmprabhu1 commented on #824
@ffilz @dang

I think  I've found the fix.

In state_lock(),  if status == STATE_SUCCESS,  then we are taking recount before adding lock into file.lock_list ( if it is empty)  . But we are not doing same if status == STATE_LOCK_BLOCKED. I have tested below fix and it is fixing the issue. Kindly let me know your view on below fix.

        /* If no conflict in lock list, or FSAL supports async bloc

[2022-07-13 18:55] skmprabhu1 commented on #824
The test is running for more than 2 hour without crash(it is used to crash every 5 mins). And, i see we are hitting the conditions..

 grep -i prabhu /var/log/ganesha.log
2022-07-13 12:48:35 : epoch 0002005a : c84f2u23-vm7 : gpfs.ganesha.nfsd-22673[svc_14] state_lock :STATE :F_DBG :Prabhu : obj->state_hdl->file.lock_list is empty
2022-07-13 12:55:25 : epoch 0002005a : c84f2u23-vm7 : gpfs.ganesha.n

[2022-07-13 19:11] ffilz commented on #824
Ah good catch. I was going to add an object reference to the cookie also because I see an actual problem where we might reference sce_obj after all references have been put.

I also see some suspicious put_ref, I want to try and audit more carefully.

I think we also do still need the lock_entry ref fix I posted.

[2022-07-13 21:30] ffilz commented on #824
OK, I've done some auditing. There are definitely some problems with obj references. I think actually the references associated with lock_list should not be there. They originally were pin references in the old Cache Inode which removed entries from the LRU. We do need to remove entries with state from LRU, but that will be done differently. So I think actually we can just remove these get_red/put

[2022-07-14 06:03] liyinshubyte opened #835 "ganesha crash at inc_state_t_ref bcz use after free"
@ffilz HI, can we talk it here ? it's a use-after-free, I think we should not free state in nfs4_op_lock, maybe somewhere forget to increase ref count.
Tips: the images line number mismatch our master code. And for our master code, the free code is [nfs4_op_lock.cc:742](https://github.com/nfs-ganesha/nfs-ganesha/blob/next/src/Protocols/NFS/nfs4_op_lock.c#L742), and the use-after-free code is [nfs4

[2022-07-14 22:10] ffilz commented on #824
OK, fixed up a bunch of refcount issues that I think will help.

Please download the patch series with this as the top:

https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/541256/1

This will pull all the patches down:

git fetch ssh://ffilz@review.gerrithub.io:29418/ffilz/nfs-ganesha refs/changes/56/541256/1 && git checkout FETCH_HEAD -b test

[2022-07-14 22:13] ffilz commented on #835
The best thing would be to audit all the state refcounting. At the moment, I'm investigating a number of issues so may not be able to get to this for a bit. I just audited refcounting of fsal_obj_handle and lock_entry and found some issues, so it doesn't surprise me there might be some in state_t refcounting.

[2022-07-15 00:36] liyinshubyte commented on #835
@ffilz Thanks, I will continue to find the root cause.

[2022-07-15 07:46] liyinshubyte commented on #835
@ffilz I found the root cause, in nfs4_op_close, ref count increase once, but decrease twice. The increasement is at [nfs_status = nfs4_Check_Stateid(&arg_CLOSE4->open_stateid,](https://github.com/nfs-ganesha/nfs-ganesha/blob/next/src/Protocols/NFS/nfs4_op_close.c#L180), the first decreasement is at [state_del_locked(state_found);](https://github.com/nfs-ganesha/nfs-ganesha/blob/next/src/Protocols

[2022-07-15 10:39] liyinshubyte commented on #816
@ffilz Hi, what's the link of  community calls ?

[2022-07-15 14:48] ffilz commented on #816
The information for next week is (the call links should be good for every week):

Ganesha community call
Tuesday, July 19 · 7:00 – 7:30am PDT (UTC - 7)
Google Meet joining info
Video call link: https://meet.google.com/mkh-ctnj-tqz
Or dial: ‪(US) +1 401-702-0462‬ PIN: ‪495 972 631‬#
More phone numbers: https://tel.meet/mkh-ctnj-tqz?pin=2844708468265
Or join via SIP: sip:2844708468265@gmeet.redhat.c

[2022-07-15 17:06] ffilz commented on #835
Hmm, I don't think that's the right fix.

You might be right that the dec ref in state_del_locked might be wrong. The comment there though indicates removing a sentinel refcount. I wonder if something broke so the sentinel refcount is not present.

[2022-07-17 01:53] liyinshubyte commented on #835
@ffilz Thanks, I remove `dec_state_t_ref(state)` in `state_del_locked` in patch. And I found all places, expect `nfs4_op_layoutget`, have already `dec_state_t_ref`, so we do not need to `dec_state_t_ref` in `state_del_locked`.

[2022-07-17 07:32] liyinshubyte opened #836 "Question about readdir."
When I use NFSv3, and add option `nordirplus` in mount command. Then I execute command `ls` , I found after READDIR, there are a lot of LOOKUP. In our case, we only need filename, we do not need attribute, i.e. we only need READDIR, do not need LOOKUP. How can I improve this ? Is there any case which only need READDIR, not need LOOKUP ?
![image](https://user-images.githubusercontent.com/92144382/1

[2022-07-18 07:55] benedekmol commented on #833
New development on the issue. When a pod can't mount it's NFS volume I execute this command on the nfs-ganesha VM:
`tcpkill -9 <IP of k8s node on which the pod runs>`

And everything works after that. (until the next hang)

I would really appreciate some help in this.
I will rename this issue for now.

[2022-07-18 11:33] liyinshubyte commented on #835
I use this fix in our production env, but there is memory leak of state. so there is position which forget to dec_state_t_ref, I will continue to find the root cause.
![image](https://user-images.githubusercontent.com/92144382/179502695-719a174d-7a88-4cfd-8289-72e2d6d289fc.png)

[2022-07-18 13:00] dang commented on #836
Linux needs information about an inode other than it's name in order to cache it.  I don't know of any way to turn this off; it's always been a feature of NFS clients that I've seen.  Maybe ask on the linux NFS mailing list?

[2022-07-18 15:59] ffilz commented on #835
The dec ref in state_del_locked is supposed to remove the sentinel reference established when the state_t was created.

[2022-07-18 16:01] ffilz commented on #833
I'm really not sure how to help here. It seems like this is some kind of tcp stack issue and not a Ganesha issue.

[2022-07-19 06:39] liyinshubyte commented on #835
@ffilz Thanks, I got it. I think `state_del_locked` should only be called once during the life of state. But I found `state_del_locked` called twice, so I think this is the root cause.

The first call: [nfs4_op_free_stateid.c:120](https://github.com/nfs-ganesha/nfs-ganesha/blob/next/src/Protocols/NFS/nfs4_op_free_stateid.c#L120)

The second call: [nfs4_op_close.c:306](https://github.com/nfs-ganesh

[2022-07-19 08:02] benedekmol commented on #833
Hello @ffilz !

My env so far was:
Ganesha server:
Ubuntu 20.04
nfs-ganesha/focal 3.0.3-0ubuntu3 amd64
nfs-ganesha-gluster/focal 3.0.3-0ubuntu3

NFS Clients:
Ubuntu 20.04
nfs-common/focal-updates,now 1:1.3.4-2.5ubuntu3.4 amd64

I just realized yesterday that there is a PPA for newer debian builds.
So I installed:
nfs-ganesha-gluster/focal,now 3.5-ubuntu1\~focal3 amd64
nfs-ganesha/focal,now 3.5-ubu

[2022-07-19 11:53] alvic2000 commented on #826
Good day, friends. Last week I start my "hard" test on similary to my productin environment (with valgrind).
And now, seven days later here Intermediate results:
ps aux | grep ganesha
root      445819  175 85.4 14866924 14008712 pts/0 Sl+ Jul12 17932:48 valgrind --log-file=/tmp/vg.out --tool=massif /usr/bin/ganesha.nfsd -F -f /etc/ganesha/ganesha.conf -L /var/log/ganesha/ganesha.log -N NIV_INFO

c

[2022-07-19 23:48] ffilz commented on #835
We are supposed to do _state_del_locked only once even if called multiple times.

The call to nfs4_State_Del which removes the state from the hash table SHOULD only succeed once, so subsequent failures mean a call to _state_del_locked that is redundant.

Could you do a bit more investigation to see if there's a reason that interlock isn't functioning?

[2022-07-19 23:51] ffilz commented on #833
Oh, good. Please close this when you are comfortable the issue has been resolved.

You may also want to watch for Ganesha V4.0 or the soon to be released Ganesha V4.1

[2022-07-20 01:32] liyinshubyte commented on #835
@ffilz sure, will do it.

[2022-07-20 06:11] #833 closed, assigned to nobody

[2022-07-20 06:33] Style980102 opened #837 "Is There any bug in getfacl"
use nfsv3 to mount dir, mount -t nfs -o vers=3,mountproto=tcp ***:/ /dir0
mkdir /dir0/test1
setfacl -dm u::rx,u:65531:wx,u:0:x,g::wx,g:65532:x,g:0:rx,m::rwx,o::rx /dir0/test1
touch /dir0/test1/testfile
report error:[touch: cannot touch 'testfile': Remote I/O error]

I use tshark to capture the pcap file,
![image](https://user-images.githubusercontent.com/49463367/179912148-8a95ded7-eef7-4e40-a295-

[2022-07-20 17:06] fznply commented on #580
even though i set `PROXY_V3 { num_sockets = 1;}`  , the log also show error `proxyv3_openfd :FSAL :CRIT :Failed to connect to host '2.0.0.0'. errno 110 (Connection timed out)`.
[code]

i use docker image fedora:37 , simply run with below commands can repeat this error:

[code]

use mount command directly will success.
[code]
@boulos can you give some advice ?

[2022-07-21 06:05] fznply commented on #580
the log show connect timeout port is 43255.
[code]
so grep 43255 port, i found no NLM running on backend NFS server.

[code]

can i proxy v3 backend NFS without NLM ?

if cannot, why below command ok.

`mount -t nfs -o vers=3,nolock,proto=tcp,noresvport 192.168.253.115:/z0xak7rj /tmp/test/`

[2022-07-21 23:29] ffilz commented on #826
I'm not quite sure what the above shows. I don't see any Ganesha memory use stacks.

[2022-07-21 23:35] ffilz commented on #834
This issue has a patch under review:

https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/541415

[2022-07-22 01:34] liyinshubyte commented on #835
@ffilz Hi, suppose one case, current open_state's ref count is 1,
thread1: [nfs4_op_close.c:180](https://github.com/nfs-ganesha/nfs-ganesha/blob/next/src/Protocols/NFS/nfs4_op_close.c#L180) inc open_state's ref to 2
thread2: [nfs4_op_lock.c:178](https://github.com/nfs-ganesha/nfs-ganesha/blob/next/src/Protocols/NFS/nfs4_op_lock.c#L178) inc open_state's ref to 3
thread1: [nfs4_op_close.c:306](https

[2022-07-22 13:09] Haroldll opened #838 "Question: Can selinux be configured as enforcing？"
My OS is centos 8.2, when I configure selinux to enforcing, ganesha doesn't start properly? Is there a workaround for this?

The description I see on the wiki is:
Here's how to collect the info necessary to resolve the AVC:
Set SELINUX to "permissive" in /etc/selinux/config and reboot.

So， must be set to permissive？

Another question, if I don't want to use root to run nfs-ganesha, can I run it w

[2022-07-22 14:23] dang commented on #838
Ganesha has selinux policy included with it that *should* make it possible to run with enforcing.  It's in the nfs-ganesha-selinux package.  This has been tested in various environments with various FSALs, but we haven't been able to test everything, so we may have missed some condition.

[2022-07-25 08:24] alvic2000 commented on #826
Good day,
Now nfs-ganesha is crashed
[2487665.364697] rhsmcertd-worke invoked oom-killer: gfp_mask=0x6280ca(GFP_HIGHUSER_MOVABLE|__GFP_ZERO), order=0, oom_score_adj=0
[2487665.366886] CPU: 2 PID: 726025 Comm: rhsmcertd-worke Not tainted 4.18.0-365.el8.x86_64 #1
[2487665.367499] Hardware name: QEMU Standard PC (Q35 + ICH9, 2009), BIOS rel-1.15.0-0-g2dd4b9b3f840-prebuilt.qemu.org 04/01/2014
[2487665

[2022-07-28 12:53] liyinshubyte commented on #831
@ffilz I found a case, for example, thread1:[PTHREAD_MUTEX_lock(&slot->lock)](https://github.com/nfs-ganesha/nfs-ganesha/blob/next/src/Protocols/NFS/nfs4_op_sequence.c#L118)  -> [if (slot->sequence == arg_SEQUENCE4->sa_sequenceid) ](https://github.com/nfs-ganesha/nfs-ganesha/blob/next/src/Protocols/NFS/nfs4_op_sequence.c#L122)(found request replay) -> [PTHREAD_MUTEX_unlock(&slot->lock)](https://gi

[2022-07-29 09:02] alvic2000 commented on #826
Good day,
Now nfs-ganesha is crashed
[2487665.364697] rhsmcertd-worke invoked oom-killer: gfp_mask=0x6280ca(GFP_HIGHUSER_MOVABLE|__GFP_ZERO), order=0, oom_score_adj=0
[2487665.366886] CPU: 2 PID: 726025 Comm: rhsmcertd-worke Not tainted 4.18.0-365.el8.x86_64 #1
[2487665.367499] Hardware name: QEMU Standard PC (Q35 + ICH9, 2009), BIOS rel-1.15.0-0-g2dd4b9b3f840-prebuilt.qemu.org 04/01/2014
[2487665

[2022-07-29 13:44] dang commented on #826
You were running ganesha under valgrind, so the proccess name is massif-amd64-linux.  My guess is that the massif output was never printed, since OOM killed it.  It looks like ganesha/massif was using 29G at the time it was killed.  How much of this was Ganesha and how much was massif we can't tell without the massif report.

[2022-08-01 13:51] Haroldll commented on #838
@dang Thank you, it works fine now.

[2022-08-01 13:51] #838 closed, assigned to nobody

[2022-08-01 22:25] ffilz commented on #831
Where in thread2 did the release_slot call come from?

[2022-08-01 22:32] ffilz commented on #831
Hmm, so the cached_result is refcounted....

Maybe SEQUENCE has to actually do the res_compound4_extended swap while the lock is held, then the refcount would protect the response even if the slot is released before the replay is actually sent.

[2022-08-02 00:48] liyinshubyte commented on #831
@ffilz Hi, what do you think of this patch ?
https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/541868

[2022-08-02 00:50] liyinshubyte commented on #835
@ffilz Hi, just friendly ping.

[2022-08-02 06:41] alvic2000 commented on #826
Good day. I run nfs-ganesha with comand
valgrind --log-file=/tmp/vg.out --tool=massif /usr/bin/ganesha.nfsd -F -f /etc/ganesha/ganesha.conf -L /var/log/ganesha/ganesha.log -N NIV_INFO

As I understand log file is /tmp/vg.out , but

ll /tmp/vg.out
-rw-r--r-- 1 root root 347 Jul 12 12:05 /tmp/vg.out

cat /tmp/vg.out
==445819== Massif, a heap profiler
==445819== Copyright (C) 2003-2017, and GNU GPL'd

[2022-08-02 14:00] dang commented on #826
Ganesha should not be using that much memory, so there must be a bug.  That's what we're trying to figure out here.

Massif seems to only print output when the program exits, rather than periodically.  Since Ganesha is being killed, there will never be output.  I think you need to let Ganesha run for a while, then stop it, so that massif can print it's report.

[2022-08-03 06:58] MyqueWooMiddo commented on #808
Hello [liyinshubyte](https://github.com/liyinshubyte) . I also want to implement pNfs via ganesha, but I could not see EXPORT INFO in ganesha.log what I actually wrote in ganesha.conf . Can you show your config Demo for me ? ThX

[2022-08-03 08:17] liyinshubyte commented on #808
@MyqueWooMiddo hi, sorry, I has not use pNFS, and still do not know how to use it.

[2022-08-03 09:43] martin-schwenke commented on #680
We are still looking into this and will hopefully have some test results soon.

[2022-08-03 10:54] yogendra-t opened #839 "old states need to be cleaned properly after grace period is over"
Creating this issue as outcome of review comments for https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/541415.
Below is the review commet:
"Maybe we put the old state on a list that the reaper thread can use to clean out old locks once grace period is over"

All old states need to be put on a separate list so that they can be released/cleaned after grace period is over.

[2022-08-03 23:53] ffilz commented on #808
I'm not sure that Ganesha currently really has usable pNFS. Some FSALs are set up for it (GPFS for sure, Gluster? Others?) but I don't know of anyone who is active in our community calls and such that is using it.

[2022-08-04 00:58] mattbenjamin commented on #808
It certainly has a pnfs server framework which has worked, in a couple of different modes.  Let's not discourage folks to attempt implementations. :)

Matt

[2022-08-04 02:55] MyqueWooMiddo opened #840 "I want to let nfs-ganesha service listen on ipv4 address"
Hello ,  I install nfs-ganesha with v4.0.1 rpms on Centos7 , I try to set Bind_addr to 0.0.0.0/ipv4_addr/unSet in NFS_CORE_PARAM block , the service always listens on tcp6 protocol but the address is ipv4_addr.
If I set Bind_addr to :: , it will listen on :: . I just want to make it listen on ipv4 address with tcp rather than tcp6 .  I try to set net.ipv6.conf.eth.disable_ipv6 to 1 and restart the

[2022-08-04 03:14] MyqueWooMiddo commented on #760
I meet same problem ,  I found tcp6 and ipv4 address  with a netstat command

[2022-08-04 06:07] MyqueWooMiddo commented on #808
I've researched pNfs for a few days , kernel-Nfsv41 does not contain pNfs. Then I found ganesha which declare pNfs support .

If you discourage user to do it with ganesha , what else you recommend ?

I our case :
In a 10GE-LAN , there're a dozen Hadoop machines with big storage , but nearly full ; And there're a few other machines with big storage , quite empty but some services on it consume CPU

[2022-08-04 12:21] dang commented on #840
The only time Ganesha will not bind a v6 address is if the socket fails to open (if IPv6 is globally disabled on the entire system).  The only way I know to do this is to remove the ipv6 kernel module (or maybe not load it in the first place?)  The main question is: why do you want to disable IPv6 with Ganesha?

[2022-08-04 12:35] dang commented on #808
I'm not aware of any open-source implementation of a pNFS server that is actively used.  In Ganesha, FSAL_GLUSTER has pNFS support in Ganesha, but I don't know anyone who has used it in the past few years, so it may not work.  Certainly it used to work.