[2020-11-11 10:46] yogendra-t commented on #642
started looking into.

[2020-11-11 13:51] dang commented on #647
Many chunks cannot be changed during a re-config, and can only be set at startup.  I think NFS_CORE_PARAM is one of these, so that makes sense.  It was never being applied.

[2020-11-11 13:52] dang commented on #647
@ffilz we should probably document in the man pages which chunks can be changed on reconfig.

[2020-11-11 15:04] ffilz commented on #647
Yes, the reloadable parameters are limited to EXPORT (but not every single parameter), EXPORT_DEFAULTS, and LOG.

Further, other than EXPORT, blocks should not be duplicated. I'm actually not quite sure what the behavior is. If all duplicates have the same values things will be OK but I don't think two duplicate blocks are cumulative, so it probably takes the values from the last block loaded.

I

[2020-11-11 15:13] ffilz commented on #577
So we can go ahead and merge the following?

https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/494573

I have rebased it and removed "for discussion" from the patch title so it's open for new review. Please test and also put a Verify +1 if it definitely resolves your issue.

[2020-11-11 21:01] bjorn-fischer commented on #577
My enthusiasm was a bit early. The issue is resolved when running `git clone` as root on the client (with squash=none). It still fails as an unprivileged user. Does this point to a problem in the Linux client?

Tomorrow I have reserved some time for looking into this.

[2020-11-11 21:11] ffilz commented on #618
Ok, the client should not have been able to actually mount or do anything, however, we indeed did not make the proper checks to return an error on the MOUNT request. The following patch fixes that:

https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/505850

[2020-11-11 21:12] ffilz commented on #618
Note that V2.6.x is no longer supported so this fix may be back ported to V3.x and possibly V2.8.x but not V2.6.x or V2.7.x

[2020-11-11 21:18] ffilz commented on #506
Closing as resolved

[2020-11-11 21:18] #506 closed, assigned to nobody

[2020-11-11 21:19] ffilz commented on #621
Closing due to inactivity. If this is still an issue on a current supported version of Ganesha, please re-open.

[2020-11-11 21:19] #621 closed, assigned to nobody

[2020-11-11 21:22] ffilz commented on #557
Are you still interested in pursuing a fix for this? I think it should be fixed and there is a patch that needs work. If you aren't interested in pursuing, I will try taking over the patch and completing it.

[2020-11-11 21:24] ffilz commented on #510
Daniel, do you have any thoughts on this? I'm not sure this is something we should just drop.

[2020-11-11 21:27] ffilz commented on #577
Yea, let's figure out what is failing with a non-privileged user.

[2020-11-12 00:09] ffilz opened #650 "Enforce filesystem and export match"
Currently handles could be spoofed to use one export id to access a file system that isn't exported by that exportid.

This would not be that hard to fix.

This primarily affects FSAL_VFS and FSAL_GPFS

It could affect other FSALs that allow exporting multiple file systems,

[2020-11-12 00:12] ffilz opened #651 "Use fsal_filesystem structure for non-VFS-like FSALs"
FSALs that don't export POSIX file systems could create fsal_filesystem structures for their exports. This would help in exposing duplicate fsid and could be used to prevent spoofing of file handles between multiple exports.

This is probably of most interest for FSAL_CEPH

[2020-11-12 07:03] Vicente-Cheng commented on #636
Hi @Roay,
maybe you should define that in src/MainNFSD/libganesha_nfsd.ver

[2020-11-12 08:21] lacdan92 commented on #346
Hi anh DucPX, Anh setup phần này ok chưa ạ, cho e xin tài liệu với được ko a? email em:lacdan93@gmail.com

[2020-11-12 10:40] christmart commented on #557
The fix I posted is working with my production server for some months now.
Which work do you think is needed?

[2020-11-12 12:19] bjorn-fischer commented on #577
Unfortunately the problem goes deeper:

The call stack for `fsal_reopen2()` has architectural differences for the FSALs I looked into. For FSAL_VFS and FSAL_MEM there are no credentials from `op_ctx->creds` involved -- or at least I do not see any involvement:

[code]

The `EPERM` problem with `git clone` does not occur using these FSALs.

Now for FSAL_CEPH, the callstack does not use any open-by-

[2020-11-12 14:55] dang commented on #649
Okay, so I've tested this on Next with that patch applied, with both FSAL_MEM and FSAL_VFS, and I don't get any assert.  The way I would go about debugging this if I could reproduce would be to use LTTng to get refcount traces.  Is this something you can do?

[2020-11-12 15:01] dang commented on #510
Yes, this appears to have been resolved:

commit c513a16c2634934cbe4c052a749b6820e726072a
Author:     TweakySolution <nroiger@gmail.com>
AuthorDate: Thu Dec 12 10:06:16 2019 -0600
Commit:     TweakySolution <nroiger@gmail.com>
CommitDate: Thu Dec 12 10:06:16 2019 -0600

    Non-Blocking I/O results in hang.

    When testing asynchronous I/O, observed all the work threads
    eventually waiting on

[2020-11-12 15:01] #510 closed, assigned to dang, ffilz

[2020-11-12 15:14] ffilz commented on #557
See the comment in the patch:

https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/495903/1/src/FSAL/Stackable_FSALs/FSAL_MDCACHE/mdcache_handle.c#949

[2020-11-12 15:23] ffilz commented on #577
The problem is I'm pretty sure the callers of fsal_reopen2() are expecting a permission check.

But maybe they aren't if FSAL_VFS and FSAL_MEM don't do a permission check...

[2020-11-12 15:25] ffilz commented on #577
Ah, wait, fsal_reopen2 does a permission check...

So yea, I think we can use root credentials ok in FSAL_CEPH. We should check all the other FSALs...

Also, since fsal_reopen2 has a flag to skip permission check, I think that one direct call to obj_ops->reopen2 in nfs4_op_open.c could be changed to a call to fsal_reopen2 and make for a cleaner use of the API

[2020-11-12 15:33] bjorn-fischer commented on #577
There's a comment at `ceph_fsal_reopen2()` that makes me uncomfortable using root credentials unconditionally in that path:

[code]
When introducing root credentials in `ceph_fsal_reopen2()` it should be guaranteed that the root credentials are never used for opening a file the first time.

[2020-11-12 15:49] christmart commented on #557
You know the code better than I. Please go ahead.

[2020-11-12 19:33] ffilz commented on #577
Ok, here's some relevant bits gleamed with: tools/findlog.sh -f '.*reopen2'

./include/fsal.h:348: fsal_status_t fsal_reopen2(struct fsal_obj_handle *obj, struct state_t *state, fsal_openflags_t openflags, bool check_permission);

./Protocols/9P/9p_lopen.c:89: fsal_status = fsal_reopen2(pfid->pentry, pfid->state, openflags, true);
./Protocols/NFS/nfs4_op_open.c:1007: status = fsal_reopen2(file_obj

[2020-11-12 19:35] ffilz commented on #557
Ok, I'll look into my concerns and make any changes that look relevant. I may be able to make them as a separate patch which would fully retain history of contribution.

[2020-11-12 19:58] bjorn-fischer commented on #577
No permission checking for the reopen2 code path, not in general, I assume.

So `ceph_open_my_fd()` should get an additional flag to call `fsal_ceph_ll_open()` optionally with root credentials instead of `&op_ctx->creds`, which then can be used by `ceph_fsal_reopen2()`.

[2020-11-12 20:55] matvore commented on #649
Now I realize I can repro this with either a Linux or macOS server, but it requires using the macOS client. Without using the macOS native NFS client, the assert won't fail. Do you have a macOS machine?

I tried building a LTTNG-enabled binary but I'm seeing this when I try to build:

[code]

[2020-11-12 21:14] ffilz commented on #577
Yea, that sounds reasonable.

[2020-11-12 21:15] ffilz commented on #649
Sadly we don't have easy access to a MacOS client. I wish we did, it does enough things enough differently that it would be good to regularly test with it.

Perhaps you can tease out what it's doing differently from the Linux client and maybe we can even make a pynfs test case or something, at least if it's NFS v4.

[2020-11-12 22:23] matvore commented on #649
One option we have is that you set up a public-facing FSAL_MEM server with the assert instrumented into it, and I connect to it with my own machine to repro the problem. If you're comfortable with that, send me a personal e-mail and we can coordinate.

I am currently working on getting a non-lttng-based trace (just a backtrace of every refcnt modification) with a corresponding wireshark capture. I

[2020-11-12 23:10] matvore commented on #649
Uploading wireshark capture log and backtrace of all refcnt modifications.

This was repro'd using a modified NFS-Ganesha at https://github.com/matvore/nfs-ganesha/tree/darwin_hacks

[repro.tar.gz](https://github.com/nfs-ganesha/nfs-ganesha/files/5533833/repro.tar.gz)

Edit: re-uploaded verbose log. The first version of the log would have been hard to analyze since it didn't indicate what the refc

[2020-11-13 08:13] Roay commented on #636
@Vicente-Cheng Yeah，When I define `__tracepoint_fsalrgw___tp_mdcache `the compiler passes.
However, tracepoint information is still not output

[2020-11-13 10:46] bjorn-fischer commented on #577
Ok, now it looks like this:
[code]
**pynfs** for NFS4.0 is finished and we could call this a qualified success. Not only the regressed tests from the first approach are gone...
[code]
... yet two more tests that failed before do now pass:
[code]
And the original `git clone` issue is no more.

It would be a good idea to include a test for the `git clone` scenario into pynfs...

[2020-11-13 20:32] matvore commented on #649
I think what's going on is that the client does a compound operation that looks like this:

[code]

The PUTFH is for the containing directory, and the OPEN is a CLAIM_NULL to create the `bar` file, but the catch is that the `bar` file is already open by the same client (it seems unusual that it's doing this for a file that's already open. Maybe this is why only macOS clients repro). Once the OPEN

[2020-11-13 23:49] ffilz commented on #577
Ok, if that works, submit a patch via Gerrithub.

Thanks

[2020-11-13 23:51] ffilz commented on #577
And if you tease out the proper sequence to regression test, you can make a pynfs test case and submit that to the linux-nfs mailing list.

[2020-11-14 05:44] matvore commented on #649
I think I see the problem.

`open4_create_fh` implicitly reduces the reference count of the fsal_obj_handle for which it is creating a fh. So in `nfs4_op_open.c` on line 997 and 1016 an extra ref is grabbed to accomodate that. However, if the file is not being reopened (for upgraded open flags) the extra ref is not grabbed. I think the fix is as simple as:

[code]

This will grab the ref so it can

[2020-11-14 20:34] lygstate opened #652 "Can not start nfs-ganesha in wsl1"
[code]

[2020-11-14 23:29] matvore commented on #649
Pushed patch described above to Gerrit: https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/505966

[2020-11-16 01:57] ducpx commented on #346
@lacdan92 em ko làm phần này nữa ạ :))

[2020-11-16 02:27] Davidrjx commented on #637
https://github.com/nfs-ganesha/nfs-ganesha/issues/637#issuecomment-704972763
very good, i am new to ganasha NFS details.
In containerd ganesha server, sometime mount.nfs would hang ,and only reboot can fix.
And strace "strace /bin/mount -t nfs -o retrans=2,rsize=1048576,soft,timeo=300,vers=4.2,wsize=1048576 \<ganeshaNFS server proxy IP\>:/ /mnt/" , but this case log shows stuck in wait4 syscall an

[2020-11-16 14:39] dang commented on #652
As far as I know, you're the first person to try Ganesha on WSL, so expect issues.

It failed to connect to the portmapper.  Either one is not running in WSL, or you need administrator permissions (like in linux) to connect to it.

You can try disabling NFSv3 if you don't need it by adding the following config:

NFS_CORE_PARAM {
    Protocols = 4;
}

since NFSv4 doesn't use portmapping.  However,

[2020-11-16 14:44] dang commented on #637
We're far from experts in the kernel client.  Strace showing wait4 is not very useful, at least we'd need to know what happened before the wait was called.  A better solution would be to get a packet trace between the client an the ganesha.

[2020-11-16 15:32] ffilz commented on #346
Please open a new github issue with the new problem.

[2020-11-18 05:39] Davidrjx commented on #637
https://github.com/nfs-ganesha/nfs-ganesha/issues/637#issuecomment-728106812
in failed case, no any packets reached to egress gateway so no traffic can be captured.
currently, i think kernel client may be not compatible with ganeshaNFS server, just not sure.

[2020-11-18 15:01] dang commented on #637
The linux kernel client is pretty much the only client used with Ganesha, so it definitely works.  And, Ganesha has been used in containers in the past, so that also works.  Please open a new issue (so as to not hijack this one) and include as much info as you can.  Things like your host OS, what container system you're using, Ganesha version, where you're mounting from and it's kernel version, at

[2020-11-19 11:20] Davidrjx commented on #637
OK

[2020-11-19 11:21] Davidrjx opened #653 "NFS kernel client mount hang against a containerd ganeshaNFS server"
https://github.com/nfs-ganesha/nfs-ganesha/issues/637#issuecomment-704972763
very good, i am new to ganasha NFS details.
In containerd ganesha server, sometime mount.nfs would hang ,and only reboot can fix.
And strace "strace /bin/mount -t nfs -o retrans=2,rsize=1048576,soft,timeo=300,vers=4.2,wsize=1048576 \<ganeshaNFS server proxy IP\>:/ /mnt/" , but this case log shows stuck in wait4 syscall an

[2020-11-19 11:28] Davidrjx commented on #653
@dang hi,
logs snippet from k8s-based containerd ganeshaNFS server looks like
[code]
in addition, on nfs client host,
[code]
and NFS-Ganesha Release = V3.2

[2020-11-19 14:58] dang commented on #653
Where are you mounting from?  From the host, or another container, or another computer entirely?

One thing you can try is to add Protocols = 4; into the NFS_Core_Param block.  This will disable nfsv3 entirely, and so Ganesha won't try to connect to statd and lockd.

The fact that it's k8s is interesting, since Red Hat has Ganesha exporting CephFS and RGW inside k8s in the RHCS product.  They use

[2020-11-19 22:06] ffilz commented on #637
Is the original question in this issue resolved?

[2020-11-20 01:44] Davidrjx commented on #653
very great and thanks, i will have a try on this.

about Red Hat's solution, should be closed soure, not sure whether some tests can be run.

[2020-11-20 02:02] Davidrjx commented on #653
this issue maybe close first, i will reopen commentation if necessary

[2020-11-20 13:48] dang commented on #653
RHCS isn't closed source, it only contains code that is already upstream for all the various packages (and there should be srpms available somewhere).  What it does have is more backports from next to 2.8.4 than are in 2.8.4 itself, but that's all.   I have access to it (I work for Red Hat), but I've never run the k8s version of it, nor even k8s at all.  I do know that Ganesha/Ceph are deployed wi

[2020-11-21 00:26] bjorn-fischer commented on #577
Version V4-dev.43 should have a fix for this. As it would be helpful to have a confirmation that the issue is solved for your setup as well, could you try it out?

[2020-11-21 10:18] FloridSleeves opened #654 "Unused variable assignment in code base"
Hi! I've recently used some tool to check nfs-ganesha code (master branch, newest version) and find that there are a lot of unused value assignments in the code base. When a developer assign some value to a variable, the expectation is to use the value somewhere. So these unused definitions could potentially indicate bugs:

1)

In src/FSAL/posix_acls.c, line 661:
` ret = acl_get_permset(d_entry, &

[2020-11-23 16:19] ffilz commented on #654
Please ignore the master branch, or are you looking at next? The active development branch is next and it should be the default branch. In fact the master branch no longer exists.

If you actually see issues in next, feel free to submit a patch via Gerrithub, see src/CONTRIBUTING_HOWTO.txt

[2020-11-23 18:28] FloridSleeves commented on #654
Thanks for your reply! Sorry for the typo, it's next branch. For the first and third category, I will submit patch to Gerrithub. But for the second category, I wonder whether it's a bug or not. Could you please take a look at them and confirm?

Thanks!!

[2020-11-23 19:42] ffilz commented on #654
For the first one, sure, we should handle the error return case and not silently fail.

For the following from the 2nd group:
Protocols/NFS/nfs4_Compound.c:754	bad_op_state_reason
This one is used, and it's safest to initialize it (and relatively cheap) just in case the place it is used is reached without otherwise being set. Some compilers have been aggressive at thinking a variable can be used u

[2020-11-24 08:46] FloridSleeves commented on #654
Thank you a lot for your patient confirmation! Will submit patches to Gerrihub according to your guidance :-)

But for the support/export_mgr.c:378, unused definition of len_ret, I check it again and still feel it’s an unused definition: in line 380, the break statement will jump out of the loop to line 423 and then return. So the value assigned to len_ret in line 378 is not used. I’m not quite su

[2020-11-24 12:25] perrynzhou opened #655 "is has any plan to support s3 storeage such minio?"
@ffilz @phdeniel  is any plan to s3 storage?

[2020-11-24 12:34] dang commented on #655
I'm not entirely sure what you're asking.  We can export S3 as NFS in the form of FSAL_RGW, which exports Ceph RadosGW S3 stores as NFS.   We can't export any other S3, and no one is working on it that I know.

We also have no plans to provide S3 access to other storage; Ganesha provides networked file system access (NFS and 9P), and S3 is not file system access at all.

[2020-11-24 16:18] ffilz commented on #654
Oh, right, yes, that instance can be removed.

[2020-11-24 16:18] ffilz commented on #654
BTW, for all the simple removals, you can put them in a single patch.

[2020-11-24 17:48] FloridSleeves commented on #654
Sure!

[2020-11-24 22:26] mattbenjamin commented on #655
Hi Folks,

Pretty much this.  There are one or two out-of-tree fsal drivers that
provide a version of S3 access, but not (afaik) generic and not (afaik)
open source.  You'd be free to work on one.  You could also look at
re-exporting an s3fs or goofys mount--perhaps via a layered fsal (over
VFS), if you found you needed to adapt some details?

Matt

On Tue, Nov 24, 2020 at 7:35 AM Daniel Gryniewic

[2020-11-25 01:40] perrynzhou opened #656 "nfs-ganesha (integration with glusterfs) happen many errors in dmesg"
## @dang  @mattbenjamin  execute cp  dir to anthoer dir but all in  same mount point and same gluster volume ,it happen errors.when i execute command "df -h",that always hang.how to fix that problem?

[code]
[code]

[code]

[2020-11-25 07:48] jimhuaang opened #657 "mdcache_lru_release_entries crash due to op_ctx not established"
The fridgethr lru thread will invoke mdcache_lru_release_entries to  reap entries when Entries_HWMark get hit. In mdcache_lru_release_entries, the correct op_ctx could been not established,  which will fire a crash.

Attached is a backtrace:
![crash-lru-run](https://user-images.githubusercontent.com/28775329/100198307-a05b2780-2f36-11eb-9268-c15e3f2ce21b.jpg)

[2020-11-25 08:05] jimhuaang commented on #618
thanks for the response.

[2020-11-25 13:26] dang commented on #656
This isn't anything we've seen before, so this may take some work to find.

We're going to need information from the server, or at least packet dumps.  Can you post the Ganesha log file?  You may also need to turn up logging and reproduce.

[2020-11-25 13:27] dang commented on #657
What version of Ganesha is this?

[2020-11-25 15:43] jimhuaang commented on #657
The Ganesha version is 2.6.3, and applied with the commit  b91fe031ab1ba17181dfaf50668227b15c9eb3d5.

[2020-11-25 16:30] ffilz commented on #657
2.6.3 is pretty old and that commit is an enhancement in V4 that sits on top of a lot of op_ctx cleanup, both in prior releases an V4 itself. Almost certainly that enhancement is dependent on some of the other op_ctx work.

Can you move to V3.3? That patch might be more successful backported to V3.3.

[2020-11-25 16:34] ffilz commented on #618
I'm re-opening this since it has the "should_be_backported" label.

I've removed the needs_verification label.

[2020-11-26 07:47] perrynzhou opened #658 "nfs-ganesha performance tuning"
@dang @mattbenjamin is any document for for us to tuning nfs-ganesha examples tuning fsal memory/worker thread. may you provided design for nfs-ganesha?

[2020-11-26 08:05] perrynzhou opened #659 "nfs_health :DBUS :WARN :Health status is unhealthy"
@dang @mattbenjamin   when i start nfs-ganesha,some warning message in ganesha logs,is that ok?what happends for "DBUS :WARN :Health status is unhealthy"?
[code]

[2020-11-26 08:16] Davidrjx commented on #653
oh, thanks, very good, that will be a good job and hope smooth and successful test on k8s.

[2020-11-26 08:39] Davidrjx commented on #637
hi, @ffilz, this issue has been move to #653, and this may be closed. My local reproduction and test yet continues with advice or guide from @dang.

[2020-11-26 09:09] perrynzhou opened #660 "some doubt about configing multi nfs-ganesha on same machine"
@phdeniel  @ffilz @lieb  @mattbenjamin we used nfs-ganesha integration with glusterfs.is any document to told me  how to config multi nfs-ganesha process on same node machine? can we config multi export block in ganesha.conf? examples such as

[code]

[2020-11-26 09:52] bjorn-fischer opened #661 "Regression: 101cfb8 broke NFSv3 with FSAL_CEPH"
Seems that 101cfb8 broke NFSv3 with Ceph backends. After that commit you can still mount an export with NFS version 3. You can `ls` the mounted (root) directory, but `ls` on any subdirectory yields EINVAL:

[code]

[2020-11-26 11:25] bjorn-fischer commented on #661
In `handle.c:ceph_fsal_handle_to_wire()` the `fh_desc->len` is set to `sizeof(*hhdl)`, so a fix may be:
[code]

[2020-11-27 07:13] perrynzhou opened #662 "Bind_sockets_V6 :DISP :WARN :Cannot bind NFS tcp6 socket, error 98 (Address already in use)"
- @ffilz @phdeniel @dang  i ganesha-shared-vol start success,but another  speech_v5_rep_vol start failed on same node
[code]

[2020-11-27 07:13] perrynzhou commented on #662
- ganesha logs

[code]

[2020-11-27 07:26] jimhuaang commented on #657
Thanks for the suggestion.

I have read the code in the main line,  mdcache_lru_release_entries probably will never touch the op_ctx even though it doesn't try to establish a correct op_ctx before call mdcache_lru_unref.

The mentioned crash in my case got fired when reap a directory with chunks, as following:
       mdc_clean_entry->mdcache_dirent_invalidate_all->mdcache_clean_dirent_chunks-> ...

[2020-11-29 10:57] FloridSleeves commented on #654
Hope you have a great Thanksgiving day!

I have submitted the patch to gerrihub:
https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/506690
https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/506689
https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/506714 (this is correcting some syntax error that I make)

If there is any problem, please do not hesitate to tell me.
Thanks!

[2020-11-30 15:49] ffilz commented on #661
Can you make this fix and test?

[2020-11-30 15:51] ffilz commented on #657
Does this issue show in V2.8.4 or V3.3? We no longer support V2.6.x.

[2020-11-30 15:53] ffilz commented on #662
To run multiple instances of an NFS server on the same host, you also need to specify the NFS port.

[2020-11-30 15:56] ffilz commented on #660
To have multiple exports in the same Ganesha instance, you need to have:

Unique export_id
Unique Pesudo
Unique Path (unless you use NFS_CORE_PARAM moiunt_path_pseudo = true; )

I'm not familiar enough with Gluster to know if you can tap different gluster nodes but that SHOULD be possible,

[2020-11-30 16:01] ffilz commented on #637
Ok, with the new issue in it's own issue, and no action on the original, I'm going to close this.

If the original question is still relevant and unanswered, please re-open.

[2020-11-30 16:01] #637 closed, assigned to nobody

[2020-11-30 16:19] bjorn-fischer commented on #661
Already tested with Linux clients, no regressions so far.

But as I understand 101cfb8 that commit already addressed the size comparison. I would feel more confident if viCEnTECheNg could look into this.

Also, I'd like to test this against some of our more obscure v3 clients. And, just to be sure not to introduce some new v4 problems, I plan to pynfs this.

[2020-11-30 19:55] dang commented on #658
You don't need to tag specific people in these issues.  All the maintainers of Ganesha are notified when issues are created or updated.

There's no design docs for Ganesha.  Nor is there any documents on tuning, except for the man pages that list the tunables.  Is there something in particular you want to limit?

Threading limits are generally in the Core parameters, in the section Parameters affe

[2020-11-30 19:57] dang commented on #659
A health warning with a difference of 1 or 2 isn't usually an issue, unless it happens frequently.  There's a window when the health thread can be scheduled while ops are in progress, which can result in a warning.

[2020-11-30 20:16] dang commented on #662
Also, please don't tag individual people in these issues.  All current maintainers of Ganesha are notified of issues automatically.

[2020-11-30 20:17] dang commented on #660
Many FSAL_GLUSTER users use dozens or even hundreds of exports, so it works fine.

[2020-12-01 02:06] perrynzhou commented on #662
@ffilz   how to config nfs port on nfs-ganesha.conf?is any document to describe how to do that?

[2020-12-01 07:18] jimhuaang commented on #657
I haven't test it, the crash is not easily to reproduced.

[2020-12-01 07:18] #657 closed, assigned to nobody

[2020-12-01 12:44] dang commented on #662
Use the NFS_Port option in the NFS_CORE_PARAM block.  It's documented in the ganesha-core-config man page.

[2020-12-02 10:49] blmhemu opened #663 "[Question/Information] ZFS configuration."
Can someone provide a very simple ZFS configuration ?
I have followed the wiki : https://github.com/nfs-ganesha/nfs-ganesha/wiki/ZFS but was unable to succeed.

[2020-12-02 13:31] dang commented on #663
I'm not sure if any of us have ever used Ganesha on ZFS.  It *should* just be the normal FSAL_VFS example, I believe.  However, you might get a wider audience if you ask on the mailing list (devel@lists.nfs-ganesha.org)

[2020-12-02 15:49] blmhemu commented on #663
Hey @dang thanks for reaching out. I have some success using FSAL_VFS. But the concern is about "what if zfs has not mounted that path yet ?" Also it seems strange that there appears to be no code with the term "zfs" in the whole repo other than a few mentions in docs and changelogs.

![image](https://user-images.githubusercontent.com/19410501/100896375-8eecbf00-34e4-11eb-98c7-9bcbf7e04cbd.png)
Th

[2020-12-02 22:01] ffilz commented on #663
There used to be a FSAL_ZFS, it was removed partly due to lack of support. No one actively working on Ganesha is really in a position to support use of ZFS file systems. In theory they can be exported with FSAL_VFS though perhaps some functionality is lost compared to what might be possible with a ZFS specific FSAL.

You could try reaching out on the support or devel mailing lists and maybe someon

[2020-12-03 15:52] bjorn-fischer commented on #661
Looks like `create_handle()` in `FSAL_CEPH/export.c` acts on **wire handles**, which are `struct ceph_host_handle` (and not `struct ceph_handle_key`). So, I do not really get what 101cfb8 wants to achieve. What situation triggered EINVAL before 101cfb8?
The following partially rolls back 101cfb8 keeping the name `hhdl` for the handle identifier. It has been tested with _pynfs_, resolving 2 fails i

[2020-12-04 07:31] agin719 opened #664 "mdcache_lru can't reuse the entry and out of memory"
hello，I implemented a FSAL with ganesha. But I meet a problem. I observed In MDCache level with gdb, my lru_state is like that :

(gdb) p lru_state
$1 = {entries_hiwat = 100000, entries_used = 490828, chunks_hiwat = 100000,
  chunks_used = 3836, fds_system_imposed = 1048576, fds_hard_limit = 1038090,
  fds_hiwat = 943718, fds_lowat = 524288, futility = 0, per_lane_work = 50,
  biggest_window = 419

[2020-12-04 09:35] Phhere commented on #642
Any update? @yogendra-t

[2020-12-04 14:46] dang commented on #664
The refcount on an entry is a count of the number of times it's used by the upper layer of Ganesha or by MDCACHE.  These uses involve having a pointer to the entry, so the entry must not be freed while anyone has a pointer to it, or Ganesha will crash when that pointer is used.  MDCACHE maintains one special refcount, called the "sentinel refcount" that represents it's entry in the hash table, so

[2020-12-05 09:01] perrynzhou opened #665 "nsm_connect :NLM :EVENT :connect to statd failed: RPC: Unknown protocol"
when i deployment nfs-ganesha,that happens errors,such as logs,how to solove that?

- nfs ganesha config

[code]
- rpcbind

[code]
- logs
[code]

[2020-12-05 09:20] #665 closed, assigned to nobody

[2020-12-07 13:53] agin719 commented on #664
I test FSAL_MEM and FSAL_VFS, and I found FSAL_MEM has the same problem.
my step is:
1、modify Entries_HWMark and Chunks_HWMark to 1000
# vi mdcache_read_conf.c
        CONF_ITEM_UI32("Entries_HWMark", 1, UINT32_MAX, 1000,
                       mdcache_parameter, entries_hwmark),
        CONF_ITEM_UI32("Chunks_HWMark", 1, UINT32_MAX, 1000,
                       mdcache_parameter, chunks_hwmark),

[2020-12-07 13:54] agin719 commented on #664
I test FSAL_MEM and FSAL_VFS, and I found FSAL_MEM has the same problem.
my step is:
1、modify Entries_HWMark and Chunks_HWMark to 1000
vi mdcache_read_conf.c
    CONF_ITEM_UI32("Entries_HWMark", 1, UINT32_MAX, 1000,
                   mdcache_parameter, entries_hwmark),
    CONF_ITEM_UI32("Chunks_HWMark", 1, UINT32_MAX, 1000,
                   mdcache_parameter, chunks_hwmark),
2、mount the MEM
3、

[2020-12-08 13:09] agin719 commented on #664
I  have a idea of the reason, the entry that can't be reused is created by chunk cache. After chunks_used>=chunks_hiwat, these entries will be release and the refcnt = 1. When I turn off the chunk cache, (set Dir_Chunk = 0), entries can be reused normally. Is my understanding correct?

And I have another question: is the whence of chunk cache consistent with in FSAL? In my custom fsal layer,  the

[2020-12-08 13:33] dang commented on #664
Do you have whence_is_name set in your fsal's fs_info?  This changes readdir and it's use of whence dramatically.

By default, whence behaves the same way as POSIX readdir.  That is, whence for a dirent is the lookup key for the next dirent in the directory listing.  So if, for example, my FSAL stores dirents in an array, and uses the index for whence, it would look like this:

dirent          whe

[2020-12-08 19:16] philproctor commented on #371
I have it fixed against tag V3.3 over in my repo here: https://github.com/homelab-library/glusterfs/tree/a7ff29945e9b231770adfb86dcaf9f993f7b5f8d/patches

Had to get these 32bit errors fixed to build for armv7

[2020-12-08 19:19] philproctor commented on #345
I believe this is the same as #371 as my patches in my repo for building on multiple targets here fix both: https://github.com/homelab-library/glusterfs/tree/a7ff29945e9b231770adfb86dcaf9f993f7b5f8d/patches

Those patches are for that build, let me know if you want me to fork and submit a PR

[2020-12-09 02:51] agin719 commented on #664
Thank you for your answer, I didn't set the whence_is_name, but my whence is like that:
 a   0x100000000001
 b  0x1000ffffffff
 c   0x200000000001
 d  0x2000ffffffff
 e   0x3000ffffffff

the high bit of whence represent the subdir of my file organization.   this makes the chunk cache can't not work properly, right?

[2020-12-09 12:05] dang commented on #664
No, if you don't have whence_is_name set, we make no assumptions at all about the contents of whence.  We don't care about ordering or anything.  Any whence at all should be fine.

[2020-12-09 12:09] agin719 commented on #664
OK, thank you very much!

[2020-12-09 12:09] #664 closed, assigned to nobody

[2020-12-10 03:21] #663 closed, assigned to nobody

[2020-12-10 19:01] toddpfaff opened #666 "_9p_socket_thread :9P :CRIT :Message size too big!"
I'm running nfs-ganesha V4-dev.44 on CentOS 7.8, using FSALs PROXY_V3 and PROXY_V4.
It's working ok for the most part but my log has a bunch of these:

[code]

It doesn't seem to be related to any observed problems but I'm just curious if this is anything to be concerned about.

[2020-12-10 21:20] martinetd commented on #666
What client are you using? if linux, could you enable debug (make sure the kernel is compiled with CONFIG_9P_DEBUG and mount with -o debug=5 (or anything as long as bits 1 and 3 are set), then check in dmesg logs for `">>> size=66326` to make sure the client tries to send that?

If it does it's a client bug, it shouldn't try to send anything bigger than msize.
If it doesn't something is screwed up

[2020-12-10 21:33] toddpfaff commented on #666
I'm not using it intentionally from any client.  I have no idea what
client would be triggering 9P code in my nfs-ganesha server.

Would a better idea in my case be to rebuild with something like
"-DUSE_9P=OFF" or whatever the correct -D option is?  I did not specify
USE_9P=ON so I assume that it is on by default.

[2020-12-10 21:38] ffilz commented on #666
If you aren't using 9P definitely worth turning it off, on the other hand, it would be really nice to understand why Ganesha is getting into 9P code if you aren't using 9P...

[2020-12-11 08:24] martinetd commented on #666
Some network scan perhaps? Something that'd connect and start transmitting anything on the accepted connection would trigger it.
In that case I agree it shouldn't cause any problem other than errors in logs sporadically, but I agree turning 9p off is probably sound.

To be fair I think 9p should be off by default given the number of known users, what do you think Frank?

[2020-12-11 10:28] ihoukai opened #668 "nfs-ganesha 4.3 PROXY_V4 FSAL has invalid argument error when use dd test"
Hi, I'm using nfs-ganesha v3.3 with PROXY FSAL

![Structure diagram](https://user-images.githubusercontent.com/8035140/101889442-5d59af00-3bda-11eb-9ed8-cb4b80cdcf24.png)

execute the following command at node 3
`mkdir -p  /exports/medias`
`mount -t nfs node2:/exports/medias /exports/medias `
`for i in $(seq 10000); do dd if=/dev/zero of=/exports/medias/file_${i} bs=4K count=${i}; done`

running f

[2020-12-11 14:13] dang commented on #668
I'm not an expert on PROXY, but here's what seemed to happen.  Ganesha tried to renew the session with the node 1, and failed with NFS4ERR_BADSLOT.   PROXY only uses 16 slots, so I'm not sure what's up.  Someone with more internal knowledge of PROXY will need to chime in.

[2020-12-11 15:39] ffilz commented on #668
Simon, could you take a look at this one?

[2020-12-11 15:40] ffilz commented on #666
Hmm, that's an interesting thought. It would be nice to know what that tool is since it could disrupt legitimate 9P use.

In the meantime, disabling 9P by default does probably make sense. Could you submit a patch for that?

[2020-12-11 15:43] ffilz commented on #661
I going to close this as resolved. If you don't consider it resolved, please re-open.

[2020-12-11 15:46] ffilz commented on #371
Do the same problems exist in the upstream code in the next branch? If not, we can identify the patch that fixed them (it's quite possible they have been fixed in next) and mark it for backport.

If they aren't fixed, we need an upstream patch first that we can then backport to V3-stable. The patch submission process is here:  https://github.com/nfs-ganesha/nfs-ganesha/wiki/DevPolicy#Patch_Submiss

[2020-12-11 15:47] ffilz commented on #345
We need an upstream patch first: https://github.com/nfs-ganesha/nfs-ganesha/wiki/DevPolicy#Patch_Submission_Guidelines

And then we can backport.

[2020-12-11 16:37] toddpfaff commented on #666
On Fri, 11 Dec 2020, Frank Filz wrote:

I can't say for certain who the culprit is but I know that our IT Security
folks have used Tenable and Rumble so either of those could be responsible
I suppose.

[2020-12-11 17:52] ffilz commented on #666
Oh, yea, vulnerability probes make sense. And they may well push invalid data in part trying to expose a vulnerability.

And yea, given that, we should disable 9P by default. No one wants ports open that don't need to be open.

[2020-12-11 17:52] philproctor commented on #371
Confirmed at least some of the issues still exist in the `next` branch. Looks like the rados patch from here: https://github.com/homelab-library/glusterfs/tree/master/patches is needed and the `export.c` fix is needed. I don't have time to investigate at this moment what would be needed after that, but I had earlier confirmed that set of patches works on all versions from 2.8.3 to 3.3

[2020-12-11 18:17] toddpfaff commented on #666
On Fri, 11 Dec 2020, Frank Filz wrote:

Right and, sorry, I wrote "Rumble" but that's yet another scanner for
another purpose (although it could potentially also trigger unexpected
behaviour I suppose).  What I meant was FireEye (yeah, they made the news
recently).

As I'm planning to disable 9P, I decided to see what else is ON by
default.  Since I'm only interested in FSAL_PROXY_V* at this time,

[2020-12-11 18:48] ffilz commented on #666
If you're not using NFSv3 locks, turn off NLM

I think you can turn off RQUOTA.

If you don't use DBUS, turn it off.

You obviously can turn of FSALs you don't use, but they only load if you export with one, so they won't cause vulnerabilities.

I think that covers everything that would be opening ports.

[2020-12-12 01:10] boulos commented on #668
@ihoukai are you locked on ganesha-3.3 or you able to use/try a more recent version?

First though, I assume that if your client does this directly to the backend, it's fine. Right?

Would you mind re-trying with:

[code]

(or merge the COMPONENTS { FSAL = DEBUG } into your LOG block).

I suspect (and have wanted to dive into this) that the v4 proxy doesn't handle TCP keepalive/resets correctly. S

[2020-12-12 02:49] ihoukai commented on #668
@boulos i tried nfs-ganesha V4-dev.44，the problem still exists； the client directly connects to the NFSD backend is fine.

The log is below:
[nfs-ganesha-log.tar.gz](https://github.com/nfs-ganesha/nfs-ganesha/files/5682376/nfs-ganesha-log.tar.gz)

[2020-12-12 02:52] boulos commented on #668
(Phone reply)

Great, thanks. To just verify, can you also test with NFS v3 to the backend
with my PROXY_V3? (Since I know the code much better)

On Fri, Dec 11, 2020 at 18:50 ihoukai <notifications@github.com> wrote:

[2020-12-12 03:00] ihoukai commented on #603
@YuanZhu-Kylinsec  I've had similar problems before，and change the machine name to make it different，then it's all right，you can have a try

[2020-12-12 03:06] ihoukai commented on #668
@boulos nfs-ganesha V4-dev.44 PROXY_V3 is fine，PROXY_V4 has problem

[2020-12-12 03:09] boulos commented on #668
Great, that means it’s not inherent / your backend causing trouble for
proxying. I’ll dig into your log tomorrow.

[2020-12-13 23:51] boulos commented on #668
That log is still from a previous build (the prefixes in the log say ```pxy_``` instead of ```proxyv4_```).

I could use some NFSv4 spec and Linux knfsd help here though @dang @jtlayton.

BADSLOT only seems to be returned from knfsd when:

 ```if (seq->slotid >= session->se_fchannel.maxreqs)```

is true.

CREATE_SESSION in PROXYV4 from ```proxyv4_setsessionid``` always sets it to NB_RPC_SLOT (insi

[2020-12-14 03:00] ihoukai commented on #668
@boulos I uploaded nfs-ganesha V4-dev.44 PROXY_V4 logs and nfsd logs

[nfs-ganesha-v4-log.tar.gz](https://github.com/nfs-ganesha/nfs-ganesha/files/5686202/nfs-ganesha-v4-log.tar.gz)

[nfsd-log.tar.gz](https://github.com/nfs-ganesha/nfs-ganesha/files/5686203/nfsd-log.tar.gz)

[2020-12-14 07:21] perrynzhou opened #669 "nfs_health :DBUS :WARN :Health status is unhealthy"
- when we running nfs-ganesha with glusterfs ,that produce warninglogs,such as flow,is any problem?how to solve that?

[code]

[2020-12-14 09:44] agin719 opened #670 "does nfs-ganesha support No_All_Squash?"
Hello,
No_All_Squash：The visitors will match the local users first,  and then map to anonymous users if failed.

In support/exports.c, I found that:
static struct config_item_list squash_types[] = {
    CONFIG_LIST_TOK("Root", EXPORT_OPTION_ROOT_SQUASH),
    CONFIG_LIST_TOK("Root_Squash", EXPORT_OPTION_ROOT_SQUASH),
    CONFIG_LIST_TOK("RootSquash", EXPORT_OPTION_ROOT_SQUASH),
    CONFIG_LIST_TOK(

[2020-12-14 15:39] dang commented on #669
Most of those are okay, with a busy server, since the difference is only 2 (we ignore a difference of 1, to avoid false positives, maybe we should ignore 2 also?)  However you have a few at the top that have larger differences.

What this is checking is that your server is making good progress handling OPs.  With a difference of 36 (as in the first line), it indicates that your server cannot keep

[2020-12-14 15:41] dang commented on #670
no_all_squash is not a ganesha option.  Where are you finding documentation about it?

[2020-12-14 17:21] Vicente-Cheng commented on #661
Hi @ffilz @bjorn-fischer,
sorry for late to see this issue, I already test it and try to figure out why that could happen.

For the wire-handle, module fsal_ceph would have different behavior.
1. hand_to_wire would make type ceph_host_handle from fsal_obj_handle w/o export id.
2. wire_to_host would make type ceph_handle_key from fsal_obj_handle w/ export id.

The first case in nfs3_readdir would h

[2020-12-14 19:17] ffilz commented on #670
Yes, I was confused about your question.

Ganesha's squashing corresponds to that for knfsd.

no_squash - take all credentials as is
root_squash - replace root with anonymous uid/gid
all_squash - replace all credentials with anonymous uid/gid

[2020-12-15 04:13] agin719 commented on #670
OK, I have known. And I have other question.
I use the No_Root_Squash.
In Client, there is a user, whose uid is 1000, gid is 1000, username is client_user.
In Ganesha Server, there is a user, whose uid is 1000, gid is 1000, username is server_user.
Now client_user creates a file  A.
command ls -l , We can see:
-rw-rw-r-- 1 nobody nobody    0 Jan  1  1970  A
But I expect is:
-rw-rw-r-- 1 client_use

[2020-12-15 11:05] perrynzhou opened #671 "Kill process 204002 (ganesha.nfsd)"
#### when i used nfs-ganesha with glusterfs ,but it killed by os,how solve it?

## gluster  api version

[code]

## ganesha version

[code]

## nfs-ganesha config

[code]
## logs

[code]

[2020-12-15 13:44] dang commented on #671
Hard to say, without a lot more information.  What version of Ganesha?  What version of Gluster?  How much memory does your system have?  What kind of workload are you using?  Can you post your config?

[2020-12-15 15:09] ffilz commented on #670
You are seeing idmapper issues.

One option is you fully set up idmapper, in which case user 1000 would be the same across all hosts. I suspect you don't want that, so you need to make NFSv4 not use user and group names in communication.

The bits you need are:

In your Ganesha config, in the NFSV4 {} block, set Only_Numeric_Users = true; This will make Ganesha send the string "1000" as the user i

[2020-12-15 19:40] ffilz commented on #661
Not actually resolved yet...

[2020-12-15 19:41] ffilz commented on #661
Patch under review: https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/507499

[2020-12-15 21:52] ffilz commented on #661
I don't have a setup to try to debug or fix this issue, but I think the problem is that FSAL_CEPH doesn't have host_to_key which is implicated in the v3 READDIR case for lookup of ..

This patch and the one Vincente posted in gerrothub are not right fixes.

[2020-12-16 00:29] ffilz commented on #661
See https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/507717 for my attempt to fix the issue.

[2020-12-16 00:39] bjorn-fischer commented on #661
I will test it tomorrow and keep you updated.

[2020-12-16 05:02] Vicente-Cheng commented on #661
Already tested your patch in nfsv4/nfsv3.
The above patch is more make sense to me.

And sorry @bjorn-fischer, I lost to test nfsv3 then make your problems with 101cfb8..

Thanks, @ffilz

[2020-12-16 12:43] agin719 commented on #670
Thank you very much~
According to your method, I have solved it !

[2020-12-16 12:43] #670 closed, assigned to nobody

[2020-12-16 18:59] ffilz commented on #661
After review I updated the patch set, please test again.

[2020-12-17 01:54] perrynzhou commented on #671
@dang  i already add glusterfs and ganesha conf

[2020-12-17 10:44] bjorn-fischer commented on #661
Testing complete, results positive.
[gerrithub:507717](https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/507717) and [gerrithub:507773](https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/507773) resolve the NFSv3 problems and some _pynfs_ fails.

So, this can be closed after commit.

[2020-12-17 14:01] dang commented on #671
Sorry, apparently I'm blind...  We're not aware of any memory leaks in 3.3, but there must be a leak somewhere, either in Ganesha or Gluster.  104GB is way more than Ganesha should ever use under any circumstances.

Can you describe your workload at all?

[2020-12-18 02:37] ihoukai commented on #668
@boulos Any progress? What can I do for you?

[2020-12-18 02:47] boulos commented on #668
Sorry, I need help from either @dang @ffilzwin or @jtlayton as in the
previous update. I *think* this code just wasn't tested / needs to handle
"recreate" a little differently.

[2020-12-25 01:52] boulos commented on #668
Are you able to get by with using the V3 proxy for now, or do you need NFS v4.1 to your backend?

[2020-12-30 02:28] ihoukai commented on #668
@boulos i need NFS v4.1 to my backend，Using Proxy V3 to install our K8S cluster, we found that Proxy V3 had file lock-related problems, causing the startup failure of Mariadb database.

![nfs-ganesha-proxyv3](https://user-images.githubusercontent.com/8035140/103326054-9d99a800-4a89-11eb-8a10-f6f378249254.png)
![mariadb-error](https://user-images.githubusercontent.com/8035140/103326104-cd48b000-4a8

[2020-12-30 03:13] boulos commented on #668
Do you have NLM/statd/lockd running on your backend NFS server? (The proxy
will happily proxy NLM requests as well)

I'm surprised to see the setattr with invalid attributes warnings, as
well (since I thought the upper layers would respect my "I can only handle
the NFSv3 attributes" bits). I'll leave a better error message there for
the future.

[2020-12-30 03:52] ihoukai commented on #668
@boulos yes, i have statd

![ganesha-nfs-proxy-v3](https://user-images.githubusercontent.com/8035140/103328894-806ad680-4a95-11eb-9285-42ddd0a15ff9.png)

[2020-12-30 04:18] boulos commented on #668
Sorry, I mean on the backend (unless you’re also using Ganesha as your
backend nfsd).

You’re running statd with -L aka —no-notify. Do you have a separate
sm-notify running on the server? (I don’t recall which parts Ganesha
handles internally, but I also assumed that you were just using Linux’s
NFSd as your backend)

[2020-12-30 05:37] ihoukai commented on #668
@boulos backend has rpc.statd

![backend-rpc](https://user-images.githubusercontent.com/8035140/103332188-19a0e980-4aa4-11eb-9c51-83181c3db1ba.png)

[2021-01-04 07:14] Phhere commented on #642
Any update? Anything i can provide? @yogendra-t @ffilz

[2021-01-07 01:49] leven-del opened #672 "v2.3.3 NFS/RDMA mount point write error"
Hi,
	I mount a point use rdma protol ,ls and touch operations can be successful ,when i writing 400bytes data to a file is successful ,but write more than 1k data ,client has seized up .
	Analysis ：when wrting more than 1k data,On the nfs-ganesha server side, ibv_poll_cq() get the write request packet length is only 172 bytes,so xdr_ioq_getbytes() return false, The server does not respond to the c

[2021-01-07 14:48] dang commented on #672
Unfortunately, RDMA doesn't work right now.  It was never fully completed (nfsv3 only), and has bitrotted for many years at this point.

[2021-01-10 06:21] perrynzhou opened #673 "Cannot find GLUSTER GFAPI runtime but requested on command line"
hi,when i build glusterfs from source,after that we build nfs-ganesha source,but not  found gfapi,how to fixed it?

- glustrefs installtion info

[code]
- gluster
[code]

- nfs-genasha  build logs
[code]

[2021-01-11 14:59] kalebskeithley commented on #673
It looks like a bug in gluster. Ganesha wants there to be a a pkgconfig file for gluster but when you build gluster from source with `./configure; ./make; ./make install` apparently the /usr/lib64/pkgconfig/glusterfs-api.pc or /usr/local/lib64/pkgconfig/glusterfs-api.pc file doesn't get installed.

If you build glusterfs rpms and install them it does get installed.

I suggest you open an issue aga

[2021-01-11 16:09] ffilz commented on #672
I an closing this as wontfix since we don't remotely have any resources to work on RDMA.

[2021-01-11 16:09] #672 closed, assigned to nobody

[2021-01-12 07:18] perrynzhou opened #674 "RDMA support"
is rdma support for nfs-ganesha ?how to config  to support rdma for nfs-ganesha ?

[2021-01-12 12:41] dang commented on #674
Ganehsa does not currently have RDMA support.  Some work was done on RDMA a number of years ago, but the person who was  doing the work moved on and never finished it.   We're happy to have someone work on completing it, though.

[2021-01-13 15:35] ffilz commented on #674
Closing this, if you are interested in working on RDMA support we would welcome the effort but the community has no plans to continue working on or supporting RDMA.

[2021-01-13 15:35] #674 closed, assigned to nobody

[2021-01-13 15:36] ffilz commented on #673
Closing this, please open an issue against Gluster to pursue this.

[2021-01-13 15:36] #673 closed, assigned to nobody

[2021-01-21 11:36] perrynzhou opened #676 "nfs-ganesha config single host in FASL that should be a problem"
nfs-ganehsa is support multi hostname  in FSAL?if node for  10.128.76.139  crash,that may be crash,nfs-ganesha is down .if we has more than two node of glusterfs cluster.hostname  is fixed on one of node in clusters.if that node crash,how nfs-ganesha  works?i think that need to config multi host in hostname in FSAL

[code]

[2021-01-21 14:16] dang commented on #676
I'm not sure if I properly understand the question, but I think you're asking if Ganesha supports HA.  Yes, it does.  You can look at the

[2021-01-22 17:02] kalebskeithley commented on #676
I don't understand what you're asking.

GlusterFS has a High Availability feature for NFS-Ganesha that uses Pacemaker and Corosync. It's in the glusterfs-ganesha package in glusterfs-8 and glusterfs-9 on Fedora and CentOS. It uses floating or "virtual" IPs and when one host fails, all the other participating ganeshas are placed in NFS-GRACE, the floating IP is moved to one of the surviving hosts,

[2021-01-23 03:24] perrynzhou commented on #676
@kalebskeithley  i want to know just hostname that config one host of gluster cluster in FASL section.if that node crash,nfs-ganesha  restart,nfs-ganesha can't connection to glusterfs cluster.is right?it should config multi hosts on hostname section,if we create replicat 3  volume glusterfs,one node of gluster cluster  node crash ,nfs ganesha still connection to other node of glusterfs cluster ,it

[2021-01-25 08:59] perrynzhou opened #677 "Unknown parameter (GLUSTER),nfs-ganesha not suport pNFS for glusterfs"
- ganesha version

[code]
- ganesha config
[code]

[2021-01-25 08:59] perrynzhou commented on #677
- ganesha logs
[code]

[2021-01-25 13:36] kalebskeithley commented on #676
The way Gluster works, generally, is the client connects to _a_ host to retrieve the gluster volfile. The volfile lists all this hosts in the gluster volume. After the volfile is retrieved the client all subsequent I/O goes to all the gluster hosts that make up the volume.

This works the same way in ganesha: the gluster host specified in the EXPORT:FSAL block is used to retrieve the volfile. Afte

[2021-01-25 13:37] kalebskeithley commented on #677
pNFS is not well supported. I don't believe anyone has worked on it in a long time.

[2021-01-25 15:20] ffilz commented on #677
Yes, while there is infrastructure for pNFS, it is not well supported by the community. The Gluster implementation was never completed. It is possible the GPFS pNFS implementation still works, but I am not aware of any other pNFS implementation with the in-tree FSALs that has active support.

I have changed the wiki page to reflect this lack of support.

[2021-01-25 15:20] #677 closed, assigned to nobody

[2021-01-26 01:36] perrynzhou opened #679 "nfs-ganesha is not support GLUSTER { PNFS_MDS = true; }?"
- nfs-ganesha config

[code]

[2021-01-26 01:59] perrynzhou opened #680 "nsm_connect :NLM :EVENT :connect to statd failed: RPC: Unknown protocol"
when i config nfs-ganesha for glusterfs, but that not work. that happens errors such as "EVENT :connect to statd failed: RPC: Unknown protocol",how to fixed it?
- nfs-ganesha config

[code]

- nfs-ganesha logs

[code]

[2021-01-26 08:37] neelkanths opened #681 "nfs-ganesha I/O performance"
I'm using top-of-the trunk (next) nfs-ganesha and libntirpc in my test environment.

I have exported a local xfs file system created on an NVMe drive with the following EXPORT params and mounted it on a CentOS 7.x Client over NFS 3.0 protocol.

The client is running vdbench test with the following configuration:
- Sequentially writes 30GB file
- Random Read with 4KB as the I/O size.
- 64 client th

[2021-01-26 12:31] dang commented on #680
1024 for an FD seems suspicious, especially at startup.  Which version of Ganesha is this?

[2021-01-26 12:35] perrynzhou commented on #680
@dang nfs-ganesha v3.3

[2021-01-26 12:48] dang commented on #681
This isn't something I've seen before, but I haven't done any latency testing recently.  A couple of things you can do:
1. Run a packet capture on the network, preferably on the client machine.  This will give you an idea of the client<->client round-trip time of individual READ ops.  You'll be able to see if the latency is on the client, or between the client and the server.
2. If the latency isn

[2021-01-26 12:49] dang commented on #680
Can you turn on FULL_DEBUG for NTIRPC?  It's done like this:

LOG {
    Components {
         TIRPC = FULL_DEBUG;
    }
}

[2021-01-26 16:34] neelkanths commented on #681
Thanks Daniel.

Yes, I have run packet capture and I noticed majority of the latency is coming from the server

As you recommended I'll set up LTTng on Ganesha. I have the following link which discusses LTTng setup, let me know if this is current or if there is a more up-to-date documentation that you want me to refer.

https://review.gerrithub.io/plugins/gitiles/ffilz/nfs-ganesha/+/4c36324b877300

[2021-01-26 17:09] dang commented on #681
That doc should be fine.

[2021-01-26 18:09] ffilz commented on #679
The NFS-Ganesha community is not in a position to support PNFS. As mentioned before, no one has worked on it in years.

Closing this.

[2021-01-26 18:09] #679 closed, assigned to nobody

[2021-01-26 18:10] ffilz commented on #680
Do you have rpcbind running? Do you have rpc.statd running?

[2021-01-26 18:18] ffilz commented on #681
You are running more client threads than the server has threads. How many threads does the client have? It looks like your using vdbench in raw disk mode. I am doing some testing with file mode and I have found that running more threads than the client CPU capacity results in trouble.

[2021-01-26 19:24] neelkanths commented on #681
Hi Frank - I have 64 I/O threads on the server - RPC_Ioq_ThrdMax = 64 and vdbench client also uses 64 threads. Yes, the test is opening the file with O_DIRECT this is to bypass client file system cache which helps in measuring true server performance.

[2021-01-27 03:37] perrynzhou commented on #680
rpcbind is running

[code]

[2021-01-27 17:42] ffilz commented on #680
How about rpc.statd?

And what does rpcinfo -p show?

[2021-01-27 20:09] neelkanths commented on #681
I was able to enable LTTng on Ganesha, but I don't see function traces for any of the libntirpc functions.

While building Ganesha with LTTng on,  I ran into an error and I worked around it by using "struct tracepoint_dlopen tracepoint_dlopen". Could that be the reason?

I have installed these packages on my CentOS 7.x build box

I don't see "struct lttng_ust_tracepoint_dlopen" in any of the heade

[2021-01-27 21:14] neelkanths commented on #681
Fixed it. I'm able to get the function traces for both ganesha and libntirpc now.

[2021-01-28 08:38] neelkanths commented on #681
I have enabled LTTng on Ganesha.

With tracing on, typically overall time it takes to process a request is 0.4 to 0.6 ms and client latency is 5 - 6 ms. Most of the latency is on the server. Event processing is taking 30 us to 70 us and NFS RPC req/response is up to 0.6 ms.

You can access the lttng trace file at
https://drive.google.com/file/d/1IufFfZ3vs2XVJiCAmFOgohsU4ZS9FLzh/view?usp=sharing

C

[2021-01-28 14:29] dang commented on #681
I've started downloading, it'll take a bit.  However, the snippet you posted above takes a total of 0.6 ms, so it's fine, right?

[2021-01-28 16:11] neelkanths commented on #681
I have enabled LTTng on Ganesha.

With tracing on, typically overall time it takes to process a request is 0.4 to 0.6 ms and client latency is 5 ms. Most of the latency is on the server. Event processing is taking 30 us to 70 us and NFS RPC req/response is up to 0.6 ms.

You can access the lttng trace file at
https://drive.google.com/file/d/1IufFfZ3vs2XVJiCAmFOgohsU4ZS9FLzh/view?usp=sharing

Could

[2021-01-28 16:14] neelkanths commented on #681
Yes, but client sees 5 ms and most of it is server latency.

[2021-01-28 17:29] dang commented on #681
Hmm... I believe that leaves out latency in Ganesha itself, and means the latency must be in the kernel after we've written to the socket.  @ffilz any ideas?

[2021-01-28 19:04] ffilz commented on #681
So I'm confused about the different latencies here... What has been broken down so far as to where time is spent?

[2021-01-28 19:07] neelkanths commented on #681
For comparison: I ran the same test in the test setup but replaced Ganesha with kernel nfs server.

IOPS: 48400
client latency: 1.320 ms

With lttng enabled, throughput dropped and latency increased significantly but even without lttng, the IOPS is ~24K and latency is 2.7 ms which is off by 50%.

[2021-01-29 07:06] neelkanths commented on #681
@ffilz  @dang Here is the breakdown of latencies observed on the Ganesha NFS server and on the client without LTTng tracing.

As you can see majority of the latency (up to 3ms) is coming from server while total Ganesha/ntirpc/FSAL processing is just around 0.25 ms. Remaining ~2.4 ms is lost.

**Summary:**
1. - Ganesha RPC processing 150 us (command latency as reported by dbus v3stats)
2. - libntir

[2021-02-02 20:55] etha7 opened #682 "NFS Ganesha 3.4 fails to start"
I'm attempting mount a ceph 14 rgw bucket using nfs in a docker container but the command
[code]
seems to get stuck in ```fridgethr``` where it repeats the following forever:

[code]
[code]
The startup log, with the repeating ```fridgethr``` entries removed:
[ganesha.log](https://github.com/nfs-ganesha/nfs-ganesha/files/5914386/ganesha.log)

[2021-02-02 22:20] neelkanths commented on #681
Hi Daniel/Frank - Did you get a chance to look at it? Any ideas/recommendations to track the missing 2+ ms?

[2021-02-03 07:56] Vicente-Cheng commented on #682
I checked your log.
It looks like rgw_lookup fail then mdcache lookup path (`..`) failure.

Maybe you could check your rgw client log to see what happened?

[2021-02-03 18:25] etha7 commented on #682
What am I looking for in the rgw client logs? I can confirm that rgw is working (can CRUD objects etc).

[2021-02-04 07:22] neelkanths commented on #610
Closing it, as the issue is not reproducible any longer.

[2021-02-04 07:22] #610 closed, assigned to nobody

[2021-02-04 07:54] etha7 commented on #682
setting
[code]
and putting the admin keyring in the default placed fixed it and nfs started working fine.

[2021-02-04 22:35] ffilz commented on #682
Sounds like this is resolved, closing.

[2021-02-04 22:35] #682 closed, assigned to nobody

[2021-02-05 10:13] Vicente-Cheng commented on #682
hi @etha7, sorry for the late reply.
I know you already resolve this issue.

For your information that you could setup `debug_rgw` (FSAL_RGW would call rgw_files to do the operations) to your
radosgw client section in ceph config when you need to figure out what happens with rgw.

[2021-02-08 15:46] danfoster opened #683 "Transient NFS4ERR_NOENT / Empty directory listing"
Hi,

I'm trying to debug an issue where performing a `READDIR` sometimes returns `NFS4ERR_NOENT` intermittently.

As you can see in the following screenshot from wireshark, I my client is always using the same FH, sometimes it returns a valid result, othertimes it return `NFS4ERR_NOENT`

![NFS4ERR_NOENT_v2](https://user-images.githubusercontent.com/4570306/107242567-062e5a00-6a24-11eb-8a30-6c76e4d

[2021-02-08 16:07] ffilz commented on #683
Ganesha's handles are persistent. For FSAL_GPFS they come from the kernel exportfs interface via an fcntl call (this is effectively the same as the name_to_handle_at system call, but the GPFS code predates the availability of the system call, so it accesses it via an fcntl call to the GPFS kernel module which can make the requisite exportfs kernel call, GPFS also includes an fcntl for the open_by_

[2021-02-08 17:54] danfoster commented on #683
Thanks. I'll turn up the logging even more. In the mean time I just wanted to mention something I find odd:

In the usual operation pattern, I see:
 1) LOOKUP the subdir and get the FH
 2) Perform a ACCESS against that FH
 3) Perform a GETATTR against the FH
 4) Perform a READDIR against the FH

![image](https://user-images.githubusercontent.com/4570306/107260819-73e38180-6a36-11eb-9b32-06da88edd0

[2021-02-08 18:29] dang commented on #683
Which version of Ganesha?  The readdir code can be quite different for different versions.

[2021-02-08 18:33] danfoster commented on #683
Version: 2.7.5

[2021-02-08 18:36] danfoster commented on #683
Here is the debug log of a failed READDIR.

[ganesha.filtered.log](https://github.com/nfs-ganesha/nfs-ganesha/files/5945937/ganesha.filtered.log)

[2021-02-08 20:55] ffilz commented on #683
It looks like the readdir contained a file "7QMwM1ta7mCjbs223gHjqWon4UkfQQWh" but it wasn't in cache and lookup by name failed for it.

[2021-02-08 22:00] danfoster commented on #683
Reading https://github.com/nfs-ganesha/nfs-ganesha/issues/256 makes it sound similar.

In my situation, I have multiple nodes running ganesha. So from a single instances perspective, there are changes being made to the filesystem from outside ganesha. Should GPFS up-calls invalidate the dirent as well as the cached file? Is there some logging I can enable to see this?

As a short-term work-around,

[2021-02-09 00:09] ffilz commented on #683
We can't disable the handle cache, though you could shrink it.

Yes, Dir_Chunk=0; will disable dirent caching.

[2021-02-09 00:10] ffilz commented on #683
One option is that GPFS should force invalidate the directory if it hits something like this. A better option might be to skip the entry, but do something that will force directory invalidation sooner than later.

[2021-02-09 02:16] liufeng-49 opened #684 "3.3 and next: cmake fails with USE_BLKIN =ON"
[root@node1 build]# cmake ../src/
-- cmake version 3.11
-- The C compiler identification is GNU 8.3.1
-- The CXX compiler identification is GNU 8.3.1
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Detecting C compile features
-- Detecting C compile features - done
-- Chec

[2021-02-09 03:22] liufeng-49 commented on #684
Can anyone help me?

[2021-02-09 08:33] liufeng-49 opened #685 "compile error with lttng on of tag V3.3 and next"
env:
centos8.2
lttng-ust-2.8.1-11.el8.x86_64
lttng-ust-devel-2.8.1-11.el8.x86_64
lttng-tools from https://lttng.org/files/lttng-tools/ ，lttng-tools-2.8.1.tar.bz2

error:
/usr/bin/ld: ganesha.nfsd: hidden symbol `tracepoint_dlopen_ptr' in CMakeFiles/ganesha.nfsd.dir/MainNFSD/nfs_main.c.o is referenced by DSO
/usr/bin/ld: final link failed: Bad value
collect2: error: ld returned 1 exit status
make[2

[2021-02-09 12:50] dang commented on #683
GPFS does have up-calls, and you should see messages like:
inode update: rc %d reason %d update ino %
at the DEBUG level.  The invalidate call itself logs at the MID_DEBUG level, and logs like this:
inode invalidate: flags:%x update ino %

Those should be called for the removed inode and for the parent directory.

[2021-02-09 12:52] dang commented on #684
I don't think anyone has tried to build with BLKN in years, and I wouldn't be surprised if it's broken.  Try using LTTng instead, it's used regularly and works well.

[2021-02-09 12:55] dang commented on #685
I've seen this before, and it was fixed by upgrading to lttng 2.10 or later.  Can you try that?

[2021-02-09 13:04] dang commented on #685
Oh, and what version of Ganesha?  I'm assuming next (or 3.x)

[2021-02-10 00:32] liufeng-49 commented on #685
yes, next  and  3.3

[2021-02-14 21:55] boulos commented on #668
Sorry for the long gap here, if you can still easily reproduce this, can you change handle.c to include the response code with something like this:

[code]

Then we can see which error from the list (https://tools.ietf.org/html/rfc5661#section-18.46.2) is actually happening.

[2021-02-18 17:35] danfoster commented on #683
I can't see the invalidate in format you suggested. I have `FULL_DEBUG` on the `FSAL` and `CACHE_INODE` components. But I do see the following that's interesting.

If I make sure a dirent is cached by listing the directory on 2 clients (each one mounting each instance of ganesha). Then I touch a file in that directory from one of the NFS servers, I see the following in the ganesha logs:

From the

[2021-02-19 14:14] dang commented on #683
I would think so, yes, but I don't know anything about the internals of GPFS itself, so I can't say for sure.  Maybe there's some setting you need to make to have notifications propagated across the cluster?  @ffilz knows a bit more about GPFS than I do.

[2021-02-19 15:24] ezplanet opened #686 "*blocking* nfs ganesha server crashes when accessing gluster share"
OS: Ubuntu Server 20.04

When trying to access a share configured as follows:
EXPORT
{
    # Export Id (mandatory, each EXPORT must have a unique Export_Id)
    Export_Id = 70;

    # Exported path (mandatory)
    Path = "/home";

    # Pseudo Path (required for NFS v4)
    Pseudo = "/home";

    # Allow root access
    Squash = No_Root_Squash;

    # Security flavor supported
    SecType = "sys";

[2021-02-19 20:05] dang commented on #686
So, that's not a fatal error, so it's not directly causing the crash.  Which version of Ganesha?  Can you get a backtrace from the crash?

[2021-02-20 02:35] ezplanet commented on #686
Here are the packages installed, coming with Ubuntu Server 20.04 distribution:
nfs-ganesha-gluster/focal,now 3.0.3-0ubuntu3 amd64 [installed]
nfs-ganesha-vfs/focal,now 3.0.3-0ubuntu3 amd64 [installed]
nfs-ganesha/focal,now 3.0.3-0ubuntu3 amd64 [installed]

It may not be a fatal error, but when that happens, nfs stops responding on the server for every share, not just the one above, therefore from

[2021-02-20 13:58] ezplanet commented on #686
Here are more logs after trying to access the gluster share above. Following this nfs-ganesha exits:

SYSTEMCTL nfs-ganesha status:
● nfs-ganesha.service - NFS-Ganesha file server
     Loaded: loaded (/lib/systemd/system/nfs-ganesha.service; enabled; vendor preset: enabled)
     Active: failed (Result: signal) since Sat 2021-02-20 13:52:09 GMT; 4min 17s ago
       Docs: http://github.com/nfs-ganes

[2021-02-22 09:04] readerx commented on #668
Error like this

![图片](https://user-images.githubusercontent.com/1893630/108686032-d6a54480-752f-11eb-8230-c1bbf1d635f4.png)

rfc code

[code]

@boulos

[2021-02-22 13:58] dang commented on #686
Okay, that one is a crash, for sure.  I don't use ubuntu much, but it looks like they have a backtrace collection system similar to what RHEL/Centos/Fedora uses named Apport.  See here for more info:
https://wiki.ubuntu.com/Apport

A configuration error should not be able to cause a crash (although it could cause Ganesha to exit on startup, if it's bad enough). This is more likely a bug in either

[2021-02-23 14:56] Phhere commented on #642
Any update? @yogendra-t
Do you need further informations/logs?

[2021-02-23 19:41] ffilz commented on #686
Could you upgrade to Ganesha V3.4? I don't see anything Gluster specific there, but it would be worth at least eliminating the possibility of an already fixed bug.

[2021-02-23 19:43] ffilz commented on #642
This might be better handled via IBM support channels. Note that GPFS is a proprietary filesystem and thus can not be supported by the general Ganesha community.

[2021-02-23 19:45] ffilz commented on #685
Have you tried upgrading lttng?

[2021-02-23 19:52] ffilz commented on #684
Should we remove BLKIN support? It doesn't seem like it got traction and maybe is just bitrot at this point.

[2021-02-25 15:18] seanfulton opened #687 "idmapping documentation issue (was Setting Squash = No_root_squash; still causes root-owned files to show as owned by -2)"
Just pushed a glusterfs/ganesha cluster live and I've noticed that all of the files on mounted volumes that are owned by root are showing with a uid/gid of -2. According to what I read in the docs, this should not be. I can manually change the ownership to 0.0, but rsyncing files onto the filesystem is causing them to squashed. Also, if I create a file on the filesystem it is owned by -2 and group

[2021-02-25 23:27] ffilz commented on #687
Can you look at the actual storage backing the GlusterFS and check what the file ownership is?

It looks like you're using NFSv4, do you have idmap.conf setup the same on both the server AND client? Specifically domain has to be the same on both, otherwise when the client does an ls -l, the owners will all get translated to nobody despite them actually being correct on the server.

[2021-02-28 13:08] ezplanet commented on #686
I run Ubuntu Server 20.04, I am taking upgrades from the distribution, so it depends on whether Ubuntu provides  the upgrade you suggested.

Further to my last message I noticed that the issue happened when one user was trying to access files that the user did not have permission to access. I have since deleted and re-created those files and I have not been able to reproduce the issue since. Howev

[2021-02-28 20:05] etha7 commented on #682
Appreciate it, thank you.

[2021-03-01 19:01] vflorins opened #688 "Insufficient SELinux policy on Fedora"
The SELinux policy provided in the nfs-ganesha-selinux RPM is not sufficient to export filesystems (results in multiple access denied messages). The following is the output from audit2allow:

module ganesha-extra 1.0;

require {
	type ipmi_device_t;
	type user_home_dir_t;
	type unlabeled_t;
	type ganesha_t;
	type fuse_device_t;
	type efivarfs_t;
	type dosfs_t;
	type var_t;
	type tracefs_t;
	type d

[2021-03-01 20:15] kalebskeithley commented on #688
which linux?
Which fsal?
which version of ganesha?
do you have nfs-ganesha-selinux installed?

[2021-03-01 21:31] vflorins commented on #688
This is Fedora 33 and the FSAL is VFS. The version of ganesha is 3.5 and the package nfs-ganesha-selinux is of course installed. Later, I found that a lot more is required to make the /usr and /home mounts to work properly on the client. Here is the complete list:

module ganesha-extra5 1.0;

require {
        type groupadd_exec_t;
        type avahi_unit_file_t;
        type chronyd_exec_t;

[2021-03-02 16:19] 0x0203 opened #689 "using wrong protocol for IPv4 bind_addr"
**src/MainNFSD/nfs_rpc_dispatcher_thread.c** :753 - `Bind_sockets_V4(void)`

When setting up the bind_addr from `core_param.bind_addr`, it's being set into `pdatap->sinaddr_udp` instead of `pdatap->sinaddr_tcp` which will result in using the default ip address (0.0.0.0) instead of what's configured in `nfs_param.core_param.bind_addr`.

I'm not currently set up to file a pull request, but the fix s

[2021-03-02 16:41] 0x0203 commented on #689
Here's the patch. This fixes it for when it's trying to use tcp. The udp case and the IPv6 tcp/udp cases all look correct.

[bind_addr.patch.txt](https://github.com/nfs-ganesha/nfs-ganesha/files/6070225/bind_addr.patch.txt)

[2021-03-02 16:45] 0x0203 commented on #689
Here's the patch. This fixes the IPv4 tcp case. The udp and IPv6 tcp/udp cases all look correct.

[bind_addr.patch.txt](https://github.com/nfs-ganesha/nfs-ganesha/files/6070252/bind_addr.patch.txt)

[2021-03-02 19:22] ffilz commented on #686
Latest Ubuntu packages can be downloaded here:

https://launchpad.net/~nfs-ganesha/+archive/ubuntu/nfs-ganesha-3.0

Please try Ganesha V3.4 and see if that resolves the issue.

[2021-03-03 00:26] ffilz commented on #689
Patch submitted: https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/511663

[2021-03-03 00:29] ffilz commented on #684
Since BLKIN has really not been supported, the following patch removes it from nfs-ganesha:

https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/511665

[2021-03-05 19:07] ffilz commented on #274
Closing for lack of response.

[2021-03-05 19:07] #274 closed

[2021-03-05 19:24] ffilz commented on #225
I just verified this as fixed.

[2021-03-05 19:24] #225 closed

[2021-03-06 00:05] ffilz commented on #577
I'm not sure if this is resolved, but it hasn't seen any action in months so closing.

[2021-03-06 00:05] #577 closed, assigned to ffilz, bjorn-fischer

[2021-03-06 00:05] ffilz commented on #649
Closing as resolved.

[2021-03-06 00:05] #649 closed, assigned to dang

[2021-03-06 00:06] ffilz commented on #644
Closing as resolved.

[2021-03-06 00:06] #644 closed, assigned to nobody

[2021-03-06 00:06] ffilz commented on #634
Closing as resolved.

[2021-03-06 00:06] #634 closed, assigned to nobody

[2021-03-06 00:07] ffilz commented on #661
Closing as resolved.

[2021-03-06 00:07] #661 closed, assigned to nobody

[2021-03-06 00:08] ffilz commented on #654
Closing as resolved.

[2021-03-06 00:08] #654 closed, assigned to nobody

[2021-03-06 00:09] ffilz commented on #619
Closing since this hasn't seen any response in months. Reopen if this is still an issue.

[2021-03-06 00:10] ffilz commented on #192
I think we still need to consider V4.2 validation.

[2021-03-06 00:11] ffilz commented on #361
We really still need to validate delegations and decide what to do...

[2021-03-06 02:30] YaqiZhang-UESTC opened #691 "GTEST cannot work"
hi，ganesha version is 3.5，CentOS Linux release 8.2.2004，here are the imformation about cmake ../src：
-- cmake version 3.11
-- override default CMAKE_INSTALL_PREFIX = /usr
-- Detected an UNKNOWN Linux machine
-- toolchain options processed
-- Outside a git repository, use saved data
-- Looking for lttng executable...
-- Boost 1.34.0 found.
-- Found Boost components:
   filesystem;program_options
--

[2021-03-06 23:36] f1-outsourcing opened #692 "(feature?) is it possible to export an file that contains an filesystem?"
Export something like:

[code]

with
[code]

[2021-03-08 06:11] YaqiZhang-UESTC commented on #691
hi,i figured that out,here are the results:
[root@node2 gtest]# ./test_ci_hash_dist1
[==========] Running 2 tests from 1 test suite.
[----------] Global test environment set-up.
[----------] 2 tests from CI_HASH_DIST1
[ RUN      ] CI_HASH_DIST1.INIT
[       OK ] CI_HASH_DIST1.INIT (0 ms)
[ RUN      ] CI_HASH_DIST1.CREATE_ROOT
/root/zhangyq/nfs-ganesha-3.5/src/gtest/test_ci_hash_dist1.cc:123: Failu

[2021-03-08 13:47] dang commented on #692
No.  You would have to loop-mount the image, and then export the mountpoint.

[2021-03-08 14:18] pdefert commented on #686
Upgrade with launchpad fail, it's seem missing some deps  like libntirpc3 >=3.4 missining

[2021-03-08 21:42] ffilz commented on #686
Kaleb, could you take a look at this one?

[2021-03-08 21:44] ffilz commented on #691
gtest is unit test code, there is no assurance it works in the stable branches.

Could you try on next?

[2021-03-09 01:15] YaqiZhang-UESTC commented on #691
the results are here on next,
[root@localhost gtest]# ./test_ci_hash_dist1
[==========] Running 2 tests from 1 test suite.
[----------] Global test environment set-up.
[----------] 2 tests from CI_HASH_DIST1
[ RUN      ] CI_HASH_DIST1.INIT
/root/gtest/ganesha-next/nfs-ganesha-next/src/gtest/test_ci_hash_dist1.cc:87: Failure
Expected: (a_export) != (nullptr), actual: NULL vs (nullptr)
[  FAILED  ]

[2021-03-09 13:38] kalebskeithley commented on #686
libntirpc-3.x packages are in the libntirpc ppa at the same location.

https://launchpad.net/~nfs-ganesha/+archive/ubuntu/libntirpc-3.0

[2021-03-09 15:38] ffilz commented on #409
Closing, this is really old with no activity.

[2021-03-09 15:38] #409 closed

[2021-03-09 15:39] ffilz commented on #412
This is really old with no activity. Closing.

[2021-03-09 15:41] ffilz commented on #253
I'm going to change this to an enhancement request so it's more visible as part of our backlog.

[2021-03-09 15:42] ffilz commented on #549
This is very old with no activity. It's also on an old version of Ganesha. Closing.

[2021-03-09 15:42] #549 closed, assigned to nobody

[2021-03-09 15:43] ffilz commented on #574
Simon, could you take a look at this one?

[2021-03-09 15:43] ffilz commented on #318
Bump...

[2021-03-09 15:45] ffilz commented on #617
We did our best to clean stuff up, what remains isn't really in the capacity of the general Ganesha community to fix.

[2021-03-09 15:45] #617 closed, assigned to nobody

[2021-03-09 15:45] ffilz commented on #431
This has been around for a long time with no activity. Closing.

[2021-03-09 15:45] #431 closed

[2021-03-09 15:48] ffilz commented on #636
This has been open for several months with no activity. Closing. If there is still a question, feel free to re-open.

[2021-03-09 15:48] #636 closed, assigned to nobody

[2021-03-09 15:48] ffilz commented on #652
This has been open for several months with no activity. Closing. If there is still a question, feel free to re-open.

[2021-03-09 15:48] #652 closed, assigned to nobody

[2021-03-09 15:49] ffilz commented on #655
This has been open for several months with no activity. Closing. If there is still a question, feel free to re-open.

[2021-03-09 15:49] #655 closed, assigned to nobody

[2021-03-09 15:49] ffilz commented on #653
This has been open for several months with no activity. Closing. If there is still a question, feel free to re-open.

[2021-03-09 15:49] #653 closed, assigned to nobody

[2021-03-09 15:50] ffilz commented on #658
This has been open for several months with no activity. Closing. If there is still a question, feel free to re-open.

[2021-03-09 15:50] #658 closed, assigned to nobody

[2021-03-09 15:50] ffilz commented on #659
This has been open for several months with no activity. Closing. If there is still a question, feel free to re-open.

[2021-03-09 15:50] #659 closed, assigned to nobody

[2021-03-09 15:50] ffilz commented on #660
This has been open for several months with no activity. Closing. If there is still a question, feel free to re-open.

[2021-03-09 15:50] #660 closed, assigned to nobody

[2021-03-09 15:51] ffilz commented on #662
This has been open for several months with no activity. Closing. If there is still a question, feel free to re-open.

[2021-03-09 15:51] #662 closed, assigned to nobody

[2021-03-09 15:52] ffilz commented on #676
This has been open for more than 30 days with no activity. Closing. If there is still a question, feel free to re-open.

[2021-03-09 15:52] #676 closed, assigned to nobody

[2021-03-09 15:52] ffilz commented on #680
This has been open for more than 30 days with no activity. Closing. If there is still a question, feel free to re-open.

[2021-03-09 15:53] ffilz commented on #656
This has been open for more than 30 days with no activity. Closing. If there is still a question, feel free to re-open.

[2021-03-09 15:53] #656 closed, assigned to nobody

[2021-03-09 15:53] ffilz commented on #669
This has been open for more than 30 days with no activity. Closing. If there is still a question, feel free to re-open.

[2021-03-09 15:53] #669 closed, assigned to nobody

[2021-03-09 15:54] ffilz commented on #671
This has been open for more than 30 days with no activity. Closing. If there is still a question, feel free to re-open.

[2021-03-09 15:54] #671 closed, assigned to nobody

[2021-03-09 15:55] ffilz commented on #640
This has been open for more than 30 days with no activity. Closing. If there is still a question, feel free to re-open.

[2021-03-09 15:55] #640 closed, assigned to nobody

[2021-03-09 15:56] ffilz commented on #629
This has been open for more than 30 days with no activity. Closing. If there is still a question, feel free to re-open.

[2021-03-09 15:56] #629 closed, assigned to nobody

[2021-03-09 15:56] ffilz commented on #626
This has been open for more than 30 days with no activity. Closing. If there is still a question, feel free to re-open.

[2021-03-09 15:56] #626 closed, assigned to nobody

[2021-03-09 16:01] ffilz commented on #540
I'm not sure we will do another V2.8. I have marked it for back port in https://docs.google.com/document/d/1vRrk-JFtUdU4b234hnv0npVqnKI8BTqUWGz5IHcxt0g/edit?usp=sharing Closing

[2021-03-09 16:01] #540 closed, assigned to dang

[2021-03-09 16:24] ffilz commented on #641
This could be fixed by  I4de8ddef3a7fdca9b27902a9b43abe926e64d545 state_deleg: Grab lock after confirming reg file

Otherwise, it's been months with no activity. Closing.

Please try Ganesha V3.5 and if it still occurs, re-open.

[2021-03-09 16:24] #641 closed, assigned to nobody

[2021-03-10 09:48] FATruden opened #693 "Multiple ganesha instances and strays objects in CephFS"
Hi!

We have one CephFS and two standalone ganesha instances on different hosts which export the same directory.
We don't use any HA solution for ganesha and we don't need any HA.
Our nfs-clients are centos 7.5. Clients can mount any of our ganesha servers (DNS round-robin). Clients can't work with same file in same time. Clients don't overwrite files and we can't have any race. Everything works f

[2021-03-10 14:01] dang commented on #693
Hmm...  With NFSv4, it's unlikely to be Ganesha holding an FD open (which might be the case with NFSv3).  It's possible it's somehow the libcephfs cache holding a ref on the object?  @jtlayton any ideas?

[2021-03-10 16:30] jtlayton commented on #693
Neither of those ganesha versions have the work that we did to add the ino_release_cb, so it may just be the handle cache holding onto inode references...or any of a number of other potential bugs. @FATruden: you may want to try a newer release of ganesha, and possibly of libcephfs.

[2021-03-10 19:10] FATruden commented on #693
@jtlayton: do you speak about versions which included this commit https://github.com/nfs-ganesha/nfs-ganesha/commit/382966c1ce0298347d26a3d22a7c8988fdcdf1da ?
As i understand it started from v4 which isn't stable today.

[2021-03-10 19:31] FATruden commented on #693
@jtlayton Do we need this https://tracker.ceph.com/issues/12334 from ceph part?

[2021-03-10 21:24] ffilz commented on #345
patch submitted, closing.

[2021-03-10 21:24] #345 closed

[2021-03-10 23:18] phunyguy opened #694 "Startup race condition with GlusterFS."
I have run into a problem while setting up a single-node proof of concept for a hyperconverged Proxmox/Ganesha/GlusterFS setup that will eventually be 3 nodes.  Booting this server, GlusterFS and nfs-ganesha start in parallel, and if GlusterFS is not 100% initialized with the target volume just yet, nfs-ganesha fails with the following error:

[code]
After discussing with boulos on IRC, they reque

[2021-03-10 23:44] ffilz commented on #694
@kalebskeithley could you take a look at this one?

[2021-03-10 23:45] ffilz commented on #693
Ganesha V2.7 is definitely no longer supported, V2.8 is basically end of life. Could you try V3.5?

[2021-03-10 23:48] ffilz commented on #371
Considering how old this is, and there is another issue also with a patch which I applied as https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/512235 I'm going to close this one. Please open a new issue if either Ganesha V3.5 or V4 (next branch) doesn't compile. We can either slate patches for back port to V3.x and/or address any remaining issues in next.

[2021-03-10 23:48] #371 closed

[2021-03-10 23:50] ffilz commented on #618
This has been back ported to V3.4 closing.

[2021-03-10 23:50] #618 closed, assigned to nobody

[2021-03-11 00:04] #684 closed, assigned to nobody

[2021-03-11 00:05] ffilz commented on #689
@0x0203 could you verify this as fixed and close the issue?

[2021-03-11 06:41] FATruden commented on #693
@ffilz I will try to build v3.5.

[2021-03-11 08:16] FATruden commented on #693
I have tryed v3.5.
[code]

I used build https://cbs.centos.org/koji/buildinfo?buildID=31933 which was made with my version of libcephfs (14.2.16).

The problem is still here.
Stray objects will be purget only after restart ganesha instance (v3.5) which was used for file creating.

[2021-03-11 14:36] kalebskeithley commented on #694
You can add glusterd.service to the Wants= and After= lines in the nfs-ganesha.service file.

[2021-03-11 14:38] phunyguy commented on #694
I've considered/tried that, and it still causes problems as there can be a slight delay in actual volume startup, so nfs-ganesha still gets an error if the volume isn't available yet.  It makes it a little better, as in it doesn't happen every time, but there are still random problems on reboot.  Also this doesn't work at all if nfs-ganesha and glusterfs are on different servers.

[2021-03-13 15:01] 0x0203 commented on #689
That fixed it, thank you.

[2021-03-13 15:01] #689 closed, assigned to ffilz

[2021-03-14 19:29] darkl0rd opened #695 "Ownership is changed to nobody on restart."
I just noticed that after the last update (3.5-ubuntu1~bionic1) all my files are reset to 'nobody:nogroup' upon restart of the daemon. The export is set with Squash = None;

I can change the ownership back to the correct uid:gid, but after a restart of the daemon everything is reset to nobody:nogroup again. The client seems relevant in this case, as I can see the ownership change only on the clien

[2021-03-14 20:24] darkl0rd commented on #695
Worth noting, when the ownership is reset after a restart of 'ganesha-nfs', attempting to perform a chown on a client results in:

chown 101:102 directory-name
chown: changing ownership of 'directory-name': Operation not permitted

When listing the directory afterwards, you will notice that -all- files (not just the single file on which I attempted a chown!) and directories are (slowly) returning

[2021-03-15 11:17] darkl0rd commented on #695
Server (post-restart):
[code]
Client (post-restart):
[code]
[code]

mount options:
[code]

[2021-03-15 13:04] darkl0rd commented on #695
The workaround I have discovered is switching to NFS v3 which does not show this behaviour.

[2021-03-16 07:55] g199209 opened #696 "Asynchronous I/O cause segment fault in FSAL_MDCACHE layer"
We add our own FSAL implementation in ganesha, and our FSAL use asynchronous IO modle, that means we create some IO threads to do real IO, and call callback function in IO thread when it finished. But this implementation will cause segment fault in FSAL_MDCACHE layer.

Our own write op function is called by

[code]

The segment fault happens in the callback function `mdc_write_cb`:

[code]

Using

[2021-03-16 11:49] dang commented on #696
This was recently fixed on next:
4cdea7271db8b99c5edab8874269e92e3e25aff9

It also requires an associated fix in ntirpc:
https://github.com/nfs-ganesha/ntirpc/pull/225/commits/9e1b0c091ce4e6c8f7738797cc83930d4c048943

There hasn't been a release version of Ganesha since that fix went in, but it will be in the next release (3.6) when it comes out.

[2021-03-16 13:26] dspisla opened #697 "Several DIR issues using ganesha v2.7.6"
Dear ganesha community,
at the moment we are struggling with several DIR issues that arises on a system with
nfs-ganesha v2.7.6
glusterfs 5.11

Client is CentOS7 using this nfs mount options:
<server-ip>:/aif_audit /AIF/aif_audit nfs   rw,hard,sync,intr,nodev,nosuid,nfsvers=3  0 0

The issues are the follows when mounting the share on the client:
1. Sometimes deleting an empty directory failes. E.

[2021-03-16 13:53] dang commented on #697
There have been quite a few readdir fixes since 2.7.x, which is no longer supported.  Please try a newer version.  I'd recommend 3.5, although 2.8.4 should have all the fixes as well.  However, we're unlikely to release another 2.8.x, so 3.x is a better version to switch to.

[2021-03-16 14:20] ffilz commented on #695
NFSv4 uses ID mapping. The owner and group attributes are normally domain qualified owner names in string form. The client and server must both have idmapper properly configured with the same domain in /etc/idmap.conf

The protocol does allow these strings to hold numeric ids, and Ganesha defaults to allowing such numeric ID strings on SETATTR (and creates) and at least the Linux client (and proba

[2021-03-16 14:30] dspisla commented on #697
Thank you for the quick response. We are currently working on a migration to a newer version.
Until that, do you think that setting that Dir_Chunk to 0 might be a temp workaround ???

[2021-03-16 14:33] dang commented on #697
It likely would, but that turns off readdir caching entirely, causing every dirent to call into the FSAL, so it's likely to be slow.

[2021-03-16 14:55] dspisla commented on #697
Thank you. Good to know

[2021-03-18 09:56] dspisla commented on #697
Above you recommend to update to a newer ganesha version. You know if ganesha 2.8.x and (even better) 3.x is compatible with GlusterFS v5.11?

Updating GlusterFS would be not an shortterm option for us

[2021-03-18 14:07] ffilz commented on #697
Kaleb, could you answer this question? Hmm, should we have a general support matrix on the wiki?

[2021-03-18 14:18] dspisla commented on #697
@kalebskeithley  answered in the gluster slack channel as follows:

[2021-03-18 15:09] darkl0rd commented on #695
I understand, how does it explain the "lazy correction" of ID's as soon as I attempt to perform a chown? And why didn't I ever see this before with Ganesha 3.4?

[2021-03-18 16:08] darkl0rd commented on #695
I can confirm that by settings this option, it does indeed work as intended. I'd still be curious to get an answer on the 'chown' behaviour though.

[2021-03-18 17:58] ffilz commented on #695
It may be an artifact of client side caching. There must be some other reason for the change in behavior since the difference between V3.4 and V3.5 is a single patch that deals with RGW version check...

A tcpdump would probably shed light on the flow that led to the chown failing. If you wanted to share a tcpdump, I would take a look at it. tcpdump -s0 -w /tmp/trace.nfs

[2021-03-19 08:28] g199209 commented on #696
@dang Thank you for your reply.

I have test the leatest code in `next` branch in both ganesha & ntirpc, but this problem still exist.

I modified FSAL_VFS to simulate this case.

[code]

I modify `vfs_write2`, replacing original `done_cb` by creating a new thread and call `done_cb` in this thread.

Program will crash in this case.

[code]

Related log:

[code]

[2021-03-19 13:40] dang commented on #696
The FSAL is currently required to initialize the op context before calling the callback.  Take a look at mem_async_complete() in FSAL/FSAL_MEM/mem_handle.c:1798 for a working example.  Since MEM is the only FSAL that does async at the moment, we could conceivably change this requirement if necessary.

[2021-03-20 03:12] werdnum opened #698 ""Documentation" section in README is empty"
You could at least link, say, [here](https://manpages.ubuntu.com/manpages/bionic/man8/ganesha-config.8.html) if you don't have anywhere better to link to.

[2021-03-22 07:55] g199209 commented on #696
Problem solved, thank you! @dang

[2021-03-22 07:55] #696 closed, assigned to nobody

[2021-03-22 15:13] dspisla commented on #697
Just for clarification.
Ganesha 2.8.4 needs at least Gluster 6.0 . @kalebskeithley corrected his statement from above

[2021-03-25 08:19] PopiBrossard opened #699 "NFS-Ganesha and LazyIO in Cephfs"
Hello,

I just have a question, and can't really find an answer by looking at the documentation. Ceph support LazyIO from nautilus release, but I don't understand if NFS-Ganesha can take advantage of this functionality.

If I understand well, to use this functionality you need to use some new functions defined in libcephfs, and I can't find calls to these functions in the source code of NFS-Ganesh

[2021-03-25 12:28] PopiBrossard commented on #699
I was wondering this because of the comment https://github.com/ceph/ceph/pull/21067#issuecomment-379352263

It says lazyIO could be usefull to ganesha use case, so I'm wondering if it's implemented or not.

[2021-03-25 13:30] dang commented on #699
No one has implemented lazy-IO in Ganesha yet.

[2021-03-25 13:54] PopiBrossard commented on #699
Ok, thanks Daniel for the information.

Two last question before I close my issue. If I set `client_force_lazyio=true` in Ceph, will it break Ganesha, because Lazy IO isn't implemented ? The idea is to force ceph-fuse client to use Lazy IO when it's possible.

Are there any plans to implement this in a next release ?

[2021-03-25 14:12] dang commented on #699
@jtlayton Any ideas?

[2021-03-26 07:45] agin719 opened #700 "How to uncache the files' attributes in nfs-ganesha"
I have implemented FSAL. In my FSAL level, the files can be updated automatically.  But client can't know the change of files immediately.

I use the mount command is as follows:
mount -t nfs -o vers=4,noac,sync,actimeo=1,lookupcache=none 。。。。

But the client still can't perceive the change of the file immediately, for example:

I use command:
ls -lh fileA
-rwx---- 1M fileA

When fileA changed to

[2021-03-26 14:02] dang commented on #700
You need to implement the correct UP call, in this case the invalidate() call.  This will let MDCACHE know that a file has changed behind it's back, and it can handle it properly.

You can see mem_invalidate() in FSAL/FSAL_MEM/mem_up.c for a very simple example, or up_process_event_object() in FSAL/FSAL_GLUSTER/fsal_up.c for a more complicated example.

If you want the invalidate to happen inline,

[2021-03-27 23:01] f1-outsourcing commented on #692
I did that, and got some issues with stalls, unable to unmount etc. That is why I thought maybe it is safer to have ganesha access the file directly

[2021-03-29 03:32] lnsyyj opened #701 "The client mount point disappears after the quota is set for the cephfs export directory"
nfs-ganesha version :3.4GA
ceph version: 14.2.15

cat /etc/ceph/ceph.conf
[code]

cat /etc/ganesha/ganesha.conf
[code]

client
[code]

nfs-ganesha server
[code]

client view again (df mountpoint disappeared)
[code]

[2021-03-29 14:54] ffilz commented on #701
Did df hang or simply show nothing? df doesn't normally stop showing a mounted filesystem, if the server isn't available, df may hang depending on how the NFS mount was done (hard/soft/intr settings) so maybe something else umounted the NFS mount?

[2021-03-29 14:57] ffilz commented on #692
Ganesha has no way to export a file as a filesystem. I suppose it could export the directory containing the file and the client could mount the filesystem but I would not trust NFS to properly handle all the block I/O for filesystem operations, though you might get away with it if only a single client was mounting the filesystem.

[2021-03-29 15:00] ffilz commented on #697
Closing as resolved

[2021-03-29 15:01] ffilz commented on #698
Which README? Is this an Ubuntu specific question?

[2021-03-29 21:29] werdnum commented on #698
This page https://github.com/nfs-ganesha/nfs-ganesha/wiki#Documentation

On Tue, 30 Mar 2021, 02:02 Frank Filz, ***@***.***> wrote:

[2021-03-30 02:02] lnsyyj commented on #701
Use df to view but the mount point is not displayed, and then the nfs mount point cannot write data.

When I set `setfattr -n ceph.quota.max_bytes -v 0 /ceph-fuse/nfstest/`  , df looks at the mount point and it is normal. Can nfs-ganesha support ceph.quota.max_bytes?

[2021-03-30 02:19] lnsyyj commented on #701
When I use strace tracking system call `strace df -Th`

Set `setfattr -n ceph.quota.max_bytes -v 0 /ceph-fuse/nfstest/`
[code]

Set `setfattr -n ceph.quota.max_bytes -v 40960 /ceph-fuse/nfstest/`
[code]

f_blocks, f_bfree, f_bavail return differently, will it be related to this?

In nfs-ganesha `static fsal_status_t get_fs_dynamic_info`, this value vfs_st is returned by ceph, `rc = ceph_ll_statfs(

[2021-03-30 03:51] lnsyyj commented on #701
Thank you, the problem has been solved. The value I set is too small, and the quota must be greater than 4M.

[2021-03-30 12:12] dang commented on #692
RBD would be a much better solution if you want to export a file and mount it on the client.

[2021-03-30 13:55] ffilz commented on #698
I wouldn't want to point to some downstream documentation that may be out of date with the current supported versions.

This works but would be the latest development branch documentation:

https://github.com/nfs-ganesha/nfs-ganesha/blob/next/src/doc/man/ganesha-config.rst

We could point to that document for the various supported versions.

Or we could point to the directory since the linking bet

[2021-03-30 13:56] ffilz commented on #701
Closing as resolved.

[2021-03-30 13:56] #701 closed, assigned to nobody

[2021-03-31 02:55] lpstudy commented on #700
@agin719 In ganesha.conf, there is a config called `Attr_Expiration_Time = 0, maybe you can try it?
`

[2021-03-31 02:56] lpstudy commented on #700
for ls cache, set `Dir_Chunk = 0`, do not cache the `ls` results in dir_chunk structs.

[2021-03-31 02:59] agin719 commented on #700
Thank you, I have set Attr_Expiration_Time = 0, and it work for me.

[2021-03-31 02:59] #700 closed, assigned to nobody

[2021-03-31 03:09] lpstudy commented on #377
@ffilz In fact, we found memory oom problem. We found that it is because the mdcache_entries is larger than the Entries_HWMark.

Here is the values of `lru_state`

[code]

We can see that even though we set entries_hiwat = 10, but entries_used  is 265470 and it is still increasing.  I gdb the process and found that `lru = lru_reap_impl(LRU_ENTRY_L1)` in `static inline mdcache_lru_t * lru_try_reap_

[2021-03-31 04:38] lpstudy opened #702 "mdcache_lru can't reuse the mdcache_entry, even over the `Entries_HWMark` and set `Dir_Chunk = 0` and out of memory"
This is our lru_state, we have disabled the cache in ganesha.conf
[code]

**lru_state**
[code]

We can see that `chunks_used = 0`, which won't hold the reference for mdcache_entry_t. But `lru_try_reap_entry` always return `NULL` in our case, so always alloc a new entry rather than reusing the refcnt ==2 entries in the lru. The result is `entries_used = 265470`, which is extremely larger than `entr

[2021-03-31 04:40] lpstudy commented on #702
We use the ganesha version:
[code]

[2021-03-31 12:46] dang commented on #377
You might want to try newer Ganesha.  We've made the reaping more aggressive over the years.

[2021-03-31 12:49] dang commented on #702
You should *not* use Entries_HWMark = 0 (and, in fact, we should not allow it).  This does not disable the handle cache, as it cannot be disabled.  It's required for proper operation of Ganesha.

You might want to upgrade to a newer version.  V2-dev.22 added code to make the LRU more aggressive in re-using entries.

[2021-03-31 12:49] lpstudy commented on #377
@dang I am using V4-dev.18 64f0146c0c30a5fa9b7f34324d9238d7fbfc2624，which is newer enough.
And we also cherry-pick the latest bugfixs.

[2021-03-31 12:52] lpstudy commented on #702
@dang I set Entries_HWMark=100, however the entries_used in lru_state is "entries_used = 265470, "
We have cherry-pick the mdcache release fix.

[2021-03-31 13:00] dang commented on #702
Sure, entries_used can go above your high-water mark, if there's client pressure.  The high-water is not a limit, it's a point at which we start re-using entries.

There may be a refcount issue here, although I'm not aware of any at the moment.  Debugging refcount bugs is quite a problem, especially in an active system.  Can you try to get a reproducer, maybe?

(Note that Entries_HWMark=100 will s

[2021-03-31 13:02] lpstudy commented on #702
To be honest, I do not know how to reproduce it. It only occurs when our cluster are experiencing a larger workload. During our daily test, we can not produce it.  Maybe you can give some suggestion on how to debug it ?

[2021-03-31 13:23] Unterstrichmoepunterstrich opened #703 "Export of BTRFS subvolumes not possible"
**SUMMERY**
I try to get NFS-Ganesha running on BTRFS. I can't export a BTRFS subvolumes via NFS.

**ISSUE TYPE**
* Bug Report

**OS**

1.  Debian 10, kernel: 4.19.0, nfs-ganesha 3.3-4
2. Ubuntu 20.4, kernel: 5.4.0, nfs-ganesha 3.5-ubuntu1~focal1 from a [ppa](https://launchpad.net/~nfs-ganesha)

**STEPS TO REPRODUCE**

_On the server with the name files, was  this small test setup made_

[code]

U

[2021-03-31 14:24] kalebskeithley commented on #703
I have no problem exporting btrfs volumes:

On my hirsute box (don't know why I picked hirsute, for some reason I was thinking it was zfs, not btrfs :-))
%mount
...
/dev/sda1 on /btrfs type btrfs (rw,relatime,space_cache,subvolid=5,subvol=/)
...

my /etc/ganesha/ganesha.conf:
EXPORT
{
	# Export Id (mandatory, each EXPORT must have a unique Export_Id)
	Export_Id = 99;

	# Exported path (mandatory)

[2021-03-31 14:43] ffilz commented on #703
What is in the Ganesha log? I suspect the problem is that Ganesha is expecting the subvolume to show up in the mount list. If it doesn't then Ganesha (with current code) is stuck. It knows there is a filesystem boundary because st_dev has changed, but if it can't find a mount entry it gets confused. Even without debug logging, there should be INFO and CRIT messages that highlight the issue.

If th

[2021-03-31 14:58] ffilz commented on #377
Reopening for now.

[2021-03-31 23:31] ffilz commented on #703
BTW, I have recreated this, now to try and fix it...

I already had a btrfs filesystem and export (just not activated)...

[2021-04-01 11:28] Unterstrichmoepunterstrich commented on #703
I was reading your discussion in IRC about creating a `BTRFS_FSAL` and want to give  you some hints.
The idea is, to create  each 15 minutes a snapshot, so I can do easy rollback, when it's nessecary. The problem with BTRFS and Ganesha is, that everything is a subvolume. So when I want to  mount via nfs {my last,a} snapshot, I have to extend the `ganesha.conf`:

[code]

Maybe Ganesha should genera

[2021-04-01 12:42] dang commented on #702
Debugging refcount bugs is hard.  What I've done in the past is find a workload that reproduces, and then turn on LTTng tracing of refcounts, and runt he workload.  I then have to analyze the traces to find a handle that leaks it's refcount, and find all the uses of that handle in the trace, and figure out where the missing deref is.

Like I said, it's a pain in the butt.  You may be able to run w

[2021-04-01 14:14] ffilz commented on #703
We won't actually need to generate an export, we just need to populate discovered filesystems without relying on the mount table. It actually shouldn't be too hard. My recreate showed the messages I was expecting based on the code, so my understanding looks good.

I think we can actually make things more responsive because instead of scanning the mount table when we discover a new filesystem we wi

[2021-04-02 15:52] ffilz commented on #703
I'm looking at how to use libbtrfsutil to scan for subvols at the time we scan the mount table which should make subvols then work the same as mounted filesystems including being able to be "discovered" after creation.

[2021-04-05 18:17] seanfulton commented on #687
Sorry it took so long to get back to you. The cluster is in production and I did NOT have the domain set in idmapd.conf. So I set it, and rebooted the NFS server. I set it on the client and remounted the drive. When I copied /dev/null to the nfs-mounted drive as root, the perms were 4294967294.4294967294. The file should be owned by root.root.

Also, non-root users are working correctly, and the u

[2021-04-05 20:18] ffilz commented on #703
I have added support for btrfs subvols in this patch:

https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/514026

That may also depend on:

https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/514025

So probably best to take both.

Basically we add "filesystem" entries for each subvol.

And this is done without the need for FSAL_BTRFS.

To use this, btrfsutils must be installed so libbtrfsutil is ava

[2021-04-05 20:22] ffilz commented on #687
Hmm, something is still missing. Take a wireshark trace and check how the root owner is being sent to the client.

Are you sure you have no_root_squash set on the export?

[2021-04-05 21:40] seanfulton commented on #687
The /etc/exports file that I have does not list these entries (it is old and should be removed).  But I have this set in my ganesha config. Do I need to use /etc/exports as well?
Access_type = RW;                           # Access permissions
Squash = No_root_squash;                    # To enable/disable root squashing
Disable_ACL = FALSE;                        # To enable/disable ACL
Pseudo =

[2021-04-05 22:48] ffilz commented on #687
No /etc/exports is for knfsd only. At this point, we need to look at tcp (tcpdump/wireshark) trace to determine what owner values are coming from Ganesha. If you can post a snippet that would be great, otherwise try and trace just the operation of creating and listing a single file or the contents of a small directory. We can then look at the owner attribute strings in the READDIR or GETATTR respo

[2021-04-05 23:09] seanfulton commented on #687
So this is strange. On the server/bricks, ownership is correct: root. I edited /etc/idmapd.conf on three machines, the ganesha server, and two clients. Initially, both clients see the "ftp" folder as owned by -2. I chown the folder root.root on client 1, and it stays across remounts (appears to be owned by root).. But on client 2, the same folder still appears as owned by -2.

in /etc/idmapd.conf

[2021-04-05 23:15] seanfulton commented on #687
I think I have figured this out, although it might warrant a note in the docs:
configuring the domain name in /etc/idmapd.conf is not enough. Even thought I had it set on all three nodes above, it failed. You have to make sure that domainname returns the correct domain name. Mine was unset. As soon as I set it, root appeared correctly.

[2021-04-05 23:20] ffilz commented on #687
Ah, yes, if you are using NIS you presumably need that configured properly also.

[2021-04-05 23:27] seanfulton commented on #687
Thanks for all your help!

sean

On 4/5/21 19:20, Frank Filz wrote:

--
Sean Fulton
Vice President
ONEcount
203.665.6211, x5203
https://www.one-count.com

[2021-04-05 23:37] ffilz commented on #687
Our documentation of idmapping probably needs improvement, but I'm not sure how to cover NIS. Did you set domainname the same as the domain in idmap.conf?

[2021-04-06 10:31] seanfulton commented on #687
Yes.  I was reading something somewhere and it said idmapd.conf should match the return of domainname. That’s when I realized I only had a host name in /etc/hosts. I added the FQDN and it started to work. I didn’t have to do that with nfs3.

Sent from my iPhone

[2021-04-06 13:17] dspisla commented on #697
Hello Ganesha Community, its me again.
One more question to this issue:

Does anybody of you know what are the related fixes e.g. having a list of them or something else?
We consider to backport them to ganesha 2.7.6 and build own custom RPMs

[2021-04-06 13:34] dang commented on #697
We don't keep lists of commits by feature, sorry.  You'd have to go through the commit logs.  All the relevant commits would have changes in src/FSAL/Stackable_FSALs/FSAL_MDCACHE/, and they all should have "readdir" or "dirent" somewhere in the commit message.

[2021-04-06 18:38] ffilz commented on #697
What may be of some help the documents I maintain that track what has been back ported:

Backports to V2.7.x: https://docs.google.com/document/d/16AlBZbKyFysydq5qxnLpRhQJ4nSO8pFu56DDFfsRoM4/edit?usp=sharing
Backports to V2.8.x: https://docs.google.com/document/d/1vRrk-JFtUdU4b234hnv0npVqnKI8BTqUWGz5IHcxt0g/edit?usp=sharing
Backports to V3.x: https://docs.google.com/document/d/1WfyuJYajW3ECAUEuwXcN

[2021-04-06 21:00] ffilz commented on #697
re-opening since ongoing discussion...

[2021-04-06 23:37] ffilz commented on #647
I have submitted a patch to update some man pages to clarify this. Additionally, I have pointed the wiki at the man pages from the next branch.

[2021-04-07 09:34] dspisla commented on #697
Thanks for the hints. It makes it easier to search

[2021-04-07 19:40] ffilz commented on #526
xattr support has been added to CEPH, it still could be done for VFS if someone wanted to pick that up

[2021-04-07 20:49] ffilz commented on #543
See patch https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/514184

[2021-04-07 22:58] ffilz commented on #569
This is addressed by https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/514191

However, we may want to consider converting the sysadmin visible things (dbus, logging, and config) to mdcache.

@dang @kalebskeithley Any thoughts?

[2021-04-07 23:19] ffilz commented on #499
With some recent performance testing for FSAL_CEPH there may be energy to work on this.

[2021-04-07 23:22] ffilz commented on #650
Resolved in https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/514025

[2021-04-07 23:22] #650 closed, assigned to nobody

[2021-04-07 23:25] ffilz commented on #695
Is this still an issue? If so, please post a wireshark trace to help debug the issue.

[2021-04-08 17:29] boulos commented on #517
Fwiw, this is/was actually the "Srv_Addr only accepts IP addresses" issue (config doesn't have a hostname/IP option, just IP address). The error happens at startup. E.g., with PROXY_V4 in a recent tree:

Apr  8 17:22:00 nfs-ganesha[26646]: [main] config_errs_to_log :CONFIG :CRIT :Config File (/etc/ganesha/proxyv3_ganesha.conf:32): Expected an IP address, got a option name or number

The regular li

[2021-04-08 17:37] dang commented on #569
Config has been handled, sort of.  There's duplicate CACHE_INODE and MDCACHE blocks, and the cache_inode one is deprecated since 2.8.  So we can technically remove it at any time.

Logging we should fix.

DBUS we should also fix, but if we can we should do the duplicate+deprecate thing.  (I don't know if that's possible in DBUS)

[2021-04-10 16:02] darkl0rd commented on #695
I'm satisfied with the solution you provided (using numeric id's). If you would like to get to the bottom of this, I can reproduce and provide a dump - let me know, otherwise feel free to close.

[2021-04-13 15:46] lpstudy opened #704 "Bother how to forbid to mount the root directory."
We have tries the sub directory mount mode. That is, we use the following command to mount one sub directory (ie. **dir1**) of the filesystem to **/mnt/nfs**.
[code]

In this case, one sub direcotry will server one user. Different users use different sub directories. And we want to forbit to mount the root direcotry of the file system. I do not know how to achieve this.
[code]

[2021-04-13 17:35] ffilz commented on #704
How are your users distinguished? Are they different clients, or just different user credentials (if so, what security flavor do you use)?

If the users are different clients, you could have an export per user with a CLIENT block limiting access.

If the users are distinguished primarily by different credentials, the best you can do is set up permissions for each directory.

For NFSv4, the client

[2021-04-13 17:36] ffilz commented on #695
If you can re-create and provide a tcpdump, I would be interested in understanding what is going on, if only to document it if it's something expected.

[2021-04-13 17:37] ffilz opened #705 "Remove deprecated CACHE_INODE config block"
We have been using the MDCACHE config block for some time, it would be OK to remove this.

[2021-04-13 17:40] ffilz opened #706 "Deprecate CACHE_INODE in logging"
We need an overlap period where CACHE_INODE is still supported, but we should move to MDCACHE.

The code enum could change immediately. The log output maybe could change from INODE to MDCACHE?

[2021-04-13 17:42] ffilz opened #707 "Deprecate cache inode in dbus in favor of mdcache"
The dbus interface should move to using mdcache labeling. An overlap period where both cache_inode and mdcache are supported should be allowed.

This would include any cache control and presentation in statistics collection.

[2021-04-13 17:42] ffilz commented on #569
New issues opened for the other bits. Closing this as resolved.

[2021-04-13 17:42] #569 closed, assigned to nobody

[2021-04-15 10:12] xuxlz opened #708 "Unexpected value when tested with nfstest"
When I use nfstest to test mounted folder,  I get some unexpected results. They make me confused.

My environment:
CentOS Linux release 7.4
nfs-ganesha version V4-dev.54
nfs-ganesha(with MEM/VFS config) runs on a machine and mounted on another machine

Test 1:
Set Squash = None, use root identity. Test write without write access. Unexpected write success. Look up in fsal_check_access_no_acl functi

[2021-04-15 11:34] readerx commented on #668
Is there any more information you need? Can I help

@boulos

[2021-04-15 13:49] dang commented on #708
For test 1, this is how permissions work in the POSIX and POSIX-like world.  Root has read/write access to everything.  If you want to be able to restrict root access, you need to use something like SELinux.

For test 2, this likely means that your idmapd is not configured correctly on the client and server.  You need to have the same domain configured in both, and DNS has to resolve to that domai

[2021-04-16 12:19] Unterstrichmoepunterstrich commented on #703
@ffilz thank you for the fast reply.
I want to build a test package to verify, if the problem is solved.

I started with package Version 3.3-4 from the nfs-ganesha repository and used nfs-ganesha Version 3.4-1~bpo10+2 from Buster Backports. Basicly my idea was, to put the patches below into `/debian/patches` directory and build a new package.
To verify, if its possible to use these patch on these

[2021-04-19 13:53] lokendrarathour commented on #111
hello team, any update on the issue as above,i am also facing the same issue in centos 8.
root@localhost build]# make
[  1%] Building C object MainNFSD/CMakeFiles/MainServices.dir/nfs_admin_thread.c.o
In file included from /root/nfs-ganesha/src/include/nfs4.h:5,
                 from /root/nfs-ganesha/src/include/fsal_pnfs.h:37,
                 from /root/nfs-ganesha/src/include/sal_data.h:50,

[2021-04-19 13:55] dang commented on #111
xdr_inline.h is part of ntirpc, which is a sub-module of Ganesha.  You need to run the command in the previous comment:

git submodule update --init --recursive

[2021-04-19 16:21] lokendrarathour commented on #111
Yes Daniel,
Thanku so much for your inputs.
 It did work !!

Best regards,
Lokendra

On Mon, 19 Apr 2021, 19:26 Daniel Gryniewicz, ***@***.***>
wrote:

[2021-04-20 10:09] dspisla commented on #697
After doing some researches and discussions we decided to switch to the latest **ganesha version (v3.5)**.
But unfortunatly for SLES15SP2 there are no such RPMs available, only v3.0 Community packages available for SLES15SP1:
https://download.opensuse.org/repositories/home:/nfs-ganesha:/SLES15SP1-nfs-ganesha-3/SLE_15_SP1/x86_64/

Is there a way to get the proper community packages? If not, we woul

[2021-04-21 15:13] dspisla commented on #697
I have contacted @kalebskeithley  . In the next few days the update of the packages in OBS will happen

[2021-04-22 20:22] yogendra-t opened #709 "ls command slow under high workload"
ls slow/stuck while running the fio workload on nfs mount.

Steps:
1. Create 32k files in a nfs mount. (used defalut flags to mount using nfsv3 on RHEL client)
2. Run fio workload on the nfs mount from one terminal (fio command used: fio -filename=./test_randread -rw=write -direct=1 -bs=512K -size=32G -numjobs=15 -runtime=6000 -group_reporting -name=mytest)
3.  From different termianl run ls comma

[2021-04-22 20:24] ffilz commented on #709
Fix posted for review: https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/514964

[2021-04-26 06:37] #695 closed, assigned to nobody

[2021-04-26 11:42] Unterstrichmoepunterstrich opened #710 "wrong install target"
**OS**

Debian Buster + Backports

**ISSUE TYPE**
- improvement

**STEPS TO REPRODUCE**

1. download the source package for NFS Ganesha 3.5. You need the `debian` directory and all dependencies.
2. replace `src` with the content of V4-dev.58
3. start to build a Debian package with `dpkg-buildpackage -rfakeroot -b`

**WHAT HAPPEND**

After compiling the install target fails. `nfs-ganesha-proxy.inst

[2021-04-26 13:07] dang commented on #710
Yeah, not surprising.  V4 splits FSAL_PROXY into two separate FSALs, one for V3 and one for V4, so packaging needs to be updated.

[2021-04-26 13:33] Unterstrichmoepunterstrich commented on #703
Hello @ffilz and @kalebskeithley

I build a package from the latest patch and installed only the packages `nfs-ganesha` and `nfs-ganesha-vfs:amd64` on my test VM. I attach the file from `debian/control`(see [file here](https://gist.github.com/Unterstrichmoepunterstrich/bc6eaa9275db9d434ca27195dd1268d9) I just removed `libntirpc3` and replaced it with `libntirpc3.4`.
On my test VM is a segfault and

[2021-04-26 13:36] kalebskeithley commented on #710
Noted for when we release V4.

(The correct place for this is really https://github.com/nfs-ganesha/nfs-ganesha-debian/issues)

[2021-04-26 14:44] ffilz commented on #703
Do you have a back trace for the segfault?

[2021-04-26 15:22] Unterstrichmoepunterstrich commented on #703
how can i trigger it to give you the information you need?

[2021-04-26 17:50] ffilz commented on #703
Run Ganesha under gdb, either attaching to an already running process or starting Ganesha from gdb. Make sure to install the debug package so the back trace has symbols. Then when the segfault hits, issue the "bt" command and post the result.

[2021-04-27 10:15] Unterstrichmoepunterstrich commented on #703
@ffilz see here the [backtrace with gdb](https://gist.github.com/Unterstrichmoepunterstrich/1462f375b9845a728e4c8a1603439c09) and the output from [strace](https://gist.github.com/Unterstrichmoepunterstrich/0f2ecc45a0c38ff3a6d46fc9ea8b1102). The dbgsym package for nfs-ganesha-vfs is installed.

[2021-04-27 18:42] ffilz commented on #703
Hmm, can you get a back trace with line numbers? Not sure if you need the source installed or what. Or maybe you need to build Ganesha with more debug.

Thanks

Frank

[2021-04-27 20:14] Unterstrichmoepunterstrich commented on #703
I can try it @ffilz, but tbo I'm not very experienced with CMake/cc flags. Can you give me a pointer, where I have to add some debug flags?

moep

[2021-04-27 23:07] ffilz commented on #703
This is the script I use to do builds:

cmake ./ -DDEBUG_SYMS=ON -DCMAKE_PREFIX_PATH=/usr/ -DCMAKE_BUILD_TYPE=Maintainer \
	-DDEBUG_SAL=ON -DUSE_GUI_ADMIN_TOOLS=OFF -DPROXY_HANDLE_MAPPING=ON \
	-DSANITIZE_ADDRESS=ON -DUSE_DBUS=ON -DUSE_FSAL_XFS=ON \
	-DUSE_TOOL_MULTILOCK=ON -DUSE_CB_SIMULATOR=ON -DUSE_SYSTEM_NTIRPC=yes && \
make install

You probably only need:

cmake ./ -DDEBUG_SYMS=ON -DCMAKE_PR

[2021-04-30 04:08] zs0723 opened #711 "delete snapshots is still in cache (FSAL_CEPH)"
How to reproduce:
1. create snapshot by ceph command
2. access the snapshot in nfs client, we can check if the snapshot has been accessed by nfs client:
[code]
3. delete snapshot by ceph command
4. ls -ltr .snap
The snapshot6 is not listed in .snap directory
5. access the snapshot6 manually
cd .snap/snapshot6  this command success
6. check fuse client cache the snapshot exists
  ceph daemon dump_c

[2021-04-30 12:51] dang commented on #711
2 issues here, I think.  First, ganesha caches metadata for (by default) 60 seconds, so unless Ceph sends an UP-call to notify of the snapshot's deletion, Ganesha will still make metadata (although not data) available for 60 seconds.  Second, libcephfs has it's own caches for metadata and data, which are not under Ganesha's control in any way.  I'm not sure what the timescales are for that.

[2021-04-30 13:42] zs0723 commented on #711
yes, after 60 seconds. we can not see the deleted snapshot under .snap directory. we still can stat the deleted snapshot
[code]

[2021-04-30 13:58] dang commented on #711
That has to be a libcephfs caching issue, then, because after 60 seconds, the metadata returned by stat in Ganesha is gone, and the next stat will call into libcephfs.  It should, at that point, return ESTALE.  @jtlayton Ideas?

[2021-04-30 14:37] jtlayton commented on #711
Not right offhand. It does sound like a libcephfs issue, but it might be good to collect some NIV_DEBUG level output from ganesha and verify that it called down into libcephfs when it went to do the lookup of snapshot999.

Assuming it did though, then it sounds like the ceph client didn't get the memo that that snapshot had been deleted. You may want to open a tracker ticket at https://tracker.cep

[2021-05-01 14:19] zs0723 commented on #711
Checked the logs, it seems the issue related to  ganesha mdcache or export object ?
Check libcephfs logs, the client got error no -2 when lookup deleted snapshot object.
[code]
Checked ganesha log, it responded the error:
[code]
More informations:
When we visited the snapshot directory,  NFS client will have a new mount point, does the new mount point cause trigger the issue ?
[code]

[2021-05-03 13:01] jtlayton commented on #711
I wonder if this is just a case of the client caching a dentry beyond the point that you are expecting. Note that the default acdirmin= mount option is 30s. A cached dentry can live for quite a while before the client notices that it's gone. You may want to look at the NFS traffic between client and server and determine whether there are any actual on the wire lookups after the snapshot dir is unl

[2021-05-03 13:28] PopiBrossard commented on #699
Hi,
Any news about my question ?
Thanks

[2021-05-04 11:03] dspisla commented on #697
@kalebskeithley  Thanks for the RPM packages.

For us this solves the issues here

[2021-05-04 11:03] #697 closed, assigned to kalebskeithley

[2021-05-07 04:32] Davidrjx commented on #613
i met with similar  problem about access mount as containerd Ganesha-NFS using EFS filesystem, logs resembles the following
[code]
anybody any ideas?

[2021-05-07 15:14] ffilz commented on #613
So your problem (and this may be what is causing the problem with proxy) is that the EFS handle is large and that is causing an overflow of the 64 byte handle limit Ganesha uses (so that it can be compatible with NFSv3). See this message:

06/05/2021 08:25:57 : epoch 6093a815 : test-nfs-764-nfsoverrbd-deployment-5f8dc5fc5b-n5nxq : ganesha.nfsd-6[main] vfs_lookup_path :FSAL :CRIT :Could not get han

[2021-05-07 15:15] ffilz commented on #613
BTW, if you are only using NFSv4 for exports, you should put Protocols = 3 into your NFS_CORE_PARAM block, that will prevent Ganesha from opening ports for NFSv3 (also 9P may be enabled by default).

[2021-05-10 03:26] Davidrjx commented on #613
@ffilz thanks,  and i will make a trail but i do not well understand  Ganesha NFS details especially  Ganesha FSAL_VFS handle.
As you suggested, is that ok whether only valid size of handles is setup?  and also "FSID_Type = device" option is for the case?

[2021-05-11 17:33] ffilz commented on #613
I'd just try FSID_Type = device and see if that works.

[2021-05-11 17:40] ffilz commented on #613
Oops, you might want to take a look at this:

https://patchwork.kernel.org/project/linux-fsdevel/patch/151297224519.7818.13340308932067502368.stgit@noble/

Apparently EFS uses a very large handle. If that can't be addressed then EFS will be unexportable by Ganesha without using PROXY_V4 and handle mapping.

[2021-05-12 05:35] Davidrjx commented on #613
@ffilz hi, with DEBUG level on, more log message can be seen as follows
[code]
where contextual line "vfs_map_name_to_handle_at :FSAL :DEBUG :Error Value too large for defined data type (75) bytes = 144" seems nothing with real EFS fs handle, so not sure how to adapt valid value on ganesha-nfs.
Except that,  setup "FSID_Type = device;" seems not working as a result business container reports same

[2021-05-12 05:40] Davidrjx commented on #613
so EFS has a 128 bytes , exactly larger than MAX_HANDLE_SZ(75bytes) in ganesha-nfs. however, patch updating its size to 200 looks consistent with  maxfilesize in FSAL PSEUDO. so it should has been merged into containerized system i think.

[2021-05-12 14:29] ffilz commented on #613
With EFS handles being 128 bytes, it will not work with FSAL_VFS. FSAL_VFS/Ganesha needs some extra room for handle wrapping. 128 bytes would never fit in the 64 byte NFSv3 handle, and completely uses the space in the 128 byte NFSv4 handle without leaving any room to even add something to distinguish the EFS handle from any other export's handle.

I'm afraid the only way to export EFS from Ganesha

[2021-05-12 14:47] dang commented on #613
It would be possible, if someone is interested, to add some kind of mapping in FSAL_VFS between Ganesha handles and underlying FS handles.  This would allow arbitrary sized FS handles.  However, this code does not exist right now.

[2021-05-12 23:01] ffilz commented on #613
That would be best in a stackable FSAL, PROXY and possibly other FSALs need it too.

Actually, that's what the old POSIX FSAL sort of did, well, it mapped a made up handle to a file path.

The problem is the mapping needs to be persisted somehow.

The magic of FSAL_VFS was hooking into open_by_handle and name_to_handle_at so that there was no need to map handles or have a handle database of any so

[2021-05-13 11:28] waterdyg opened #712 "FD Hard Limit Exceeded，lru_run canot close any fd，return 10008 to all client open op"
Hi!

run vdbench a few seconds, IO is 0,  only restart ganesha can come back to normal.

----------analysis---------
1.modify ulimit to 65536 or per_lane_work to 200 , only cloud run longer before return 10008 error, then also exceed Hard Limit.
2.after exceed hard limit, gdb attach ganesha, see all LRU L1 lane q is empty.
3.only shared=yes take error. when share=yes and only one dir for vdbench,

[2021-05-13 13:45] dang commented on #712
Please upgrade to 3.5.  There have been several fixes to LRU processing that should help with these issues.

[2021-05-14 02:36] waterdyg commented on #712
Thanks， but issues still exist after upgrade to 3.5.

[2021-05-19 10:03] r-deshmukh commented on #528
Adding -DUSE_FSAL_GPFS=OFF while doing cmake solves this problem (as workaround). But off course one do not want/using gpfs fsal.

[2021-05-20 13:07] bjorn-fischer opened #713 "dbus ShowExports still broken in V4-dev.59"
Even after 086f45cc6740e48b7f269836670a017d723bc137 _dbus/export: fix ShowExports not work_ __ShowExports__ still does not work in my case:
[code]
I use Perl __Net::DBus__ to access the dbus interface, and I always get this decoding error:
[code]
V4-dev.46 does not have this issue.

[2021-05-20 13:23] dang commented on #713
Looks it was broken with NFSv3 off, and now it's broken with it on.  This change did it:
086f45cc6740e48b7f269836670a017d723bc137

[2021-05-20 13:46] bjorn-fischer commented on #713
Well yes, I already referenced that commit.

Seems like `export_show_exports.args` lacks the _NLM status_ resulting in one `b` gone missing. And the buffer `char export_contents[16];` is one byte too small.

[2021-05-20 18:37] bjorn-fischer commented on #713
I tried this:
[code]
...but it still does not work.

But if I replace the introspection struct with an opaque single arg ```.type = "a(qsbbbbbbbb(tt))"``` it works for _my case_. Seems like something is wrong with the assembly of the introspection structure.

BTW: While looking into this, I asked myself: Is it wise to have a changing dbus API across different compile time options? Shouldn't the db

[2021-05-21 09:08] bjorn-fischer commented on #713
<ins>Digging deeper:</ins> Using the dbus introspection interface, one can see what ```/org/ganesha/nfsd/ExportMgr``` replies to ```org.freedesktop.DBus.Introspectable.Introspect```...

This was prior to 086f45cc6740e48b7f269836670a017d723bc137:
[code]
And this is how it looks after 086f45cc6740e48b7f269836670a017d723bc137:
[code]
While the concatenated type sequences are the same, ```(``` and ```

[2021-05-21 14:45] ffilz commented on #713
Hmm, so two thoughts. One, the format being always the same has appeal, on the other hand, we are starting to see more and more NFSv4 only setups which ideally shouldn't see any reference to v3...

Let's get it working correctly with the conditional compile differences and then give some more thought.

Could you submit a patch?

[2021-05-21 18:53] bjorn-fischer commented on #713
Well, ok then. I'd like to move the type string assembly into the cpp phase as compile time options should not evoke runtime computation unless really necessary. The diff is barely readable, so here is the plain code. If this looks ok, I'll prepare a gerrithub submission.
[code]

[2021-05-21 20:57] ffilz commented on #713
Yea, that looks good.

[2021-05-22 08:12] bjorn-fischer commented on #713
Ok, commit 1e5449d2e917e5fc8424876887dd26871a5dcd05 is on gerrithub. A build with 9P support disabled seems to work fine.

PS: github has freaked me out again, referencing a gerrithub commit by its SHA just works...

[2021-05-26 09:41] rakesh-roshan opened #714 "readdir got slower in 3.5"
I am upgrading my NFS Ganesha server from 2.7.6 to 3.5. I am using a custom FSAL.
After the upgrade, the `readdir` command is very slow. For the test setup, I am listing a directory with 1 million files.

The results are,
| NFS Version | Ganesha 2.7.6 | Ganesha 3.5 |
| ----------- | ------------- | ----------- |
| 3           | 2m 43s        | 4m 52s      |
| 4           | 5m 33s        | 29m 30s

[2021-05-27 18:17] ffilz commented on #714
Where did you get those response sizes from?

[2021-05-27 20:03] rakesh-roshan commented on #714
I get that information from the log that is coming from the [nfs4_Compound.c#L724](https://github.com/nfs-ganesha/nfs-ganesha/blob/ff0401165d7fcdccb494431effc007be657ac68c/src/Protocols/NFS/nfs4_Compound.c#L724)

[2021-05-27 21:16] ffilz commented on #714
OK, we might need to enable debug logging for READDIR:

LOG {
    COMPONENTS {
        READDIR = FULL_DEBUG;
    }
}

And then do a readdir of a a modest sized directory. Let's see what's going on.

[2021-05-28 08:40] bjorn-fischer commented on #713
Fixed in __V4-dev.61__. Tested with feature sets
[code]
and
[code]

[2021-05-28 08:40] #713 closed, assigned to nobody

[2021-05-28 14:14] rakesh-roshan commented on #714
Do you want the full log? Or is there something that I should look for in the log?

[2021-05-29 11:10] rakesh-roshan commented on #714
From the log what I found different from the 2.7.6 is the value of `whence`. In 2.7.6 if the readdir call is returning last cookie as 100, then, the next whence is 98. Only 2 entries behind. While in 3.5, the whence call goes back by almost 60.  E.g. in my case, a readdir read to value 100172 but, next call by client was with whence 100106. So for 66 entries the information was read again. Another

[2021-06-03 19:32] rakesh-roshan commented on #714
Actual the issue was in the custom FSAL that I am using. It has ATTR_ACL in the support attributes list but it was not being set. The  bug was always there, it got exposed by the commit https://github.com/nfs-ganesha/nfs-ganesha/commit/97da49bda9adb23e1c0c081c417e2ad959ebafb0. In the commit, a validation was added. So this mismatch between the supported attributes and attributes being set by the F

[2021-06-03 19:32] #714 closed, assigned to nobody

[2021-06-03 22:56] ffilz commented on #714
Glad you were able to resolve the issue.

[2021-06-07 01:22] chenxi10273450 opened #715 "Coverity and Klocwork scan security problem"
I did klocwork and coverity scan for nfs-ganesha,the attach files are the scan result.the version is 2.7.6,i hope there is someone to help solve these problem
[nfs-ganesha-2.7.6.zip](https://github.com/nfs-ganesha/nfs-ganesha/files/6605320/nfs-ganesha-2.7.6.zip)

[2021-06-07 01:35] chenxi10273450 opened #716 "security problem"
I did klocwork and coverity scan for nfs-ganesha,the attach files are the scan result.the version is 3.3,i hope there is someone to help solve these problem
[nfs-ganesha-3.3.zip](https://github.com/nfs-ganesha/nfs-ganesha/files/6605355/nfs-ganesha-3.3.zip)

[2021-06-07 14:08] dang commented on #715
2.7 is end of life, so we're not accepting fixes to it.

[2021-06-07 14:08] #715 closed, assigned to nobody

[2021-06-07 23:37] ffilz commented on #716
Could you describe the security problem in some detail? I'm not exactly thrilled about opening an unknown zip file.

[2021-06-08 03:19] #708 closed, assigned to nobody

[2021-06-08 04:27] xuxlz opened #717 "Questions about using nfs_dupreq"
Ganesha checks duplicate request by using rbtree_x_cached_lookup ( RPCAL/nfs_dupreq.c ).  The input parameters (the search key? ) "dk->hk" is equal to "req->rq_cksum" （the hash value of the request package).

What scenes are nfs_dupreq designed for?

When I try to test duplicate request, I get confused. My steps are as follows：
1. Nfs client send requests (Link operation)
2. Ganesha crush down wit

[2021-06-08 14:01] dang commented on #717
@mattbenjamin thoughts?

[2021-06-08 14:24] mattbenjamin commented on #717
Hi Folks,

The idea--also followed in other implementations--is to checksum a larger
section of the packet/request than just the xid.  My recollection is
developers at Oracle specifically asking for 200 bytes.

You could look at more of the decoded header fields to see how the
"duplicate" request differs.

Matt

On Tue, Jun 8, 2021 at 10:01 AM Daniel Gryniewicz ***@***.***>
wrote:

--

Matt Benjam

[2021-06-09 07:14] xuxlz commented on #717
Sorry, my negligence caused the mistake.
I checked captured tcp packets again, repeated requests have the same nfs data (shows as follows). They have the same xid and same cksum.
Thank you for your reply.
![image](https://user-images.githubusercontent.com/59353885/121309527-dc833200-c934-11eb-86e7-ab47eb9453cd.png)

[2021-06-09 07:14] #717 closed, assigned to nobody

[2021-06-09 12:49] dang commented on #717
Thanks.  Glad to know we didn't break something.

[2021-06-11 14:26] rakesh-roshan opened #718 "readdir stuck for NFS3 UDP in 3.5"
The `readdir` command is stuck for ganesha 3.5

Ganesha Version: 3.5

Steps:
1. Mounted a path using options `proto=udp,vers=3,nolock,hard`.
2. Ran `ls` command to list a directory on the mount.
3. The `ls` command gets stuck.

Reading a file works well. If I don't list a directory and directory reads a file using its path, it works.

Listing a directory in TCP mode works fine.

From server log, I

[2021-06-13 01:48] boulos commented on #718
There are a couple of UDP / ntirpc fixes that I saw on the mailing list a
little while ago.

Both:

https://github.com/nfs-ganesha/ntirpc/commit/9e1b0c091ce4e6c8f7738797cc83930d4c048943

and:

https://github.com/nfs-ganesha/ntirpc/commit/137fde282212d8725808dd8d9f4da6f8ea163d76

might be relevant here.

How are you building Ganesha? Can you try with an up-to-date libntirpc?

On Fri, Jun 11, 2021 a

[2021-06-13 09:03] rakesh-roshan commented on #718
I am building Ganesha with libntirpc version 3.4. I also tried picking up the above two commits but it didn't help. From the log it seems for TCP version it is creating `ioq_xdr` for the `readdir` response while for UDP it is not. So at the check, in [svc_dg:svc_dg_reply](https://github.com/nfs-ganesha/ntirpc/blob/v3.4/src/svc_dg.c#L406) is failing causing the transport failure. The reason for the

[2021-06-14 08:49] rakesh-roshan commented on #718
The commit message of the above commit is

[code]

So it seems the change targets only `xdr_ioq` that is supposed to be used for only TCP transport. That is not supposed to be for UDP transport. That is causing this issue. Either similar to `xdr_ioq`, a `putbufs` method should be defined in the `xdr_mem` or, While reading directory, the response should be created based on the transport so that old

[2021-06-14 18:06] ffilz commented on #718
Oops...

OK, we need to find a solution.

One option is to implement iovec for xdrmem/UDP, that may not be feasible

Another option is for xdrmem putbufs to copy the data so it basically is the same as putbytes

[2021-06-14 18:12] ffilz commented on #718
See https://github.com/nfs-ganesha/ntirpc/issues/236 for anchor for ntirpc portion of this fix.

[2021-06-14 23:56] ffilz commented on #718
I just submitted ntirpc pull request https://github.com/nfs-ganesha/ntirpc/pull/237 that should resolve this issue by adding xdr_putbufs to xdrmem.

[2021-06-15 20:20] rakesh-roshan commented on #718
I verified with the fix that readdir is working fine after the fix. Thanks for fixing it quickly.

[2021-06-15 21:34] rakesh-roshan commented on #718
I am sorry the readdir is working fine, but file read is failing

[code]

Write is working fine.

[2021-06-15 21:51] ffilz commented on #718
Could you debug more? reading is working for me on next for a v3 UDP mount

[2021-06-15 22:15] rakesh-roshan commented on #718
Yeah I am trying to debug more. Did you write then read or directly read the file? For me when I wrote a file and then read it , it was working fine. I think due to caching. When I unmounted the share and remounted, I wasn't able to read the same file anymore.

[2021-06-15 23:01] ffilz commented on #718
At first I did a write then a read, and then considering possible caching, I did unmount and mount again and was able to cat the file.

Could you try on next?

[2021-06-17 09:04] Liam-program opened #719 "The nfs-ganesha server cannot be accessed for 5 minutes?"
testing scenarios:
There is a ceph cluster to provide file storage services.
There are two storage nodes with nfs service enabled on the ceph cluster.
FSAL {
        Name = CEPH;
     }

The ceph cluster file system has an export directory: /ly5/
The export directory /ly5 is mounted on two clients through different nfs servers.

client 1(101.101.5.103)  --> nfs-ganesha server 1 (101.101.5.26) -->

[2021-06-17 14:05] dang commented on #719
CephFS is a clustered filesystem, and Ganesha is a CephFS client, so the two Ganesha instances are affecting each other through CephFS.  I'm not an expert on CephFS, but I know there are CAPs that clients get that allow read and/or write access to files, and the MDS communicates with the clients to give and take these CAPs.  If the Ganesha that goes down has a CAP that the other Ganesha needs, it

[2021-06-17 23:04] rakesh-roshan commented on #718
I am seeing this difference between the packets for success using 2.7.6 ganesha server and for failure using 3.5 ganesha server with the UDP patch applied.  In case of failure the reply is 2 bytes shorter.

The contents of the file is simple text `hello`

[code]

[2021-06-18 06:43] Liam-program commented on #719
Thank you for your reply. I found the code for this time setting from the reclaim_reset function.
ceph_set_session_timeout(export->cmount, 300);
This time is 300s, and it can not be configured.
How can I flexibly set this time?

[2021-06-18 13:18] dang commented on #719
I don't know, sorry.  I don't know cephfs code well.  @jtlayton ?  Ideas?

[2021-06-18 13:24] jtlayton commented on #719
That is not intended to be modifiable, as it's governing how long the MDS will wait before giving up on the Ceph client that has gone away. The rados_cluster solution is predicated on the idea that a replacement server for any of the heads will quickly be resurrected. If your node goes down and doesn't come back, then this is behaving as expected.

EDIT: If you're doing a planned takedown of one o

[2021-06-18 18:27] rakesh-roshan commented on #718
I think I found the issue,

The issue is at [xdr_nfs23.c](https://github.com/nfs-ganesha/nfs-ganesha/blob/V3.5/src/Protocols/XDR/xdr_nfs23.c#L807).

The code

[code]

The statement `uio->uio_vio[0].vio_length = objp->data.data_len;` seems to be the issue. `size2` is being computed to follow the rule `The size to actually be written must be a multiple of BYTES_PER_XDR_UNIT`. Even the `tail` and `wr

[2021-06-18 18:34] boulos commented on #718
Good catch!

On Fri, Jun 18, 2021 at 11:28 AM Rakesh Roshan ***@***.***>
wrote:

[2021-06-19 14:12] Liam-program commented on #719
Thank you so much, I haven't used this ganesha-rados-grace command. Is there any documentation about the related commands?

[2021-06-19 15:36] jtlayton commented on #719
There are manpages that document the commands, including ganesha-rados-grace, and a sample config in the distribution with comments documenting the settings you'll want for a typical cluster. There are also some blog posts here that describe some of this:

https://jtlayton.wordpress.com/2018/12/10/deploying-an-active-active-nfs-cluster-over-cephfs/

[2021-06-21 21:12] ffilz commented on #718
Oops... My read must have happened to be a multiple of 4 bytes...

Here's the fix on gerrithub: https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/519302

[2021-06-22 12:57] Liam-program commented on #719
I learned about the code for exiting the ganesha service normally, the code has already called the function release().
The function ceph_shutdown(export->cmount) in 'release()' will release CAPS.
So why can't another node get caps?

[2021-06-26 09:45] bom-bahadur commented on #575
Hi Team,

Need your advice on this issue:

We have similar setup/issue.
Initially, I can mount these NFS Exports on NFS Client, however after few hours, some mount can not be mounted (/nfs-test/ictadmin: Permission denied: Permission denied)

##
NFS-Ganesha Release = V3.3

##
Config Snip-it:
##

EXPORT
{
        Export_Id = 1;
        Path = /ictstr01;
        Pseudo = /ictstr01;
        Protocols

[2021-06-28 15:44] ffilz commented on #575
@bom-bahadur this really is a new issue, could you please open a new issue.

[2021-06-28 16:02] bom-bahadur opened #722 "NFS mounts does not retains for some mount, after some time gets /nfs-test/ictadmin: Permission denied)"
Hi Team,

Need your advice on this issue:

NFS-Ganesha is running on container.
Initially, I can mount these NFS Exports on NFS Client, however after few hours, some mount can not be mounted (/nfs-test/ictadmin: Permission denied: Permission denied).

To recover these mounts, docker needs restart.

======
NFS-Ganesha Release = V3.3

## Config Snip-it:

EXPORT
{
        Export_Id = 1;
        Path

[2021-06-28 16:03] bom-bahadur commented on #575
@ffilz Sure, thanks.
https://github.com/nfs-ganesha/nfs-ganesha/issues/722

[2021-06-28 22:23] ffilz commented on #722
This error is the issue:

2021-06-24 23:55:09 : epoch 60d51b5b : nsds01 : ganesha.nfsd-116575[dbus] fs_read_recov_clids_takeover :CLIENT ID :EVENT :Recovery for nodeid -1 dir (/var/lib/nfs/ganesha/10.11.4.33/v4recov)

I'm not sure why your nodeis is -1 or why an ip address is in the recovery directory path, but without that recovery directory existing, you will have problems

[2021-06-28 22:27] ffilz commented on #722
This error

2021-06-25 00:18:01 : epoch 60d51b5b : nsds01 : ganesha.nfsd-116575[svc_45] fsal_common_is_referral :FSAL :EVENT :Failed to get attrs for referral, handle: 0x7f370400b660, valid_mask: 0, request_mask: 11dfce, supported: 0, error: Permission denied
2

Is not particularly an issue, we do need to figure out why it's happening but you have a file that Ganesha thinks might be a referral but

[2021-06-30 09:51] Hearzzhen opened #723 "rgw_readdir stuck in V3.4"
Ganesha Version: 3.4

Steps:

1. Mount to ceph cluster by using FSAL_RGW.  mount -t nfs4 10.4.128.46:/mnt/cephfs /home/cephfs
2. Creating 10000 files by vdbench, the structure is as follows(Bucket1 is mount bucket):   anchor=/home/cephfs/Bucket1/single4KTest_Ganesha_rgwnfs_2,depth=2,width=10,files=100,size=64K,openflags=o_direct
3. When Step2 complete, run 'ls', in /home/cephfs/Bucket1/single4KTes

[2021-07-01 13:09] rafikc30 opened #724 "High memory consumption while using gluster with ganesha 3.5.11"
We are running NFS-Ganesha's latest version 3.5.11 with gluster vfs. We are experiencing high memory usage with mainly write fops, our file size ranges from 1-64k. 3 Client machine is accessing the share and the application writes the data with 4 threads.

The RES memory consumption is around 5.5g, among them, 296MB is used by gluster. I have verified the gluster memory consumption using the glust

[2021-07-03 16:36] ZhangErling opened #725 "Does Windows 10 upload files to NFS at a maximum speed of 15M/s?"
Hello, I'm glad you took the time to look at this issue !
This article is a machine translation, may cause dyslexia, please forgive

I have been building a GlusterFS cluster for more than one month. The client uses NFS-Ganesha, but the maximum upload speed on Windows is always 10-15 M/s, which can be full speed on Linux. I can't find relevant instructions online, only some netizens who have built

[2021-07-05 08:55] vicunana opened #726 "Add new reverse notification by hsepeng"

[2021-07-06 14:28] ffilz commented on #726
Was there some issue here? Otherwise cryptic.

[2021-07-06 14:34] ffilz commented on #724
If you can run Ganesha with valgrind/massif that can help determine where the memory is going.

We have in the past had issues where any attempt to understand the memory use suggested there wasn't that much memory in use, which made it seem like unused pages weren't being released (so they still count against the process). I don't know if there's fragmentation so all the pages are utilized even th

[2021-07-06 14:37] ffilz commented on #725
Have you compared Linux clients and Windows clients on the same server?

Can you compare Windows clients against a Linux kernel NFS server (maybe just serving a local filesystem)?

[2021-07-07 06:48] rafikc30 commented on #724
Thanks, @ffilz . I will run the process against Valgrind and will share the details

[2021-07-07 14:34] ZhangErling commented on #725
Hello, I'm not using another Linux to access NFS because I don't have any extra machines (just two PCs, Win10 and Centos8).
File system in Linux Docker, NFS in Linux, I use Linux local mount or use Docker mount NFS access can be full speed.

I built an FTP in Linux, Windows access to FTP can be full speed.
Also, I can use iPerf3 bi-directional access to achieve full speed.
Two PCs on the same netw

[2021-07-08 11:20] Mr-Chengcheng commented on #724
@ffilz hello , Is my command correct ?:
valgrind  --leak-check=full --show-leak-kinds=all  /usr/bin/ganesha.nfsd -L /var/log/ganesha/ganesha.log -f /etc/ganesha/ganesha.conf -N NIV_EVENT

result:
![9cd663afd652ecf5665d27076438fcc](https://user-images.githubusercontent.com/54385902/124913265-82ec5100-e021-11eb-99ce-812cd1bcc8cd.png)

[2021-07-08 11:21] Mr-Chengcheng commented on #724
@ffilz       ganesha.nfsd -v
NFS-Ganesha Release = V3.4

![image](https://user-images.githubusercontent.com/54385902/124913553-d52d7200-e021-11eb-9bf6-9e731767a73d.png)

[2021-07-12 09:56] agin719 opened #727 "Does nfs-ganesha 3.3 support file ACL?"
Does nfs-ganesha support file ACL?
how about nfs-ganesha 3.3 ?

[2021-07-12 13:40] dang commented on #727
Depends on the FSAL you're using.  VFS, GLUSTER, GPFS, LIZARDFS, and PROXY do support ACLs,  and KVSFS, MEM, and RGW do not.  CEPH may or may not, depending on the compile-time options (which depend on the version of Ceph you built against).

[2021-07-13 14:35] rafikc30 commented on #724
@Mr-Chengcheng Are you using Ganesha with glusterfs?

[2021-07-13 14:45] Mr-Chengcheng commented on #724
YES

[2021-07-14 04:27] agin719 commented on #727
I use FSAL VFS, and I compile the nfs-ganesha with ENABLE_VFS_DEBUG_ACL, But setfacl is also failed.
compile:
mkdir build; cd build
cmake -DENABLE_VFS_DEBUG_ACL=ON ..
make

setfacl operation:
setfacl -m u:user:rw- test

output is:
setfacl: test: Operation not supported

my ganesha.conf is like that:
EXPORT
{
        Export_Id=2;
        Path = /mnt/vfs;
        Pseudo = /mnt/vfs;
        Squash =

[2021-07-14 12:47] dang commented on #727
Keep in mind, the VFS ACL support is for debugging, and is in-memory only (that is, the ACLs are not written to disk, and you will lose them all when Ganesha is restarted).  That said, I haven't use the VFS debug ACLs in a while, and they may have been broken.  I don't see any reason in the code why it would fail with "not supported".  I'd need to see a packet dump to help.  I'll take a look when

[2021-07-14 15:38] ffilz commented on #727
Is your client using NFSv3 or NFSv4?

If NFSv3, we don't support the NFSv3 side-band ACL protocol added in the Linux kernel server,

If NFSv4 you need to use nfs4_editfacl, nfs4_getfacl, or nfs4_setfacl from nsf4-acl-tools package

[2021-07-14 15:39] ffilz commented on #727
FSAL_VFS doesn't have persistent ACL support, it can be compiled to use in-memory ACLs.

Also, we do not support the NFSv3 side-band protocol for ACLs that Linux knfsd provides

FSAL_GPFS supports NFSv4 ACLs on disk
FSAL_GLUSTER and FSAL_CEPH support POSIX ACLs on disk, converted between POSIX and NFSv4 ACLs by Ganesha
FSAL_LIZARDFS supports ACLs, I don't know enough to know what kind they are
FSA

[2021-07-14 15:43] ffilz commented on #724
What is your config? It looks like you may have a lot of mdcache entries with ACLs.

It would also be worth looking into the massif tool which can capture memory use at a point in time while Ganesha is still running, and will break out the largest users.

From the output above though, looks like various hash tables are huge.

Are there any details on the possibly lost memory? All the still reachab

[2021-07-15 03:08] fangtaozc commented on #727
Under what conditions will the cephfs  exported by NFS Ganesha support nfs4_getfacl.
Thanks.

ceph version 14.2.4.2
NFS-Ganesha Release = V2.8.1.2

[root@u1 mnt]# nfs4_getfacl rook
Operation to request attribute not supported: rook

192.168.170.1:/fs_test01 on /mnt/rook type nfs4 (rw,relatime,vers=4.1,rsize=1048576,wsize=1048576,namlen=255,hard,proto=tcp,timeo=600,retrans=2,sec=sys,clientaddr=192.

[2021-07-15 06:56] rafikc30 commented on #724
@ffilz I tried to capture the massif output. I'm not sure I did it right, please let me know if I need to capture it again.
[massif.tar.gz](https://github.com/nfs-ganesha/nfs-ganesha/files/6820970/massif.tar.gz)

[2021-07-15 07:18] DX1268 opened #728 "create请求"
NFS client requests NFS-Ganesha service to convert the data into large-endian data, but NFS-Ganesha service receives the data based on the system (in small-endian case), resulting in an inaccurate value, as follows:
（1）NFS client
data->arg.create.createmode = NFS3_CREATE_UNCHECKED;
	if (flags & O_EXCL) {
		data->arg.create.createmode  = NFS3_CREATE_EXCLUSIVE;
		data->arg.create.verifier[0] = cpu_t

[2021-07-15 18:25] ffilz commented on #728
Verifier is opaque so the way Ganesha stores it shouldn't matter. And it only is ever sent by client to be consumed by server, the server never sends the verifier back to the client, so it should always get used by Ganesha in the same byte order.

[2021-07-15 18:30] ffilz commented on #724
Looks like you're missing nfs-ganesha debug information which makes the Ganesha part of the massif stack dumps less useful.

Looks like huge amounts of Gluster memory allocations, but not quite sure what they're associated with yet.

[2021-07-16 08:21] guol-fnst opened #729 "fsal_readdir returned Operation not supported"
Hi guys , recently I met some problems.
I use glusterfs6.10 as fsal for nfs-ganesha.
Version of nfs-ganesha: V4-dev.67 (commit 3b048616f4eaa92340f2cea6ecd0d03b604be3e1 )
When I mount the nfs share in the client, some error happens :
[code]
Here are the logs:

[code]

[2021-07-16 09:49] Mr-Chengcheng commented on #724
[mass-output.txt](https://github.com/nfs-ganesha/nfs-ganesha/files/6829677/mass-output.txt)
@ffilz this is massif out，but from these proofs, it is difficult to analyze how glusterfs causes high memory usage in Ganesha

[2021-07-16 12:47] dang commented on #727
It looks like Ganesha needs to be built with CEPHFS_POSIX_ACL on, and libacl needs to be installed.  There no longer appears to be a Ceph version requirement, which means all supported versions of Ceph have the capability.

[2021-07-16 13:07] dang commented on #729
Some Gluster API returned ENOTSUP.  Most of them shouldn't fail with that error.  Maybe the client requested ACLs and the Gluster cluster has them disabled?  Or maybe the client is requesting security labels, and XATTRs are disabled?  Those are the only ones that jump out at me.

[2021-07-16 14:27] ffilz commented on #729
One possible issue is that you are using Ganesha that has been compiled to utilize Gluster readdirplus but the version of Gluster you have doesn't support readdirplus.

Unfortunately FSAL_GLUSTER has little to no debug logging so we can't turn that on to narrow things down a bit.

You might look at the gfapi log.

[2021-07-16 14:42] ffilz commented on #724
mass-output.txt just seems to show during initialization time. I'm not quite sure why the ACL hash table is allocating so much, but what will be more useful is to see the memory growth as Ganesha is running and serving up files.

[2021-07-18 04:13] DX1268 commented on #728
It may be related to the CPU type of the system, and Crete then calls the setattr file attribute;Create a file on an x86 server and set the atime value of the file setattr to a very large value.Whether can modify like this:
bool check_beorle()  //Determine whether the system is big-endian or small-endian
{
    int a=0x0110;
    char b=*(char*)&a;
    if(b==0x10) {
		return true;
	}
    return fals

[2021-07-19 01:12] guol-fnst commented on #729
Thanks for your replies!
I will look at hte gfapi logs!

[2021-07-19 04:51] guol-fnst commented on #729
I have resloved this problem

[2021-07-19 04:51] #729 closed, assigned to nobody

[2021-07-19 18:53] ffilz commented on #728
Endianness shouldn't matter.

check_verifier (stat or attrlist) does the same memcpy into verf_hi and verf_lo, and then compares to atime and mtime

Since the same memcopy into a uint32_t from the request is being done, that uint32_t value should ultimately compare identical to what was assigned

[2021-07-19 18:54] ffilz commented on #728
The only way for endianess to matter is if the value was set on a machine of one endianess and checked on a machine of the other.

[2021-07-20 06:48] rafikc30 commented on #724
@ffilz I again tried after installing debug packages from Ganesha. But still, the output does not have the complete backtrace. Should I do something more, like enabling some options?

Do you have any kind of documentation for capturing massif output with Ganesha?
I can also do a source installation if that helps. Please share any doc to source install the Ganesha in case if you have it handy.

[2021-07-21 07:29] Mr-Chengcheng commented on #724
https://www.valgrind.org/docs/manual/ms-manual.html    //It can be used as a reference for massif

[2021-07-21 09:49] Mr-Chengcheng commented on #724
@ffilz hello， when ganesha is running and serving up files，the results show that it is also very difficult to analyze where the memory problem is
[massif.out.24852.txt](https://github.com/nfs-ganesha/nfs-ganesha/files/6854602/massif.out.24852.txt)

[2021-07-21 11:49] DX1268 commented on #728
Thank you very much

[2021-07-21 11:49] #728 closed, assigned to nobody

[2021-07-22 00:26] larsks opened #730 "Syntax errors should cause nfsd to exit immediately"
This is the second time I've found myself trying to diagnose a problem with nfs-ganesha only to find that it was actually a syntax error. The problem is that ganesha logs the syntax error very early on:

[code]

But then it reports that it has successfully parsed the configuration file:

[code]

And continues to attempt to run, finally logging an error that is both inaccurate and unhelpful (before

[2021-07-22 13:57] dang commented on #730
This has come up in the past, with arguments on both sides.  The argument that won was that adding a new export with a syntax error to a running Ganesha shouldn't cause it to suddenly exit, but it should keep running with the old (valid) config.

From the point of view of only configuring Ganesha at startup, I completely agree with you.  But it turns out most products using Ganesha (and therefore

[2021-07-23 12:28] Liam-program opened #731 "How to improve nfs-ganesha's I/O performance when using CEPH cluster as the backend?"
I use nfs-ganesha to store 30 million small files in ceph fs, the file size is 64k. After the file is created, randomly read and write files with 25 clients through vdbench, the read and write ratio is 6:4. Then observe the I/O performance.

But I find that I/O performance is not good, so I want to ask if there is a way to improve performance?

What I currently think of is to set the parameters of

[2021-07-23 13:28] dang commented on #731
There's not much you can do in Ganesha to improve I/O throughput, since Ganesha just passes I/O through to the back end.  It doesn't do any kind of caching or really interfere with I/O at all.  Metadata operations, however, can be affected.  That's where things like Entries_HWMark will make a difference.

[2021-07-24 01:34] larsks commented on #730
Having ganesha exit *only on startup* in the event of a syntax error would seem to be the best of both worlds. What if it were an optional behavior? `nfsd.ganesha --syntax-errors-are-fatal ...` or something.

[2021-07-28 15:28] ZhangErling commented on #725
I have full-speed access to Samba on Windows, and so far I haven't been able to fix the slow Windows access to NFS-Ganesha
Since most of my scenarios were accessing glusterfs clusters on Windows, I think my problem has been resolved, thanks for your patience

[2021-07-28 15:28] #725 closed, assigned to nobody

[2021-08-03 21:19] ffilz commented on #724
We should clean those up, but those aren't leaks that impact running, they are just a few bits that aren't properly cleaned up on exit.

[2021-08-03 21:27] ffilz commented on #730
So what was the actual error?

I would consider an option to force exit on any config failure during startup, but as Daniel says, many users of Ganesha depend on reloading config and we definitely don't want Ganesha aborting because of a bad dynamic config.

[2021-08-03 21:57] ffilz commented on #730
Another problem that was observed with problem exports in clustered environments is the cluster software restarting Ganesha and then Ganesha bouncing up and down as it is continuously restarted with a bad export config (perhaps because an exported file system was offline so not an actual syntax error).

[2021-08-03 23:59] larsks commented on #730
The actual error is in the description of this issue:

[code]

...which is why I was suggesting making an "exit on errors" behavior optional.

[2021-08-04 14:45] ffilz commented on #730
What I meant was what is actually wrong with the config file? That will help me determine how best to address where the error should be handled.

[2021-08-04 21:31] larsks commented on #730
I believe it was a missing semicolon. E.g., given something like (note missing semicolon after the `Grace_Period` setting):

[code]

Starting ganesha results in:

[code]
[code]

[2021-08-17 10:09] Bog999 opened #732 "Segfault when trying to mount a non-existent directory on startup"
I'm working on `tag: V4-dev.71` and I tried to start ganesha with this config
[code]
I got a segfault here:
[code]
Looks like `unclaim_all_export_maps` calls `release_posix_file_system` with `fs=NULL` and it gets dereferenced

[2021-08-17 17:58] ffilz commented on #732
Oops...

Fix posted here for review: https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/522402

[2021-08-18 16:43] manuelchichi opened #733 "Resource temporarily unavailable on export while using Docker Volumes"
**Summary**
I am currently trying to set up a Ganesha server over a Docker container with a volume. When I see the logs, the export is not added to the list. I have tried several images from different sources and the outcome is the same. The only way to make it work is if I don't use the volume (or bind mount) over the exported folder.

**Logs**
[code]

**Ganesha conf file**
[code]
**Relevant moun

[2021-08-18 17:54] dang commented on #733
What error message came directly before the one you listed?  There
should have been one that tells us what call actually returned EAGAIN.

My best guess is that there's a CAP issue.  In general, Ganesha using
FSAL_VFS needs to run in a privileged container do succeed.  I see
you've added several CAPs, but I'm not sure that's all the ones we need.

Daniel

On 8/18/21 12:43 PM, Manuel Chichi wrote:

[2021-08-18 19:52] manuelchichi commented on #733
Daniel, thank you for the quick answer.

Here are the [full logs](https://github.com/nfs-ganesha/nfs-ganesha/files/7009619/ganesha.log) of the Ganesha container. I don't see any other error in there.

Regards the required CAPs. I have tried running the container with "privileged: true" and the "ALL" capability set and I get the same results.

Also, I was able to run it successfully but by [creatin

[2021-08-19 13:50] dang commented on #733
It looks like the attempt to get the UUID of /export failed.  I'll admit, I have no idea why the setup you're using resulted in this failure, but it's enough to keep VFS from exporting it.

[2021-08-19 23:24] devopswise opened #734 "Error: Read-only file system"
Hi there,

Thanks for this good piece of software.
I am suffering from a mount problem for a couple of days.
I can mount NFS share served by nfs-ganesha but it is always read-only. I am getting:

[code]

**Here is my setup:**
I am using nfs-ganesha v3.2. All commands on this issue has run by root user unless specified.
I have put nfs-ganesha on docker container: here is my [Dockerfile](https://git

[2021-08-20 14:13] dang commented on #734
So, the export doesn't have write permissions, so write attempts are failing.  I'm not seeing how the write permissions are being disabled in the code.  Frank is the expert on this portion of the code, but he's off this week, so if I can't figure this out, he might be able to when he gets back.

My best guess is that it's related to permissions of the container.  Could you make the container privi

[2021-08-21 22:45] devopswise commented on #734
Hello @dang
Many thanks it is working now.
Running container in privileged mode is not an issue for my setup.

[2021-08-23 12:40] dang commented on #734
Good to know, glad it's working.

[2021-08-23 12:40] #734 closed, assigned to nobody

[2021-08-25 18:57] ffilz commented on #733
Could you enable full debug for FSAL, add this to your config:

LOG {
    COMPONENTS {
        FSAL = FULL_DEBUG;
    }
}

That will help identify the issue that is preventing /exports from being usable.

For what it's worth, most of my FSAL_VFS exports are loop back mounts of ext4 or xfs on files formatted as filesystems so it should work. You may still be missing something in the container setup

[2021-08-26 02:08] manuelchichi commented on #733
Hi ffilz, thank you for your reply.

Here are the logs after adding FULL DEBUG on the FSAL option: [ganesha.2.log](https://github.com/nfs-ganesha/nfs-ganesha/files/7050975/ganesha.2.log)

This seems to be the problem.
[code]

[2021-08-27 05:55] guol-fnst commented on #463
I have the same questions.
Environment:
Centos7.2 gluster5.13 ganesha2.7
Mount point is hung.
I think these message is not a warnings but errors.

[2021-08-27 06:14] guol-fnst opened #735 "nfs-ganesha hung"
Environmen:
Centos7.2 glusterfs5.13+nfs-ganesha2.7
This log are the same to issue(https://github.com/nfs-ganesha/nfs-ganesha/issues/463)

My mountpoint was hung. And the only way is to restart ganesha.
I think these warnings are not only warning ,but also error.

Can anyone figure out this problem?

[2021-08-30 03:47] FANGXIANGQUAN opened #736 "nfs-ganesha coredump"
Aug 30 11:20:50 ceph1 systemd[1]: nfs-ganesha.service: Main process exited, code=killed, status=6/ABRT
Aug 30 11:20:50 ceph1 systemd[1]: nfs-ganesha.service: Failed with result 'signal'.

[2021-08-30 11:54] Volemon opened #737 "nfs-ganesha crash after glfs segfault"
**Background information**
nfs-ganesha: 3.4
glusterfs: 9.3
system: Debian 10

**Description**
We are running nfs-ganesha 3.4 with glusterfs 9.3 and get ganesha crashes with following errors in journal.
In ganesha log there are only standard initalizing informations -> ganesha is automaticaly started after crash by pacemaker.

**steps to reproduce**
Unfortunately issue seems to be rather random so

[2021-08-30 13:57] dang commented on #463
The health status messages are warnings.  They are best-effort indications that something might be wrong.  Due to the way the warning is implemented, it might trigger sometimes when there's nothing wrong, depending on client load.  However, if it happens frequently, or if it happens multiple times in a row with the same numbers, then it's an indication that something is either hanging or taking a

[2021-08-30 14:00] dang commented on #737
Unfortunately, there's not enough information here for us to do anything.  Can you get a backtrace, with debuginfo installed?  I don't know how to do this on Debian (I'm a Fedora user), but there should be easy docs to follow.

[2021-08-30 14:54] BobocIonutGabriel opened #738 "Different return codes"
https://github.com/nfs-ganesha/nfs-ganesha/blob/be092f7e5ea7f17d3f17dc0ee5020243845c44b9/src/scripts/ganeshactl/ganesha_mgr.py#L41

Hi,

Shouldn't the tool `ganesha_mgr` return different codes based on the operation success/failure ?

Ex:
Right now it doesn't matter if an export was added/removed successfully the tool returns with exit code 0.

[2021-08-31 02:07] FANGXIANGQUAN commented on #736
system version: centos8
nfs-ganesha version: 3.5-3

[2021-08-31 17:37] r-deshmukh opened #740 "VFS FSAL : directory remove problem"
This is regarding the problem observed in nfs ganesha. The problem is when one try to
remove the directory (in case of VFS FSAL) it returned with an error "Device or
resource busy".Interestingly it mount that directory at client side.

I have investigated this problem and found out that the fsid is getting changed and hence
problem is when we try to remove the directory. Further investigation reve

[2021-08-31 20:00] ffilz commented on #740
The issue is that every time posix2fsal_attributes_all is called in FSAL_VFS, we need to also set the fsid after the call.

Here's the fix: https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/523213

[2021-08-31 20:02] ffilz commented on #736
We need more information, most useful will be a stack backtrace from gdb with debug packages installed so the stack backtrace has proper symbols shown for all entries.

[2021-08-31 20:18] ffilz commented on #735
These warnings are probably just one of the symptoms of your hang.

We need more information, a tcpdump trace might help, enabling some debug might help, but it would help to start with any information you can give as to what activity led to the hang. Also, how repeatable is the hang?

[2021-08-31 20:25] ffilz commented on #733
What is the structure of your filesystems?

It looks like "/" and "/exports" have the same device number and thus the messages you highlighted above.

It may be an issue with how filesystems in containers work. I'm not sure anyone has successfully used FSAL_VFS in a container.

[2021-09-01 01:11] FANGXIANGQUAN commented on #736
@ffilz
Thank you very much!
1) Core file has no limit on size;
2) There is no trip OOM in the system log, GDB and log are below
GDB:
#0 0x00007F92b8F5237f In raise () from /lib64/libc.so.6
#1 0x00007F92b8f3CDB5 in abort () from /lib64/libc.so.6
#2 0x00007f92a6cc4b75 in ceph::__ceph_assert_fail(char const, char const, int, char const*) () from /usr/lib64/ceph/libceph-common.so.2
#3 0x00007f92a6CC4d

[2021-09-01 01:12] FANGXIANGQUAN commented on #736
System logs:
Aug 30 09:40:36 ceph1 systemd-coredump[1077029]: Removed old coredump
core.ganesha\x2enfsd.0.9cb285f8135e4823b3fa8ef863a9ca32.965973.1630269785000000.lz4.
Aug 30 09:40:38 ceph1 systemd-coredump[1077029]: Core file was truncated to 2147483648
bytes.
Aug 30 09:40:43 ceph1 systemd-coredump[1077029]: Process 1065997 (ganesha.nfsd) of user 0
dumped core.

[2021-09-01 09:52] Volemon commented on #737
Thanks, I will provide backtrace after getting next SEGV.

[2021-09-01 14:04] skmprabhu1 opened #741 "low timestamp granularity support in nfs-ganesha"
Currently,  timestamp granularity is hard coded with 1sec in ganesha.

And, sometimes nfs client shows below warning.
“WARNING: This NFS server only supports 1-second timestamp granularity"

As the per discussion(in call),  timestamp granularity  should be based on the underlying filesystem support.
We need to add new fsal api to get timestamp granularity from FSAL and use it.

[2021-09-01 17:30] dang commented on #736
I think there must be a mismatch between your libcephfs version, and the debuginfo version for libcephfs.  The call path originating in ceph_fsal_setattr2() doesn't call Client::ll_sync_inode().  Please make sure your debuginfo matches your libcephfs.

[2021-09-01 23:47] ffilz commented on #741
Part 1 of this is https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/523214

However, to make any difference, the FSALs need to set something other than 1 second...

The issue is what actually to set.

FSAL_PROXY_V3 requests time_delta from the server, however, this may not be ideal. The Limux NFSv3 server ALSO reports a 1 second time_delta...

For FSAL_VFS (and most likely FSAL_GPFS, FSAL_CEPH, an

[2021-09-01 23:49] ffilz commented on #741
BTW, I did a test of touching files on xfs, ext4. and btrfs, and the timestamps are NOT rounded as far as I can tell, I see odd numbers of nsec if I do:

[root@fedora src]# touch /export/btrfs/tcheck /export/test1/tcheck /export/xfs1/tcheck && ls -l  --time-style=full-iso /export/xfs1/tcheck /export/test1/tcheck /export/btrfs/tcheck
-rw-r--r--. 1 root root 0 2021-09-01 16:48:18.838843299 -0700 /ex

[2021-09-02 13:40] manuelchichi commented on #733
This are the [current mounts](https://github.com/nfs-ganesha/nfs-ganesha/files/7099145/mounts.log) that the container has and this are the [current block devices](https://github.com/nfs-ganesha/nfs-ganesha/files/7099161/lsblk.log) that are recognized. Here you have the [IDs](https://github.com/nfs-ganesha/nfs-ganesha/files/7099230/blkid.log) of those last ones.

[2021-09-02 14:58] Volemon commented on #737
I used coredump with dbgsym packages installed and this is what i got:
[code]
I have never used gbd before so i'm not sure if it's proper output.

[2021-09-03 03:07] PandaEye2009 commented on #736
hi~ dang, I have the same problem on centos8.
ceph: v16.2.5
nfs-ganesha:v3.5 last release

I installed ceph with CephAdm, intalled nfs-ganesha with yum, i did not specified debuginfo and libcephfs version, is that caused core dump or the backtrace exception?

And I read the code, found that ceph_fsal_setattr2()  calls Client::ll_sync_inode() by the way:
ceph_fsal_setattr2() ---> fsal_ceph_ll_setat

[2021-09-03 11:57] kalebskeithley commented on #736
Independent of how they were installed, there appears to be mismatch between the rpms and the debuginfos. If you didn't explicitly install the debuginfo then there might be one or more leftover debuginfos from earlier, or no debuginfo installed at all.

Do an `rpm -qa | grep ceph` and/or `rpm -qa | grep ganesha`  Make sure that the ceph and ganesha debuginfo rpm versions exactly match the correspo

[2021-09-03 13:46] dang commented on #737
If the proper debug symbols are installed, then the line "#0 ??" will have a function name and arguments.  At that point, you can issue the "bt" command (or "backtrace", which is the full command name) and it will print a list #0 function, #1 function, and so on, listing the callpath of function names that got us to the crash point.  It should also include line numbers.

[2021-09-03 14:54] PandaEye2009 commented on #736
Thank you kalebskeithley,
I do as you said, the backtrace has some debug info like this,
It seems coredump at sync_inode after setsttr some file's mode to 420.

(gdb) bt
#0  0x00007ff8b60cb37f in raise () from /lib64/libc.so.6
#1  0x00007ff8b60b5db5 in abort () from /lib64/libc.so.6
#2  0x00007ff8a3e3db75 in ceph::__ceph_assert_fail(char const*, char const*, int, char const*) () from /usr/lib64/ce

[2021-09-03 17:22] ffilz commented on #741
There are two patches for this:

https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/523214
https://review.gerrithub.io/c/ffilz/nfs-ganesha/+/523405

Failing to find any good way to programatically get a value, and after some discussion, I have set time_delta to 100 ns for each FSAL. I'm not sure this is the best value. Ultimately, I think every FSAL (including FSAL_VFS with common filesystems) stor

[2021-09-04 02:40] PandaEye2009 commented on #736
In my code from git,
Inode.cc

76:  if (!in.dentries.empty())
77:    out << " parents=" << in.dentries;

I find something strange, my backtrace shows coredump at line 77, but I print the value of "if()" is false , what happened? Or some wrong symbols in backtrace? Or my code doesn't match the libcephfs which backtrace shows?

The in.dentries value as {_front = 0x0, _back = 0x0, _size = 0} , it wil

[2021-09-10 00:34] datamattsson opened #742 "Ganesha fails to start with initial numerical DNS label in DomainName without quotes."
I recently moved my equipment from on location to another, that included a DNS change with fairly deep labels and witnessed a weird behaviour. Is this documented anywhere?

[code]

Chopping off one label in the config file, Ganesha starts.

Fails:
[code]

Works:
[code]

Also works:
[code]

[code]

[2021-09-10 00:48] martinetd commented on #742
I don't think it's the number of entries, but that it starts with a digit. Can you try 436.net ?
If we can confirm that it's probably not too voodoo anymore to fix.

[2021-09-10 03:12] jqqqqqqqqqq opened #743 "Add option for "insecure" (/etc/exports equivalence)"
Hi,

I noticed the option "insecure", which is pretty common in `/etc/exports` is missing in nfs-ganesha. This leads to unable to mount nfs shared by nfs-ganesha in many non privileged clients (e.g. macOS GUI). Is it possible to add this important and necessary feature for nfs ganesha?

TrueNAS Scale adopts nfs-ganesha as NFS server, so without this feature, any non-root client cannot connect to N

[2021-09-10 07:27] datamattsson commented on #742
`436.net`, no quotes:
[code]
I guess the all number label in the beginning is the problem as `foo.436.net`, no quotes, works just fine.

**Edit:** Adding a letter in front of 436 in my long domain name works too. I.e `v436.my.very.deep.dns.many.labels.net`.

[2021-09-10 13:52] ffilz commented on #743
The EXPORT option you're looking for is PrivilegedPort which actually defaults to false.

[2021-09-10 15:28] jqqqqqqqqqq commented on #743
Thanks for answering!

[2021-09-10 15:28] #743 closed, assigned to nobody

[2021-09-10 16:30] ffilz commented on #742
Using quotes is probably the best solution.

I'm sure a lex/yacc expert could re-do the regex to find a workable definition that would collect any valid domain name and not trip up numeric parsing but the question is how worth the effort is if we can just quote the strings.

[2021-09-10 16:35] datamattsson commented on #742
Documentation is a perfectly good answer.

[2021-09-10 16:35] #742 closed, assigned to nobody

[2021-09-12 17:01] Bog999 opened #744 "Mounting a sub-directory doesn't work when using pseudo path"
Hi, I'm trying to mount a sub-directory while pseudo paths are enabled and it fails, but when I try the same thing without pseudo paths it works. Is this intentional?

I'm testing this on `V4-dev.9`, also tested on `V3.3`

Configuration:
[code]
When I mount /gs1 it works fine, but when I try to mount /gs1/subdir I get access denied by server.
If I remove `mount_path_pseudo = true` mounting the sub

[2021-09-13 14:29] ffilz commented on #744
OK, I think I get what the issue is. I'll take a look at doing a patch.

[2021-09-13 14:35] Bog999 commented on #744
Thanks!
I think that the call to `op_ctx->fsal_export->exp_ops.lookup_path(op_ctx->fsal_export, arg->arg_mnt, &obj, NULL)))` should be with the real absolute path and not with the pseudo path.

[2021-09-13 17:21] ffilz commented on #744
This has been fixed by commit 2acd535c80d523ec354e09ba787983053d2f5a43

Unfortunately that is not slated for back port to V3.x, perhaps we should change that since we don't have a close date for V4.0 development yet.

[2021-09-14 07:55] rafikc30 commented on #724
@Mr-Chengcheng  I'm still chasing the problem with the memory leak. Do you have any luck figuring out the problem?

[2021-09-14 08:33] rafikc30 commented on #724
@ffilz When I test a simple file create, read and delete in a loop for the same number of files with same filename, the memory keep constants. But if I use just file create with different names without delete, the memory keeps on increasing. Do you see any probably issues with Ganesha caching or something?

[2021-09-15 13:28] dang commented on #744
Or maybe just release 4.0?  It's coming up on 2 years...

[2021-09-17 13:49] rafikc30 commented on #724
@ffilz
I reproduced again, but this time with proper symbols and a more detailed massif output. I even used an output visualizer to read. These tools suggested some memory consumption. I'm looking from gluster perspective, and I found that the memory utilization from the gluster stacks is constant across snapshots.  But the a leak from ganesha is increasing from snapshot to snapshot. On the final

[2021-09-20 06:07] rafikc30 commented on #724
I ran the work load over the weekend where the memory footprint increased to 57GB [massif-test-second-run.log](https://github.com/nfs-ganesha/nfs-ganesha/files/7193832/massif-test-second-run.log). As you can see on the massif output the same backtrace consuming 52.6GB memory
![Screenshot from 2021-09-20 11-36-54](https://user-images.githubusercontent.com/3429960/133962312-ba366e19-50c2-4400-a657-f

[2021-09-22 03:06] Mr-Chengcheng commented on #724
What tool do you use for the memory map of IO stack?

[2021-09-22 03:06] Mr-Chengcheng commented on #724
@rafikc30 hi， What tool do you use for the memory map of IO stack?

[2021-09-22 03:08] Mr-Chengcheng commented on #724
@rafikc30 ，close  gluster open-behind xlator，can control the rapid growth of memory leakage

[2021-09-23 08:29] rafikc30 commented on #724
@Mr-Chengcheng Thanks for your suggestion, I'm testing it. I will report my status.
Regarding the tools and command,
Command used `valgrind --tool=massif --pages-as-heap=yes --time-unit=B --smc-check=all --trace-children=yes --massif-out-file=/var/log/massif-test1.out --max-stackframe=1201018400000 /usr/bin/ganesha.nfsd -F`

visualizer : https://github.com/KDE/massif-visualizer . You may need to s

[2021-09-27 08:01] rafikc30 commented on #724
@Mr-Chengcheng  I repeated my testing with the open-behind xlater turned off. It didn't help. I ran the workload over the weekend and the memory reached 87GB. Here is the massif file as well as the backtrace by the virtualization tool.
[massif-test-without-openbehind.log](https://github.com/nfs-ganesha/nfs-ganesha/files/7234405/massif-test-without-openbehind.log)
![Screenshot from 2021-09-27 13-12

[2021-10-01 14:08] davkar3n commented on #731
NFS mount is very slow on my env comparing with CEPHFS mount.

This is NFS mounted .
![image](https://user-images.githubusercontent.com/26478599/135633921-31209df8-1aa2-47e5-bc25-d082f084201d.png)

cephfs mount.

![image](https://user-images.githubusercontent.com/26478599/135633960-8414463b-0e64-4bec-8878-b30fbb3fd3fb.png)

Any suggestion guys ?

[2021-10-01 15:13] dang commented on #731
@jtlayton Any ideas?

[2021-10-01 15:48] jtlayton commented on #731
I don't know of any magic bullets. This configuration is just not built for speed -- it concentrates all of the data and metadata access through the same servers, for one thing. libcephfs also has scalability problems due to it's use of a giant mutex to serialize operations.

Really, the best thing we could do to help performance would probably be to add support for pNFS, but there isn't currently

[2021-10-04 08:51] sempervictus opened #745 "Uninitialized variables preventing build on GCC11"
Building with GCC 11.1, the `-Werror=maybe-uninitialized` problem comes to light in several pieces of the code:
[code]

[2021-10-06 23:32] ffilz commented on #745
I think those are all false positives. I use GCC 11.1 also so not sure why the difference other than maybe we don't use -Werror=maybe-uninitialized, maybe these types of false positives are why we don't use it.

[2021-10-07 19:12] davkar3n commented on #731
is it possible that you moved to NFSv4 ?

[2021-10-08 06:27] liyinshubyte opened #746 "Why setattr twice for each open ?"
@ffilz When ganesha create file by OP_OPEN, ganesha will call [setattr](https://github.com/nfs-ganesha/nfs-ganesha/blob/next/src/FSAL/FSAL_CEPH/handle.c#L1570) after create file in OP_OPEN. But nfs client will also call [OP_SETATTR](https://github.com/torvalds/linux/blob/master/fs/nfs/nfs4proc.c#L3187) after OP_OPEN. So, why we setattr twice ? Because it will increase the latency, so I want to imp

[2021-10-08 13:36] ffilz commented on #746
Most open/create come with at least some attributes to set. Ganesha is just setting those attributes as requested. Then the compound may come with additional attributes to set, which ganesha is also obligated to set.

What is most likely in this scenario is that it is an EXCLUSIVE create, which needs to set a verifier as part of the open, and then if the exclusive create succeeds, the client wants

[2021-10-09 02:15] liyinshubyte commented on #746
@ffilz Thanks for the explanation. As you said, when EXCLUSIVE create, client send OP_OPEN which need to set verifier, i.e. atime, ctime, mtime, then client send OP_SETATTR which set mode. So can we cache atime, ctime, mtime in ganesha, and when ganesha receives OP_SETATTR, ganesha send one rpc to set atime, ctime, mtime and mode together, which can save one rpc call ? Because in our case, there i

[2021-10-11 13:14] dang commented on #746
Not if we want to be correct.  The issue is that the client doesn't have to send a SETATTR at all, but we have to set the attributes that were part of the open.

[2021-10-11 15:11] liyinshubyte commented on #746
@dang Hi, thanks the explanation.  But client does send SETATTR  [here](https://github.com/torvalds/linux/blob/master/fs/nfs/nfs4proc.c#L3187). Even though the client crash before sending SETATTR, it also seems does not matter. Because, when client crash without sending the SETATTR, the file will not has mode, then the atime, ctime, mtime seems unnecessary for the file without mode.

[2021-10-11 16:19] yocalebo opened #747 "systemctl reload nfs-ganesha doesnt work"
Running debian 11 using kernel `5.10.70` and with nfs-ganesha version `3.4-1`.

Using a simple config:
[code]

Changing the `Pseudo` entry to `/mnt/cargo/nfstest01` and then `systemctl reload nfs-ganesha` produces the following errors in the log file:
[code]

The underlying filesystem is ZFS, if that makes any difference.
[code]

This doesn't seem to be related to the `Pseudo` parameter either. He

[2021-10-11 16:24] boulos commented on #746
Hmm. Is there a good reason the client doesn't issue this as a COMPOUND of
open exclusive plus setattr?

[2021-10-11 16:35] dang commented on #747
In 3.x, you cannot change the pseudo path of an export, you need to restart Ganesha for that.  This has been changed in next, and it's now allowed.  That feature will be available in 4.0.

The unclaimed warning isn't causing an error, because Ganesha just unclaims the FS after emitting that warning.  I'm not sure why the FS is still claimed, Frank is the expert in that code. However that's not a f

[2021-10-11 16:55] yocalebo commented on #747
Brilliant, thanks for the information. Unfortunately, when changing this and issuing a `systemctl reload nfs-ganesha` I'm unable to mount the export anymore. I have to revert `ganesha.conf` to what it was before I made any changes and then issue  a `systemctl restart nfs-ganesha` before I'm able to mount again on the client.

[2021-10-11 17:15] ffilz commented on #746
I just did a test, and I don't see a 2nd SETATTR from the client (Fedora 34) using NFS v4.2.

Ganesha DOES need to do a setattr to the back end to put the exclusive create verifier into mtime/ctime.

Also, mode should be set by the open, and the client for sure sends a mode (the only attribute it sends with the OPEN).

I suspect the client doesn't bother sending a SETATTR for the time because it e

[2021-10-11 17:20] ffilz commented on #747
I think there were some bugs in the file system claiming. I'd have to do some debugging on Ganesha V3 to see what the exact issue is and if a reasonable fix can be made. Tag also can not be changed in V3 (I'm actually not sure it will be changeable in V4, but actually no one really needs to use Tag, it's for a specific use case that was never fully realized - we should deprecate it...).

[2021-10-12 01:35] liyinshubyte commented on #746
@ffilz Hi, following is my test, OPEN followed with SETATTR when touch a file, from the client Debian 4.14.81 using NFS v4.2.
![image](https://user-images.githubusercontent.com/92144382/136876968-0ca6f149-7eda-4a8c-95d4-8a0b5002f778.png).

The log as follows:

[code]

[2021-10-12 14:51] ffilz commented on #746
That SETATTR is the SETATTR required by the RFC after an exclusive create.

What FSAL are you using? A FSAL COULD avoid extraneous SETATTR by doing the following for V4.1+ with some additional help from Ganesha:

The EXCLUSIVE4_1 create allows setting any attribute on OPEN not used to store the verifier
FATTR4_SUPPATTR_EXCLCREAT specified the attributes that can be set (and thus are not used by th

[2021-10-12 16:05] PopiBrossard opened #748 "Stale file handle when using nfs-ganesha with BeeGFS (FSAL_VFS)"
Dear maintainer,

When using nfs-ganesha to export in NFSv4 a beegfs mount, I (randomly ?) get errors about "Stale File Handle". I don't think it's the same as #479 because I'm facing this error when accessing some directories, not during the mount process.

It's not immediatly after starting the NFS server, but when trying to access some files or directories the NFS client get a "Stale File handl

[2021-10-12 19:49] ffilz commented on #748
How easy is this to recreate? We could crank up the debug, but if it takes a while to recreate, it could be an enormous debug log.

Instead of the debug you have above, I would look for FSAL=FULL_DEBUG; READDIR = FULL_DEBUG;

What does BeeGFS do that other filesystems don't? That might be a clue as to why a handle is going stale.

Another point that may be worth some investigation is running with

[2021-10-13 01:24] liyinshubyte commented on #746
@ffilz Thanks the reply.

We use FSAL implemented by ourselves.

Is there an existing example of how to use FATTR4_SUPPATTR_EXCLCREAT ? i.e. when and where to set the attributes in FATTR4_SUPPATTR_EXCLCREAT, and how to send it to client ?

[2021-10-13 13:50] ffilz commented on #746
No example, actually we will have to add a call to FSAL API to fetch the attribute mask and then plumb up the protocol layer to pass it.

[2021-10-13 23:56] liyinshubyte commented on #746
@ffilz Do you mean ganesha will add this feature in future ?

If ganesha has not implemented this feature, why you did not see  a 2nd SETATTR ? sorry for this question.

[2021-10-14 13:57] ffilz commented on #746
We can log this as an enhancement request. I'm not sure when we would get to it unless we have a compelling reason, perhaps someone working on FSAL_PROXY_V4 might find reason to implement this enhancement.

I'm not sure yet, I'm debugging. Somehow we're signalling the client wrong, or there's actually a client bug.

[2021-10-15 00:13] yocalebo commented on #747
Thanks for the explanation, this is expected behavior for the version we're using so I'll close this out.

[2021-10-15 00:13] #747 closed, assigned to nobody

[2021-10-15 16:59] ffilz opened #749 "Use utf8str for readlink result"
It's currently a gsh_buffer but would look more consistent as the utf8str it should be.

[2021-10-15 23:44] rTiGd2 commented on #730
I'd agree that fail quit on startup but on reload a better error message that it was staying with the current running config is certainly the way to go.

[2021-10-18 09:48] PopiBrossard commented on #748
Hi,

The most difficult step, I think, is to deploy a BeeGFS. Then, install NFS-ganesha and export the beegfs mount. On a client, try to access the export regularly, and after some time you should see a "Stale File Handle".

I forgot to say something, but when a directory is in "Stale file handle" in the NFS mount, the BeeGFS mount don't have any issues to access the same directory.
[code]

## The

[2021-10-18 20:03] ffilz commented on #748
Are you following the guidelines here: https://doc.beegfs.io/latest/advanced_topics/nfs_export.html All of that will apply to Ganesha also (well no worry about the file lease bit, Ganesha will close files when the NFSv4 client closes, on the other hand, we may keep a global file descriptor open for getattr and stuff, that might cause problems.

Can you try using the kernel NFS server? Do you see t

[2021-10-18 20:06] ffilz commented on #730
It would be nice if the parser spit out more information about an error... It would be nice if someone a bit more familiar with Bison and Lex could dig into that...

I'd also be open to a patch to make export config errors on startup fatal.

[2021-10-19 07:29] PopiBrossard commented on #748
Yes I'm following the guidelines (Delegations disabled using the ganesha parameter, only NFSv4, tuneRefreshOnGetAttr is true).

The NFS-kernel-server works without any issues (I was using it before trying ganesha. 1 month without any "Stale File Handle").

Shouldn't this create an issue when accessing the BeeGFS mount directly ? Because, on the NFS server, I can access normally all my files:
[code

[2021-10-19 17:19] ffilz commented on #748
If the problem is a handle that is too big for Ganesha to use with FSAL_VFS (which is any handle too big for NFSv3) then Ganesha will be giving the client handles that can't be resolved back to an inode by BeeGFS and thus the ESTALE. The BeeGFS local mount won't have the same issue because it's prepared to use the full handle size or doesn't depend on the handles.

Now there is partly a problem wi

[2021-10-19 17:22] ffilz commented on #736
Are you still investigating this? You will need to make sure the debug info matches the binaries otherwise the back trace will be useless.

[2021-10-19 17:27] ffilz commented on #613
I've moved this from wontfix to enhancement and clarified the issue in the title. This is not a commitment to make this enhancement but properly annotates the issue so it can be considered when deciding additional feature work to be done for Ganesha.

[2021-10-19 17:30] ffilz commented on #710
With V4-rc1 on the horizon, this will need to be addressed. Opening an https://github.com/nfs-ganesha/nfs-ganesha-debian/issues/40

[2021-10-19 17:30] #710 closed, assigned to nobody

[2021-10-19 17:32] ffilz commented on #668
We're going to be releasing V4.0 soon, with rc1 this week. Where are we at with this?

[2021-10-19 17:33] ffilz commented on #517
Since we are soon to release Ganesha V4.0 could we make sure the PROXY documentation on the Wiki is useful?

[2021-10-19 17:34] ffilz commented on #702
Is this still an issue? We are soon to release Ganesha V4.0 with rc1 this week. If this is something that is still an issue, let's see if we can get a fix.

[2021-10-19 17:35] ffilz commented on #377
Is this still an issue?

[2021-10-19 17:36] ffilz commented on #694
Did we make any progress on this? We will be releasing Ganesha V4.0 soon with rc1 this week. If there is something we can address here it would be good to get it in.

[2021-10-19 17:37] ffilz commented on #693
We will be releasing Ganesha V4.0 soon with rc1 this week. Is this still an issue? Can we try V4-dev?

[2021-10-19 17:45] ffilz commented on #318
And bump again - maybe something to work on this week...

[2021-10-19 17:46] ffilz commented on #574
Bump - lets take a look at this one before we release V4.0

[2021-10-19 17:50] ffilz commented on #692
This is best resolved by resolving the issue with loop mounting. In order for Ganesha to expose the filesystem in a file to export it would have to implement the whole filesystem. Closing as wontfix.

[2021-10-19 17:50] #692 closed, assigned to nobody

[2021-10-19 17:50] ffilz commented on #253
And bump...

[2021-10-19 17:51] ffilz commented on #698
We should clean up the wiki page...

[2021-10-19 17:59] ffilz commented on #704
I think this is beyond the scope of Ganesha and is more a general NFS server management question. Closing.

[2021-10-19 17:59] #704 closed, assigned to nobody

[2021-10-19 17:59] ffilz commented on #686
Is this still an issue or can we close it?

[2021-10-19 18:02] ffilz commented on #699
In my work on libcephfs and FSAL_CEPH to implement async, I see the lazy I/O stuff. I think this could be investigated as part of that effort.

As far as the question for current Ganesha (with V4.0 due out soon), that would be best handled by testing. I'm not sure who could put resources into that testing.

[2021-10-19 18:03] ffilz commented on #589
Daniel, could you look at documenting FSAL_RGW on the Wiki?

[2021-10-19 18:05] ffilz commented on #557
Bump, with Ganesha V4.0 releasing soon, rc1 this week, let's revisit this issue.

[2021-10-19 18:06] ffilz commented on #666
I think this can be resolved by turning stuff off so closing. If there really is something where we can't turn things off to satisfy vulnerability scans, please reopen with specifics.

[2021-10-19 18:06] #666 closed, assigned to nobody

[2021-10-19 18:07] ffilz commented on #603
Is this still an issue? Could you try with Ganesha V4-devel?

[2021-10-19 18:10] ffilz commented on #681
This really needs more investigation but I'm not sure where the resources are to do it.

[2021-10-19 18:10] ffilz commented on #642
Closing this, the Ganesha community really isn't able to support FSAL_GPFS.

[2021-10-19 18:10] #642 closed, assigned to yogendra-t

[2021-10-19 18:12] ffilz commented on #685
Closing this for lack or any response. With V4.0 due out soon (rc1 this week) there will be some attention on compiling and testing on more platforms. If there is an issue relevant to the platforms we generally support, it will arise and be addressed.

[2021-10-19 18:12] #685 closed, assigned to nobody

[2021-10-19 18:13] ffilz commented on #683
Since this is a GPFS issue and the Ganesha community really is not in a position to support FSAL_GPFS, I am closing this.

[2021-10-19 18:13] #683 closed, assigned to yogendra-t

[2021-10-19 18:15] ffilz commented on #361
Daniel, could you look at verifying delegations with FSAL_CEPH.

[2021-10-19 18:16] ffilz commented on #691
Daniel, could you take a look at this one?

[2021-10-19 18:18] ffilz commented on #711
Closing this one for lack of any response. It doesn't sound like it's a Ganesha code issue.

[2021-10-19 18:18] #711 closed, assigned to nobody

[2021-10-19 18:20] ffilz commented on #712
Can you verify on V4-devel? Ganesha V4.0 will be released soon with rc1 this week. In the community call today we discussed that one of the features of V4 is more aggressive LRU pruning which should help this issue.

[2021-10-19 18:21] ffilz commented on #716
Closing this for lack of response. Plus the scan is of old code.

[2021-10-19 18:21] #716 closed, assigned to nobody

[2021-10-19 18:22] ffilz commented on #719
Closing for lack of response and it seems like it's actually a question for how Ceph works and is thus outside the scope of the nfs-ganesha project.

[2021-10-19 18:22] #719 closed, assigned to nobody

[2021-10-19 18:23] ffilz commented on #722
Closing for lack of response and I don't think there's any code change to Ganesha warranted based on the analysis so far.

[2021-10-19 18:23] #722 closed, assigned to nobody

[2021-10-20 06:34] readerx commented on #668
Is there a solution for this bug?

[2021-10-20 08:53] qwazer opened #750 "Broken link in github organization description"
http://nfs-ganesha.github.com is not available, should be https://nfs-ganesha.github.io

![image](https://user-images.githubusercontent.com/3875925/138061585-0ef0da42-a691-4933-bbce-25aa42913e53.png)

[2021-10-20 13:40] dang commented on #361
Probably not.  I don't currently have a working CephFS setup.  If I get time, I may be able to set one up.

[2021-10-20 14:06] dang commented on #691
Tests run fine for me with FSAL_MEM, but not FSAL_VFS.  Since they were designed to run with FSAL_MEM, and never tested with any other FSAL, I think this is okay for now.

[2021-10-20 14:06] #691 closed, assigned to dang

[2021-10-20 15:33] boulos commented on #668
I never got a chance to attempt changing how session create (and recreate)
is handled. The proxy v4 code has a pretty tangled assumption that it can
open connections "at boot" and then just tickle them to reopen.

I think it has to call DESTROY_SESSION before doing another CREATE_SESSION
(which could be easy), but it's not clear to me if it'll break something
about the CLIENTID / slot / proxy inde

[2021-10-20 20:30] ffilz commented on #723
Is this still an issue we need to look at?

[2021-10-20 20:32] ffilz commented on #727
FSAL_CEPH will require Ganesha V4.0 to use ACLs. V4.0 is due out soon with rc1 coming this week.

[2021-10-20 20:33] ffilz commented on #736
Bump to keep active issues at the top of the list.

[2021-10-20 20:34] ffilz commented on #731
Is this still active?

[2021-10-20 20:42] ffilz commented on #738
I don't know if we have anyone who really understands the dbus stuff anymore. I'm really not clear how the error reporting for dbus commands works.